{% extends "base.html" %}
{% load i18n static %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "404 | PyCon Africa 2020" %}{% endif %}{% endblock %}



{% block content %}


<div class="text-center g-flex-centered-item g-position-rel">
 
  <div class="g-absolute-centered">
    
    <div class=" u-shadow-v1-5 g-line-height-2 g-pa-40 g-mb-30" role="alert">
            
          
      <div class="card border-0 rounded-0 g-mb-50">
       <img class="g-width-384 g-height-299" src="{% static '2020/img/404.png' %}" alt="404">
      
       <br>
       <p class="g-color-black g-font-size-16">
        Sorry! Seems the page you might be looking does not exist
       </p>
       <a class="btn u-shadow-v32 g-color-primary g-color-yellow--hover g-bg-white g-bg-main--hover g-rounded-30 g-px-35 g-py-13" href="/" target="/" disabled><b>GO BACK HOME</b></a>
 
        
      </div>
 
 
 
        </div>
  </div>
</div>

{% endblock %}