{% extends "base.html" %}
{% load i18n static %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "CFP | PyCon Africa 2020" %}{% endif %}{% endblock %}
<link rel="stylesheet" type="text/css" href="https://pretalx.com/pyconafrica-2020/schedule/widget/v1.css">
<script type="text/javascript" src="https://pretalx.com/pyconafrica-2020/schedule/widget/v1.en.js" async></script>
 



{% block content %}

      <!-- Section Content -->
      <section class="g-bg-img-hero g-pos-rel u-bg-overlay g-bg-darkblue-opacity-0_6--after g-pt-150" style="background-image: url({% static '2020/img/body1.png' %});">
        <div class="container g-max-width-750 u-bg-overlay__inner g-color-white g-mb-60">
            <h3 class="text-center text-uppercase h3 g-font-weight-700 g-font-size-20 g-font-size-50--md g-color-primary g-mb-20 g-mb-50--md">Call for Proposals</h3>
            <br>
            <br>
        </div>

      </section>
      <!-- End Section Content -->
      






    {% include 'footer.html' %}


    {% endblock %}