{% load staticfiles %}
{% load static %}


{% block footer %}


      <!-- Footer -->
      <footer class="text-center">
        <div class="container">
          <div class="g-py-40 g-color-gray-dark-v5">
            

            <p class="g-mb-30">PyCon Africa is organised by a multi-national 
              team of volunteers on behalf of the global Python programming community. </p>

            <ul class="list-inline d-inline-block mb-0">
              <li class="list-inline-item g-mr-10">
                <a class="u-icon-v3 g-width-35 g-height-35 g-font-size-14 g-color-white--hover g-bg-white g-bg-primary--hover g-transition-0_2 g-transition--ease-in" href="https://twitter.com/pyconafrica" target="/"><i class="fa fa-twitter"></i></a>
              </li>
              <li class="list-inline-item g-mr-10">
                <a class="u-icon-v3 g-width-35 g-height-35 g-font-size-14 g-color-white--hover g-bg-white g-bg-primary--hover g-transition-0_2 g-transition--ease-in" href="https://instagram.com/pyconafrica" target="/"><i class="fa fa-instagram"></i></a>
              </li>
              <li class="list-inline-item g-mr-10">
                <a class="u-icon-v3 g-width-35 g-height-35 g-font-size-14 g-color-white--hover g-bg-white g-bg-primary--hover g-transition-0_2 g-transition--ease-in" href="https://facebook.com/pyconafrica" target="/"><i class="fa fa-facebook"></i></a>
              </li>
              <li class="list-inline-item">
                <a class="u-icon-v3 g-width-35 g-height-35 g-font-size-14 g-color-white--hover g-bg-white g-bg-primary--hover g-transition-0_2 g-transition--ease-in" href="https://linkedin.com/company/pyconafrica" target="/"><i class="fa fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </footer>
      <!-- End Footer -->

{% endblock %}