{% extends "base.html" %}
{% load i18n static %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Home | PyCon Africa 2024" %}{% endif %}{% endblock %}




{% block content %}


{% include 'navbar24.html' %}
<script src="//code.tidio.co/00hkw5reeffaallvkbjizeykysxulx6p.js" async></script>
  

    <!-- Promo Block -->
    <section class="g-bg-cover g-bg-pos-top-center g-bg-img-hero g-bg-black-opacity-0_3--after g-min-height-100vh g-flex-centered g-py-100" style="background-image: url(https://res.cloudinary.com/pycon-africa/image/upload/v1707128927/Asset_22yua0_gpgcif.png);">
 
<div class="container g-color-white text-center g-z-index-1" style="display: flex; justify-content: center; align-items: center; ;">
  <div class="col-md-6 text-center" style="display: flex; justify-content: center; align-items: center;">
      <img class="img-fluid" src="https://res.cloudinary.com/pycon-africa/image/upload/v1707128935/Asset_21yua0_viwuh5.png" alt="Image Description" style="max-width: 100%; height: auto;">
  </div>
</div> 

    </section>
    <!-- End Promo Block -->



 


     
{% endblock %}







