
     
<!-- Pagination #14 -->
<div class="col-md-12 g-line-height-2 g-pa-40 g-mb-30" role="alert">
             
  <nav class="text-center" aria-label="Page Navigation">
  <ul class="list-inline">
    <li class="list-inline-item float-sm-left">
      <a class="u-pagination-v1__item g-brd-around g-color-primary g-brd-primary g-bg-primary--hover g-brd-primary--hover g-color-white--hover g-rounded-50 g-pa-7-16" href="#" aria-label="Previous">
        <span aria-hidden="true">
          <i class="fa fa-angle-left g-mr-5"></i>
          Previous
        </span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="list-inline-item font-italic">
      <a class="u-pagination-v1__item g-brd-around g-color-primary g-brd-primary g-bg-primary--hover g-brd-primary--hover g-color-white--hover g-rounded-50 g-pa-7-16" href="#" aria-label="Previous">
          <span aria-hidden="true">
            <i class="fa fa-history g-mr-5"></i>
            Go Back
          </span>
          <span class="sr-only">Go Back</span>
        </a>
    </li>

    

    <li class="list-inline-item float-sm-right">
      <a class="u-pagination-v1__item g-brd-around g-color-primary g-brd-primary g-bg-primary--hover g-brd-primary--hover g-color-white--hover g-rounded-50 g-pa-7-16" href="/?keynote={{keynote.next_page_number}}" aria-label="Next">
        <span aria-hidden="true">
          Next
          <i class="fa fa-angle-right g-ml-5"></i>
        </span>
        <span class="sr-only">Next</span>
      </a>
    </li>

    
  </ul>
  </nav>

</div>
<!-- End Pagination #14 -->
  
