{% extends "base.html" %}
{% load i18n static %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Sponsor Us | PyCon Africa 2020" %}{% endif %}{% endblock %}

 



{% block content %}

      <!-- Section Content -->
      <section class="g-bg-img-hero g-pos-rel u-bg-overlay g-bg-darkblue-opacity-0_6--after g-pt-150" style="background-image: url({% static '2020/img/body1.png' %});">
        <div class="container g-max-width-750 u-bg-overlay__inner g-color-white g-mb-60">
       
            <h3 class="text-center text-uppercase h3 g-font-weight-700 g-font-size-20 g-font-size-50--md g-color-primary g-mb-20 g-mb-50--md">Sponsor Us</h3>
            <br>
            <br>
        </div>

      </section>
      <!-- End Section Content -->
       <!-- body -->
       <div class="container">
        <div class="row">
            <div class="u-shadow-v1-5 g-line-height-2 g-pa-40 g-mb-30" role="alert">
                <h2 class="text-uppercase g-line-height-1 g-font-weight-700 g-font-size-20 g-mb-30">Sponsorship
                  <span class="g-color-primary"> Packages</span></h2>
                    <p class="g-color-black g-font-size-16">
                        Sponsorship of PyCon Africa will give your organisation global visibility and recognition. It is an excellent way to support the Python community, promote your products to our hundreds of delegates, and meet Python developers who are looking for work.
                    </p> 
                    <p class="g-color-black g-font-size-16"> 
                        In return for your support, we will ensure that your company is given exposure before, during, and after the event, and we will work with you so that you get exactly what you're looking for out of sponsoring the conference.
                    </p>  
              </div>
              
              <div class="u-shadow-v1-5 g-line-height-2 g-pa-40 g-mb-30" role="alert">
                <h2 class="text-uppercase g-line-height-1 g-font-weight-700 g-font-size-20 g-mb-30">Headline Sponsor 
                  <span class="g-color-primary">$16000</span></h2>
                    <p class="g-color-black g-font-size-16">
                      <p class="g-color-black g-font-size-16">Total number available: 1</p>

                      <p class="g-color-black g-font-size-16">This sponsor will be in the spotlight throughout the conference.</p>
                      
                      <p class="g-color-black g-font-size-16"><strong>Highlights of this package:</strong></p>
                      
                      <ul class="g-color-black g-font-size-16">
                        <li>Exhibit space within the conference venue.</li>
                        <li>Two pull-up banners in the main conference room and two pull-up banners in the PyCon Africa entrance area or green room venue (if provided).</li>
                        <li>Large logo on all holding slides shown between talks.</li>
                        <li>A news item on the PyCon Africa  website highlighting the sponsor and what they do with Python (if provided).</li>
                        <li>A joint press release highlighting the sponsor distributed to PyCon Africa delegates (if provided).</li>
                        <li>Opportunity to engage directly with attendees by running a tutorial or fun event during the conference (subject to approval by organizers).</li>
                        <li>8 free conference registrations.</li>
                      </ul>
                      
                      <p class="g-color-black g-font-size-16"><strong>This package also includes:</strong></p>
                      
                      <ul class="g-color-black g-font-size-16">
                        <li>Headline sponsor logo and link in the PyCon Africa website footer.</li>
                        <li>Company biography (750 words) near the top of the PyCon Africa website sponsors page.</li>
                        <li>Company name and logo in attendee emails.</li>
                        <li>Company name and quotes in press releases.</li>
                      </ul>
              </div>

              <div class="u-shadow-v1-5 g-line-height-2 g-pa-40 g-mb-30" role="alert">
                <h2 class="text-uppercase g-line-height-1 g-font-weight-700 g-font-size-20 g-mb-30">Platinum
                  <span class="g-color-primary">$8000</span></h2>
                  <p class="g-color-black g-font-size-16">Total number available: 1</p>

                  <p class="g-color-black g-font-size-16">This sponsor will be highlighted throughout the conference.</p>
                  
                  <p class="g-color-black g-font-size-16"><strong>Highlights of this package:</strong></p>
                  
                  <ul class="g-color-black g-font-size-16">
                    <li>Exhibit space within the conference venue.</li>
                    <li>Two pull-up banners in the main conference room and two pull-up banners in the PyCon Africa entrance area or green room venue (if provided).</li>
                    <li>Large logo on all holding slides shown between talks.</li>
                    <li>Opportunity to engage directly with attendees by running a tutorial or fun event during the conference (subject to approval by organizers).</li>
                    <li>8 free conference registrations.</li>
                  </ul>
                  
                  <p class="g-color-black g-font-size-16"><strong>This package also includes:</strong></p>
                  
                  <ul class="g-color-black g-font-size-16">
                    <li>Platinum sponsor logo and link in the PyCon Africa website footer.</li>
                    <li>Company biography (650 words) near the top of the PyCon Africa website sponsors page.</li>
                    <li>Company name and logo in attendee emails.</li>
                    <li>Company name and quotes in press releases.</li>
                  </ul>
              </div>

              <div class="u-shadow-v1-5 g-line-height-2 g-pa-40 g-mb-30 col col-12 col-sm-12 col-md-6" role="alert">
                <h2 class="text-uppercase g-line-height-1 g-font-weight-700 g-font-size-20 g-mb-30">Diamond
                  <span class="g-color-primary">$4000</span></h2>
                  <p class="g-color-black g-font-size-16">Total number available: 3</p>

                  <p class="g-color-black g-font-size-16">These three sponsors will be visible throughout the conference.</p>
                  
                  <p class="g-color-black g-font-size-16"><strong>Highlights of this package:</strong></p>
                  
                  <ul class="g-color-black g-font-size-16">
                    <li>Two pull-up banners in the main conference room (if provided).</li>
                    <li>Logo on holding slides shown between talks (if provided).</li>
                    <li>6 free conference registrations.</li>
                  </ul>
                  
                  <p class="g-color-black g-font-size-16"><strong>This package also includes:</strong></p>
                  
                  <ul class="g-color-black g-font-size-16">
                    <li>Exhibition space within the conference venue</li>
                    <li>Diamond sponsor logo and link in the PyCon Africa website footer.</li>
                    <li>Company biography (500 words) on the PyCon Africa website sponsors page.</li>
                    <li>Company name and logo in attendee emails.</li>
                    <li>Company name and quotes in press releases.</li>
                  </ul>
              </div>

              <div class="u-shadow-v1-5 g-line-height-2 g-pa-40 g-mb-30 col col-12 col-sm-12 col-md-6" role="alert">
                <h2 class="text-uppercase g-line-height-1 g-font-weight-700 g-font-size-20 g-mb-30">Gold
                  <span class="g-color-primary">$2000</span></h2>
                  <p class="g-color-black g-font-size-16">Total number available: 4</p>

                  <p class="g-color-black g-font-size-16">Aimed at companies who want to contribute in exchange for more limited visibility at the conference.</p>
                  
                  <p class="g-color-black g-font-size-16"><strong>Highlights of this package:</strong></p>
                  
                  <ul class="g-color-black g-font-size-16">
                    <li>One pull-up banner (if provided)</li>
                    <li>Logo on holding slides shown between talks.</li>
                    <li>3 free conference registrations.</li>
                  </ul>
                  
                  <p class="g-color-black g-font-size-16"><strong>This package also includes:</strong></p>
                  
                  <ul class="g-color-black g-font-size-16">
                    <li>Exhibition space within the conference venue</li>
                    <li>Gold sponsor logo and link in the PyCon Africa website footer.</li>
                    <li>Company biography (250 words) on the PyCon Africa website sponsors page.</li>
                    <li>Company name and logo in attendee emails.</li>
                    <li>Company name and quotes in press releases.</li>
                  </ul>
              </div>

              <div class="u-shadow-v1-5 g-line-height-2 g-pa-40 g-mb-30 col col-12 col-sm-12 col-md-6" role="alert">
                <h2 class="text-uppercase g-line-height-1 g-font-weight-700 g-font-size-20 g-mb-30">Silver
                  <span class="g-color-primary">$1000</span></h2>
                  <p class="g-color-black g-font-size-16">Total number available: 6</p>

                  <p class="g-color-black g-font-size-16">Every bit helps!</p>
                  
                  <p class="g-color-black g-font-size-16"><strong>This package includes:</strong></p>
                  
                  <ul class="g-color-black g-font-size-16">
                    <li>Exhibition space within the conference venue</li>
                    <li>Company logo and link in the PyCon Africa website footer.</li>
                    <li>Company biography (200 words) at the bottom of the PyCon Africa website sponsors page.</li>
                    <li>Logo on holding slides shown between talks.</li>
                    <li>2 free conference registration.</li>
                  </ul>
              </div>

              <div class="u-shadow-v1-5 g-line-height-2 g-pa-40 g-mb-30 col col-12 col-sm-12 col-md-6" role="alert">
                <h2 class="text-uppercase g-line-height-1 g-font-weight-700 g-font-size-20 g-mb-30">Bronze
                  <span class="g-color-primary">$500</span></h2>
                  <p class="g-color-black g-font-size-16">Total number available: 6</p>

                  <p class="g-color-black g-font-size-16">Be part of the bigger picture!</p>
                  
                  <p class="g-color-black g-font-size-16"><strong>This package includes:</strong></p>
                  
                  <ul class="g-color-black g-font-size-16">
                    <li>Exhibition space within the conference venue</li>
                    <li>Company logo and link in the PyCon Africa website footer.</li>
                    <li>Company name and logo in attendees emails</li>
                    <li>1 free conference registration.</li>
                  </ul>
              </div>


            <div class="u-shadow-v1-5 g-line-height-2 g-pa-40 g-mb-30" role="alert">
                <h2 class="text-uppercase g-line-height-1 g-font-weight-700 g-font-size-20 g-mb-30">Special
                  <span class="g-color-primary">Sponsorship</span></h2>
                  
                  <p class="g-color-black g-font-size-16"><strong>Awards Ceremony
                  <span class="g-color-primary">$2000</span></strong></p>
                  <p class="g-color-black g-font-size-16">PyCon Africa will be holding the very first Pan-African Python Community Service Awards.
                    Awards will be given to community members who have played an active role in
                    supporting the growth of the Python community in Africa. Your sponsorship will go
                    towards:</p>
                  
                  <ul class="g-color-black g-font-size-16">
                    <li>the award itself, each winner will receive a plaque that will include an inscription of your
                      company logo.</li>
                      <li>a small cash prize for the winner that will be used to seed back into their local
                        community.</li>
                        <li>Catering and decor for the Award Ceremony.</li>
                        <li>Your company logo on the PyCon Africa website and on slides throughout the conference.</li>
                  </ul>

                  <p class="g-color-black g-font-size-16"><strong>Speakers Dinner
                    <span class="g-color-primary">$1000</span></strong></p>

                    <p class="g-color-black g-font-size-16">All the speakers attending the conference will be invited to attend a private speakers
                    dinner. The event is an opportunity for speakers from across the continent and the world
                    to meet and network.</p>
                    <p class="g-color-black g-font-size-16">
                      Your company will be acknowledged throughout the event and we invite you to bring
                      banners to be placed in the dining hall. Your company logo will also be on the PyCon
                      Africa website.
                     </p> 

                     <p class="g-color-black g-font-size-16"><strong>Swag Bags
                      <span class="g-color-primary">$700</span></strong></p>
                      <p class="g-color-black g-font-size-16">
                        All of our conference attendees will be given Swag Bags full of mementos and tools from
                        the conference. Sponsorship of the conference Swag Bags includes your company
                        branding on all of the Bags. Your company Logo on the PyCon Africa website and on
                        slides throughout the conference.
                      </p>
                      
                      <p class="g-color-black g-font-size-16"><strong>Coffee
                        <span class="g-color-primary">$500</span></strong></p>
                        <p class="g-color-black g-font-size-16">
                          No developer conference would be complete without coffee! This year we have opened up
                          the opportunity for a company to fuel up our attendees by being our official coffee
                          sponsor. Your logo will be placed at all coffee fueling stations and will be placed on our
                          website for acknowledgment.
                        </p>
              </div>


              <div class="u-shadow-v1-5 g-line-height-2 g-pa-40 g-mb-30" role="alert">
                <h2 class="text-uppercase g-line-height-1 g-font-weight-700 g-font-size-20 g-mb-30">We are 
                  <span class="g-color-primary">Flexible!</span></h2>
                  <p class="g-color-black g-font-size-16">
                    You don’t see a package that fits your needs?<br>
                    Do you have a unique way you would like to sponsor?
                  </p>
                  <p class="g-color-black g-font-size-16">
                    If you want to support PyCon Africa 2020, we can help develop a tailored sponsorship
                    package that fits your specific targets. Please get in touch and ask about individual
                    arrangements.
                  </p>
                  <a href="mailto:sponsorship@pycon.africa" class="btn btn-md u-btn-skew u-btn-outline-primary g-mr-10 g-mb-15">
                    <span class="u-btn-skew__inner">sponsorship@pycon.africa</span>
                  </a>
               </div>
        </div>
       </div>



        <!--
            <div class="u-shadow-v1-5 g-line-height-2 g-pa-40 g-mb-30 col col-12 col-sm-12 col-md-6" role="alert">
                <h2 class="text-uppercase g-line-height-1 g-font-weight-700 g-font-size-20 g-mb-30">The
                  <span class="g-font-weight-400 g-font-size-30">|</span>
                  <span class="g-color-primary">Communication</span></h2>
                
                    <p class="g-color-black g-font-size-16"> </p>  
              </div>
              <a class="g-color-red" href="" </a>

                <h3  class="g-font-size-20 g-font-weight-700 g-color-primary">
        -->
   

        {% include 'footer.html' %}        

{% endblock %}