{% extends "base.html" %}
{% load i18n static %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Home | PyCon Africa 2024" %}{% endif %}{% endblock %}




{% block content %}


{% include 'tem-nav.html' %}


<script src="//code.tidio.co/00hkw5reeffaallvkbjizeykysxulx6p.js" async></script>
  

    <!-- Promo Block -->
    <section class="g-bg-cover g-bg-pos-top-center g-bg-img-hero g-bg-black-opacity-0_3--after g-min-height-100vh g-flex-centered g-py-100" style="background-image: url(https://res.cloudinary.com/pycon-africa/image/upload/v1707128927/Asset_22yua0_gpgcif.png);">
 
<div class="container g-color-white text-center g-z-index-1" style="display: flex; justify-content: center; align-items: center; ;">
  <div class="col-md-6 text-center" style="display: flex; justify-content: center; align-items: center;">
      <img class="img-fluid" src="https://res.cloudinary.com/pycon-africa/image/upload/v1713883428/PyConAfricaL.png" alt="Image Description" style="max-width: 100%; height: auto;">
  </div>
</div> 

    </section>
    <!-- End Promo Block -->



 
 
    <!-- Product Blocks -->
    <section class="container g-pt-100 g-pb-70"> 

      <div class="row">
        <div class="col-sm-6 col-md-4 g-mb-30">
          <!-- Article -->
          <article class="u-shadow-v11 g-pos-rel g-brd-bottom g-brd-3 g-brd-gray-light-v4 g-brd-primary--hover text-center rounded g-transition-0_3 g-transition--linear">
            <!-- Article Image -->
            <figure>
              <img class="w-100" src="https://res.cloudinary.com/pycon-africa/image/upload/v1715032199/independence-square.jpg" alt="Image Description"> 
            </figure>
            <!-- End Article Image -->

            <!-- Article Content -->
            <div class="g-py-30 g-px-20">
              <h3 class="h4 g-color-black">
                  <a class="g-color-black g-color-primary--hover g-text-underline--none--hover">Accra, Ghana</a>
                </h3>
              <p class="g-color-gray-dark-v4">a major African technology hub.</p> 
            </div>
            <!-- End Article Content -->
          </article>
          <!-- End Article -->
        </div>

        <div class="col-sm-6 col-md-4 g-mb-30">
          <!-- Article -->
          <article class="u-shadow-v11 g-pos-rel g-brd-bottom g-brd-3 g-brd-gray-light-v4 g-brd-primary--hover text-center rounded g-transition-0_3 g-transition--linear">
            <!-- Article Image -->
            <figure>
              <img class="w-100" src="https://res.cloudinary.com/pycon-africa/image/upload/v1714954461/website_storage_location/static/2024/img/PyConAfrica-0309.jpg" alt="Image Description">
            </figure>
            <!-- End Article Image -->

            <!-- Article Content -->
            <div class="g-py-30 g-px-20">
              <h3 class="h4 g-color-black">
                  <a class="g-color-black g-color-primary--hover g-text-underline--none--hover">Five days</a>
                </h3>
              <p class="g-color-gray-dark-v4">of talks, workshops, collaboration</p>
              <div class="js-rating g-color-primary g-font-size-12" data-rating="4.5"></div>
            </div>
            <!-- End Article Content -->
          </article>
          <!-- End Article -->
        </div>

        <div class="col-sm-6 col-md-4 g-mb-30">
          <!-- Article -->
          <article class="u-shadow-v11 g-pos-rel g-brd-bottom g-brd-3 g-brd-gray-light-v4 g-brd-primary--hover text-center rounded g-transition-0_3 g-transition--linear">
            <!-- Article Image -->
            <figure>
              <img class="w-100" src="https://res.cloudinary.com/pycon-africa/image/upload/v1715075977/1a.jpg" alt="Image Description">
            </figure>
            <!-- End Article Image -->

            <!-- Article Content -->
            <div class="g-py-30 g-px-20">
              <h3 class="h4 g-color-black">
                  <a class="g-color-black g-color-primary--hover g-text-underline--none--hover">Hundreds of programmers</a>
                </h3>
              <p class="g-color-gray-dark-v4">from around Africa and the world.</p>
              <div class="js-rating g-color-primary g-font-size-12" data-rating="4.5"></div>
            </div>
            <!-- End Article Content -->
          </article>
          <!-- End Article -->
        </div>
      </div>
    </section>
    <!-- End Product Blocks -->



    

    <!-- Team Blocks -->
    <section class="container g-pt-30 g-pb-70">
         <!-- Heading -->
      <div class="row justify-content-center text-center g-mb-50">
        <div class="col-lg-9">
          <h2 class="h2 g-color-black g-font-weight-600 mb-2">Highlights from our last in-person conference</h2>
          <div class="d-inline-block g-width-30 g-height-2 g-bg-primary mb-2"></div>
          <p class="lead mb-0"> </p>
        </div>
      </div>
      <!-- End Heading -->
      <div class="row">
        <div class="col-lg-6 g-mb-50 g-mb-0--lg"> 
      
          <p class="lead g-mb-30">
            
- Catch the highlights from our past conference which included workshops, talks, sprints and other amazing events.

              
          </p>
       
        </div>
      
        <div class="col-lg-6">
          <!-- Vimeo Example -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe src="https://www.youtube.com/embed/43wJnYZ6Zd0" width="530" height="300" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
          </div>
          <!-- End Vimeo Example -->
        </div>
      </div>
      </section>
      <!-- End Team Blocks -->
  
  





    <!-- Team Blocks -->
    <section class="container g-pt-100 g-pb-70">
      <!-- Heading -->
      <div class="row justify-content-center text-center g-mb-50">
        <div class="col-lg-9">
          <h2 class="h2 g-color-black g-font-weight-600 mb-2">Meet our Speakers</h2>
          <div class="d-inline-block g-width-30 g-height-2 g-bg-primary mb-2"></div>
          <p class="lead mb-0"> </p>
        </div>
      </div>
      <!-- End Heading -->

      <div class="row">
         Our Speakers will be announced once they become available.
      </div>
    </section>
    <!-- End Team Blocks -->






    <!-- Our programme News -->
    <section class="container g-pt-100 g-pb-60">
      <!-- Heading -->
      <div class="row justify-content-center text-center g-mb-50">
        <div class="col-lg-9">
          <h2 class="h2 g-color-black g-font-weight-600 mb-2">Our Programme</h2>
          <div class="d-inline-block g-width-30 g-height-2 g-bg-primary mb-2"></div>
          <p class="lead mb-0"> </p>
        </div>
      </div>
      <!-- End Heading -->
 
      <div class="card-group d-block d-md-flex g-mx-minus-15">
        <div class="card u-shadow-v36 g-brd-none g-mx-15 col-md-6 col-lg-3 g-mb-30">  
          <!-- Research Article -->
          <article>
            <div class="card-body g-bg-white text-center g-pa-20">
              <h3 class="h4 mb-0">Workshops</h3>
            </div>
            <div class="g-pos-rel">
              <img class="img-fluid" src="https://res.cloudinary.com/pycon-africa/image/upload/v1715077935/IMG_0816.jpg" alt="Image Description"> 
            </div>
            <div class="card-body g-bg-white g-pa-20">
              <p class="g-color-gray-dark-v4 g-line-height-1_8">Hands-on workshops and tutorials to develop skills, led by experts in the field.</p>
           
            </div>
          </article>
          <!-- End Research Article -->
        </div>


        
        <div class="card u-shadow-v36 g-brd-none g-mx-15 col-md-6 col-lg-3 g-mb-30 ">
          <!-- Research Article -->
          <article>
            <div class="card-body g-bg-white text-center g-pa-20">
              <h3 class="h4 mb-0">Talks</h3>
            </div>
            <div class="g-pos-rel">
              <img class="img-fluid" src="https://res.cloudinary.com/pycon-africa/image/upload/v1715077932/IMG_0910.jpg" alt="Image Description"> 
            </div>
            <div class="card-body g-bg-white g-pa-20">
              <p class="g-color-gray-dark-v4 g-line-height-1_8">
                A full programme of talks from amazing speakers across the continent and beyond
              </p>
            </div>
          </article>
          <!-- End Research Article -->
        </div>


        
        <div class="card u-shadow-v36 g-brd-none g-mx-15 col-md-6 col-lg-3 g-mb-30">
          <!-- Research Article -->
          <article>
            <div class="card-body g-bg-white text-center g-pa-20">
              <h3 class="h4 mb-0">Sprints</h3>
            </div>
            <div class="g-pos-rel">
              <img class="img-fluid" src="https://res.cloudinary.com/pycon-africa/image/upload/v1715077933/pycon_africa_074.jpg__1024x678_q90_subsampling-2_1.jpg" alt="Image Description"> 
            </div>
            <div class="card-body g-bg-white g-pa-20">
              <p class="g-color-gray-dark-v4 g-line-height-1_8">Collaboration on new and established open-source Python projects.</p>
           
            </div>
          </article>
          <!-- End Research Article -->
        </div>


        
        <div class="card u-shadow-v36 g-brd-none g-mx-15 col-md-6 col-lg-3 g-mb-30">
          <!-- Research Article -->
          <article>
            <div class="card-body g-bg-white text-center g-pa-20">
              <h3 class="h4 mb-0">Community</h3>
            </div>
            <div class="g-pos-rel">
              <img class="img-fluid" src="https://res.cloudinary.com/pycon-africa/image/upload/v1715077942/IMG_9759.jpg" alt="Image Description"> 
            </div>
            <div class="card-body g-bg-white  g-pa-20">
              <p class="g-color-gray-dark-v4 g-line-height-1_8">Events to develop national and pan-African Python software communities.</p>
           
            </div>
          </article>
          <!-- End Research Article -->
        </div>
       
      </div>
    </section>
    <!-- End Our programme News -->



       

     
{% endblock %}







