{% extends "base19.html" %}
{% load i18n static %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Our Sponsors | PyCon Africa 2019" %}{% endif %}{% endblock %}


{% block content %}

  <main class="flex-grow-1">
    <div class="container">
        
  

<div class="row">
    
        

<div class="col">
    
        <h1>💎Diamond Sponsors</h1>

<p> </p>

<p> </p>
    
</div>

    
</div>


<div class="row">
    
        

<div class="col col-12 col-md-6">
    
        


    <a href="https://www.python.org/psf"
     target="_blank"
    >







<img src="{% static '2019/img/psf.jpg__600x600_q90_subject_location-300,100_subsampling-2.jpg' %}"
    alt=""
    
    
    
    class="img-fluid"
>






    </a>




    
</div>

    
        

<div class="col col-12 col-md-6">
    
        


    <a href="http://britecore.com/"
     target="_blank"
    >







<img src="{% static '2019/img/britecore_600.jpg__600x600_q90_subject_location-326%2C49_subsampling-2.jpg' %}"
    alt=""
    
    
    
    class="img-fluid"
>






    </a>




    
</div>

    
        

<div class="col col-12 col-md-6">
    
        


    <a href="http://andela.com/"
     target="_blank"
    >







<img src="{% static '2019/img/andela.png' %}"
    alt=""
    
    
    
    class="img-fluid"
>






    </a>




    
</div>

    
        

<div class="col col-12 col-md-6">
    
        








<img src="{% static '2019/img/django-society-large.jpg__600x600_q90_subject_location-150%2C150_subsampling-2.jpg' %}"
    alt=""
    
    
    
    class="img-fluid"
>









    
</div>

    
</div>


<div class="row">
    
        

<div class="col">
    
        <h1> </h1>

<h1> </h1>

<h1> </h1>

<h1>Gold Sponsors</h1>

<p> </p>
    
</div>

    
</div>


<div class="row">
    
        

<div class="col col-12 col-md-4">
    
        


    <a href="https://www.djangoproject.com/fundraising/"
     target="_blank"
    >







<img src="{% static '2019/img/thedsf2.png__300x300_q90_subject_location-300%2C100_subsampling-2.png' %}"
    alt=""
    
    
    
    class="img-fluid"
>






    </a>




    
</div>

    
        

<div class="col col-12 col-md-4">
    
        


    <a href="https://django-denmark.org/"
     target="_blank"
    >







<img src="{% static '2019/img/djangodenmark.png__300x300_q90_subsampling-2.png' %}"
    alt=""
    
    
    
    class="img-fluid"
>






    </a>




    
</div>

    
        

<div class="col col-12 col-md-4">
    
        


    <a href="https://developer.nexmo.com/"
    
    >







<img src="{% static '2019/img/nexmo.jpg__300x300_q90_subsampling-2.jpg' %}"
    alt=""
    
    
    
    class="img-fluid"
>






    </a>




    
</div>

    
        

<div class="col col-12 col-md-4">
    
        


    <a href="https://www.defna.org/"
    
    >







<img src="{% static '2019/img/defna.jpg__300x300_q90_subsampling-2.jpg' %}"
    alt=""
    
    
    
    class="img-fluid"
>






    </a>




    
</div>

    
</div>


<div class="row align-items-center justify-content-center">
    
        

<div class="col">
    
        <h3> </h3>

<p> </p>

<h3> </h3>

<h3> </h3>

<h1>Bronze Sponsors</h1>

<p> </p>
    
</div>

    
</div>


<div class="row">
    
        

<div class="col col-6 col-sm-6 col-md-4 col-lg-3 align-self-center">
    
        


    <a href="https://www.gofundme.com/f/pycon-africa-financial-assistance"
     target="_blank"
    >







<img src="{% static '2019/img/gofundme.jpg__300x300_q90_subsampling-2.jpg' %}"
    alt=""
    
    
    
    class="img-fluid"
>






    </a>




    
</div>

    
        

<div class="col col-6 col-sm-6 col-md-4 col-lg-3">
    
        


    <a href="https://www.python-academy.com/"
     target="_blank"
    >







<img src="{% static '2019/img/python-academy.png__300x300_q90_subsampling-2.png' %}"
    alt=""
    
    
    
    class="img-fluid"
>






    </a>




    
</div>

    
        

<div class="col col-6 col-sm-6 col-md-4 col-lg-3">
    
        


    <a href="https://realpython.com/"
     target="_blank"
    >







<img src="{% static '2019/img/real-python.png__300x300_q90_subsampling-2.png' %}"
    alt=""
    
    
    
    class="img-fluid"
>






    </a>




    
</div>

    
        

<div class="col col-6 col-sm-6 col-md-4 col-lg-3 align-self-center">
    
        


    <a href="https://aktechlabs.com/"
     target="_blank"
    >







<img src="{% static '2019/img/aktech.png__300x300_q90_subject_location-0%2C0_subsampling-2.png' %}"
    alt=""
    
    
    
    class="img-fluid"
>






    </a>




    
</div>

    
        

<div class="col col-6 col-sm-6 col-md-4 col-lg-3 align-self-center">
    
        


    <a href="https://sikilabs.com/"
     target="_blank"
    >







<img src="{% static '2019/img/sikilabs.png__300x300_q90_subject_location-287%2C86_subsampling-2.png' %}"
    alt=""
    
    
    
    class="img-fluid"
>






    </a>




    
</div>

    
        

<div class="col col-6 col-sm-6 col-md-4 col-lg-3 align-self-center">
    
        


    <a href="https://www.torchbox.com/"
     target="_blank"
    >







<img src="{% static '2019/img/torchbox-small-square.png__300x300_q90_subsampling-2.png' %}"
    alt=""
    
    
    
    class="img-fluid"
>






    </a>




    
</div>

    
        

<div class="col col-6 col-sm-6 col-md-4 col-lg-3 align-self-center">
    
        


    <a href="https://readthedocs.org/"
     target="_blank"
    >







<img src="{% static '2019/img/rtd.jpg__300x300_q90_subject_location-251%2C50_subsampling-2.jpg' %}"
    alt=""
    
    
    
    class="img-fluid"
>






    </a>




    
</div>

    
        

<div class="col col-6 col-sm-6 col-md-4 col-lg-3 align-self-center">
    
        


    <a href="https://wildfish.com/"
     target="_blank"
    >







<img src="{% static '2019/img/wildfish.png__300x300_q90_subject_location-141%2C146_subsampling-2.png' %}"
    alt=""
    
    
    
    class="img-fluid"
>






    </a>




    
</div>

    
        

<div class="col col-6 col-sm-6 col-md-4 col-lg-3 align-self-center">
    
        


    <a href="https://caktusgroup.com/"
     target="_blank"
    >







<img src="{% static '2019/img/caktus-logo.jpg__300x300_q90_subsampling-2.jpg' %}"
    alt=""
    
    
    
    class="img-fluid"
>






    </a>




    
</div>

    
        

<div class="col col-6 col-sm-6 col-md-4 col-lg-3 align-self-center">
    
        


    <a href="http://weeklypythonexercise.com/"
     target="_blank"
    >







<img src="{% static '2019/img/weeklypythonexcercise.png__300x300_q90_subsampling-2.png' %}"
    alt=""
    
    
    
    class="img-fluid"
>






    </a>




    
</div>

    
</div>


<div class="row">
    
        

<div class="col">
    
        <p> </p>

<p> </p>

<p> </p>

<h1>Special Sponsors</h1>
    
</div>

    
</div>


<div class="row">
    
        

<div class="col col-6">
    
        


    <a href="https://ict4d.at/"
     target="_blank"
    >







<img src="{% static '2019/img/ict4d1.png__200x200_q90_subsampling-2.png' %}"
    alt=""
    
    
    
    class="img-fluid"
>






    </a>




    
        


    <a href="https://twitter.com/KhoPhiPhotog"
     target="_blank"
    >







<img src="{% static '2019/img/khophiphoto1.jpg__200x200_q90_subsampling-2.jpg' %}"
    alt=""
    
    
    
    class="img-fluid"
>






    </a>




    
</div>

    
        

<div class="col col-6 col-sm-6 col-md-4 col-lg-3">
    
</div>

    
        

<div class="col">
    
</div>

    
        

<div class="col">
    
</div>

    
        

<div class="col">
    
</div>

    
</div>


    </div>
  </main>

  {% endblock %}
