{% extends "base19.html" %}
{% load i18n static %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Register | PyCon Africa 2019" %}{% endif %}{% endblock %}


{% block content %}

  <main class="flex-grow-1">
    <div class="container">
        
  

<div class="card bg-secondary">
    
        

<div class="card-header">
    
        <h2 style="text-align: center;"><span style="color: #000000;">Register to Attend Pycon Africa </span></h2>
    
</div>

    
        

<div class="card-group bg-secondary">
    
        

<div class="card-body">
    
        <table border="0">
	<tbody>
		<tr>
			<td colspan="12">
			<p>Thank you for choosing to register for PyCon Afria 2019. Please read the following instructions:</p>
			</td>
		</tr>
		<tr>
			<td colspan="12">
			<ol>
				<li>PyCon Africa accepts Visa, MasterCard and some mobile payments. Payment is required in order to register online.</li>
				<li>Registrants should pick up their badges onsite at the Conference Registration desk.</li>
				<li>For any additional questions please contact us at <a href="mailto:team@pycon.africa">team@pycon.africa</a></li>
			</ol>
			</td>
		</tr>
	</tbody>
</table>
    
</div>

    
</div>

    
</div>


<div class="row">
    
        

<div class="col col-12 col-sm-12 col-md-8">
    
        

<div class="card bg-primary">
    
        

<div class="card-header">
    
        <h2 style="text-align: center;">Ticket Options </h2>
    
</div>

    
        

<div class="card-body">
    
        <p><strong>Business</strong> ticket: if your employer is paying for it<br>
<strong>Personal</strong> ticket: if you are paying from your own funds<br>
<strong>Student</strong> ticket: if you are a student/not employed</p>

<p>*<strong>Sharing</strong> ticket: This is a special ticket for members of the community who would like to pay for a fellow Pythonista to attend the conference, who would otherwise not have been able to. </p>
    
        <a href="tickets/index.html" class="btn btn-dark btn-block">What does my ticket include?</a>
    
</div>

    
</div>

    
</div>

    
        

<div class="col col-12 col-sm-12 col-md-4">
    
        

<div class="card bg-light">
    
        

<div class="card-header">
    
        <h2 style="text-align: center;">Free Tickets </h2>
    
</div>

    
        

<div class="card-group">
    
        

<div class="card-body">
    
        <p>A very limited number of <strong>free tickets</strong> are available for those in cases of hardship. Please apply with details of your circumstances via the email address below.</p>

<p>Email: <a href="mailto:team@pycon.africa">team@pycon.africa</a></p>

<p> </p>
    
</div>

    
</div>

    
</div>

    
</div>

    
</div>


<div class="card bg-secondary">
    
        

<div class="card-header">
    
        <h2 style="text-align: center;"><span style="color: #000000;">Tickets </span></h2>
    
</div>

    
        

<div class="card-group bg-secondary">
    
        

<div class="card-body">
    
        <p><html>
<head>
<div class="egoticket_tickets">Please wait...Loading Tickets.</div>
<script type="text/javascript">
    (function() { var ego = document.createElement('script'); ego.type = 'text/javascript'; ego.async = true; ego.src = 'https://egotickets.com/embed/pycon-africa.js?skip_mobile=true';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ego);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://egotickets.com/?ref_noscript">tickets enabled by Egotickets.</a></noscript>
</head>
<body>
</body>

<!-- Mirrored from africa.pycon.org/register/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 17 Feb 2020 02:08:05 GMT -->
</html>
</p>

<p>(In case of slow loading buy tickets <a href="https://egotickets.com/events/pycon-africa">here</a>)</p>
    
</div>

    
</div>

    
</div>


    </div>
  </main>

  {% endblock %}