{% extends "base.html" %}
{% load i18n static crispy_forms_tags %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Password Reset || PyCon Africa" %}{% endif %}{% endblock %}


{% block content %}

<!-- ========== HEADER ========== -->
{% include '2024/navbar.html' %}
<!-- ========== END HEADER ========== -->
 
    <!--================ Breadcrumb ================-->
    <div class="mad-breadcrumb">
        <div class="container">
          <h1 class="mad-page-title mad-title-with-line">Forgot Password</h1>
          <nav class="mad-breadcrumb-path"><span><a href="/">Home</a></span>/<span>Forgot Password</span>
          </nav>
        </div>
      </div>
      <!--================ End of Breadcrumb ================-->

      <section class="mad-section size-5">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="container">
                    <div class="row mad-row-size-2">
                      <div class="col-lg-4"> 
                        <div class="img-with-vector vector-2">
                            <img src="{% static '2022/images/forgotpassword.png' %}" alt=""> 
                          </div> 
                      </div>
                      <div class="col-lg-6"> 
                        <div class="align-center">
                            <h4>Password reset</h3>
                            <p class="text-size-medium">
                              We have sent an email to <b>your mail</b> with further instructions.
                              Please check your email and click the link to continue.
                            </p> 


                          <p><a class="btn  " href="/accounts/login/">Log in</a></p>
                          </div>
                      
                      </div> 
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </section>
 
{% endblock %}

 
 

 

{# This is used by django.contrib.auth #}
