{% load i18n %}
<!doctype html>
<html lang="en">

<head>
    <title>{{ site.name }} {% trans "Forgot Password" %}</title>
</head>


<body>
  <br>
{% blocktrans %}Greetings{% endblocktrans %} {% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user }}{% endif %},
<br><br>
{% blocktrans %}
You are receiving this email because you (or someone pretending to be you)
requested that your password be reset on the {{ domain }} site. If you do not
wish to reset your password, please ignore this message.
{% endblocktrans %}
<br><br>
{% blocktrans %}
To reset your password, please click the following link, or copy and paste it
into your web browser:
{% endblocktrans %}
<br>
<a rel="noreferrer" href="{{ protocol }}://{{ domain }}{% url 'auth_password_reset_confirm' uid token %}">
  {{ protocol }}://{{ domain }}{% url 'auth_password_reset_confirm' uid token %}
</a>
<br><br>
{% blocktrans %}Your username, in case you've forgotten:{% endblocktrans %} {{ user.get_username }}
<br>
 
    <p>
        {% blocktrans with site_name=site.name %}
        Best regards,<br>
        {{ site_name }}
        PyCon Africa
        <a href="https://www.twitter.com/pyconafrica/">Twitter</a> | <a href="https://www.instagram.com/pyconafrica/">Instagram</a> <br> <a href="https://africa.python.org/">Python Africa's website</a>
        {% endblocktrans %}
    </p>
    </body>
 
</html>

 