{% extends "base19.html" %}
{% load i18n static %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Schedule | PyCon Africa 2019" %}{% endif %}{% endblock %}


{% block content %}
<main class="flex-grow-1">
        <div class="container">
            
      
    
    <div class="card bg-primary">
        
            
    
    <div class="card-header">
        
            <h3>Provisional schedule</h3>
        
    </div>
    
        
            
    
    <div class="card-body">
        
            <p>Please note that <em>this is our provisional schedule and is subject to change</em>.</p>
    
    <p>Details of workshops and other sessions for Wednesday and Saturday will be added in forthcoming days.</p>
        
    </div>
    
        
    </div>
    <div class="tuesday">
    
    <div class="card-group programme">
        
            
    
    <div class="card-header">
        
            <p>08.30</p>
        
    </div>
    
        
            
    
    <div class="card border-primary">
        
            
    
    <div class="card-body">
        
            <p><em>Registration</em></p>
        
    </div>
    
        
    </div>
    
        
    </div>
    
    
    <div class="card-group programme">
        
            
    
    <div class="card-header">
        
            <p>09.00</p>
        
    </div>
    
        
            
    
    <div class="card bg-primary">
        
            
    
    <div class="card-body">
        
            <p><strong>Beginners day</strong><br>
    <em>Installation parties for Django Girls and new Python users</em><br>
    Strongly recommend for those new to Python. Required if you plan to attend workshops and tutorials and do not already have Python installed.</p>
        
    </div>
    
        
    </div>
    
        
            
    
    <div class="card bg-secondary">
        
            
    
    <div class="card-body">
        
            <p><strong>International visitors' tour of Accra</strong><br>
    <em>Visit the sights and markets of Accra in the company of the Ghanaian conference hosts.</em></p>
        
    </div>
    
        
    </div>
    
        
    </div>
    
    
    <div class="mb-3">
        
    </div>
    </div><div class="wednesday">
    
    <div class="card-group programme">
        
            
    
    <div class="card-header">
        
            <p>08.30</p>
        
    </div>
    
        
            
    
    <div class="card border-primary">
        
            
    
    <div class="card-body">
        
            <p><em>Registration</em></p>
        
    </div>
    
        
    </div>
    
        
    </div>
    
    
    <div class="card-group programme">
        
            
    
    <div class="card-header">
        
            <p>09.00</p>
        
    </div>
    
        
            
    
    <div class="card bg-primary">
        
            
    
    <div class="card-body">
        
            <p><strong>Django Girls</strong><br>
    <a href="https://djangogirls.org/pyconafrica/" class><i class="far " aria-hidden="true" ></i>Registration required<i class="far " aria-hidden="true" ></i></a></p>
        
    </div>
    
        
    </div>
    
        
            
    
    <div class="card bg-secondary">
        
            
    
    <div class="card-body">
        
            <p><strong>Workshops and tutorials</strong></p>
    
    <p><em>Morning</em></p>
    
    <ul>
            <li><strong>Rising Odegua</strong><br>
            <em>Data visualisation for insights</em></li>
    </ul>
    
    <p><em>Afternoon</em></p>
    
    <ul>
            <li><strong>Patrick Nsukami</strong><br>
            <em>From iterators to coroutines and beyond</em></li>
    </ul>
        
    </div>
    
        
    </div>
    
        
            
    
    <div class="card bg-primary">
        
            
    
    <div class="card-body">
        
            <p><strong>Workshops and tutorials</strong></p>
    
    <p><em>Morning</em></p>
    
    <ul>
            <li><strong>Kojo Idrissa</strong><br>
            <em>A junior developer's software engineering tutorial</em></li>
    </ul>
    
    <p><em>Afternoon</em></p>
    
    <ul>
            <li><strong>Loek van Gent</strong><br>
            <em>Crash test dummies - Learn how to write test</em>s</li>
    </ul>
        
    </div>
    
        
    </div>
    
        
    </div>
    
    
    <div class="mb-3">
        
    </div>
    </div><div class="thursday">
    
    <div class="card-group programme">
        
            
    
    <div class="card-header">
        
            <p>08.30</p>
        
    </div>
    
        
            
    
    <div class="card border-primary">
        
            
    
    <div class="card-body">
        
            <p><em>Registration</em></p>
        
    </div>
    
        
    </div>
    
        
    </div>
    
    
    <div class="card-group programme">
        
            
    
    <div class="card-header">
        
            <p>09.00</p>
        
    </div>
    
        
            
    
    <div class="card bg-primary">
        
            
    
    <div class="card-body">
        
            <p><strong>Marlene Mhangami</strong><br>
    <em>Welcome to Pycon Africa</em></p>
        
    </div>
    
        
    </div>
    
        
    </div>
    
    
    <div class="card-group programme">
        
            
    
    <div class="card-header">
        
            <p>09.15</p>
        
    </div>
    
        
            
    
    <div class="card bg-primary">
        
            
    
    <div class="card-body">
        
            <p><strong>Moustapha Cisse</strong> Head of Google AI Center Accra<br>
    <em>Keynote</em></p>
        
    </div>
    
        
    </div>
    
        
    </div>
    
    
    <div class="card-group programme">
        
            
    
    <div class="card-header">
        
            <p>10.00</p>
        
    </div>
    
        
            
    
    <div class="card bg-primary">
        
            
    
    <div class="card-body">
        
            <p><strong>Meili Triantafyllidi</strong><br>
    <em>Lessons learned from 6 years in Pyladies Berlin</em></p>
        
    </div>
    
        
    </div>
    
        
            
    
    <div class="card bg-secondary">
        
            
    
    <div class="card-body">
        
            <p><strong>Kelechi Ogueji</strong><br>
    <em>Aligning word vectors of Nigerian languages for better translation</em></p>
        
    </div>
    
        
    </div>
    
        
    </div>
    
    
    <div class="card-group programme">
        
            
    
    <div class="card-header">
        
            <p>10.30</p>
        
    </div>
    
        
            
    
    <div class="card border-primary">
        
            
    
    <div class="card-body">
        
            <p><em>Break</em></p>
        
    </div>
    
        
    </div>
    
        
    </div>
    
    
    <div class="card-group programme">
        
            
    
    <div class="card-header">
        
            <p>11.00</p>
        
    </div>
    
        
            
    
    <div class="card bg-primary">
        
            
    
    <div class="card-body">
        
            <p><strong>Felipe de Morais </strong><br>
    <em>AfroPython: Empowering black people using Python in Brazil</em></p>
        
    </div>
    
        
    </div>
    
        
            
    
    <div class="card bg-secondary">
        
            
    
    <div class="card-body">
        
            <p><strong>Candy Tricia Khohliwe</strong><br>
    <em>Web Virtual Reality and A-frame</em></p>
        
    </div>
    
        
    </div>
    
        
    </div>
    
    
    <div class="card-group programme">
        
            
    
    <div class="card-header">
        
            <p>11.30</p>
        
    </div>
    
        
            
    
    <div class="card bg-primary">
        
            
    
    <div class="card-body">
        
            <p><strong>Nicholas Del Grosso</strong><br>
    <em>Unraveling the Spaghetti: Tips for Refactoring Your Code</em></p>
        
    </div>
    
        
    </div>
    
        
            
    
    <div class="card bg-secondary">
        
            
    
    <div class="card-body">
        
            <p><strong>Tairu Oluwafemi</strong><br>
    <em>Chatbots on Steroids</em></p>
        
    </div>
    
        
    </div>
    
        
    </div>
    
    
    <div class="card-group programme">
        
            
    
    <div class="card-header">
        
            <p>12.00</p>
        
    </div>
    
        
            
    
    <div class="card bg-primary">
        
            
    
    <div class="card-body">
        
            <p><strong>Kelvin Oyana</strong> <br>
    <em>Bridging the talent gap between Python communities and industry</em></p>
        
    </div>
    
        
    </div>
    
        
            
    
    <div class="card bg-secondary">
        
            
    
    <div class="card-body">
        
            <p><strong>Eyitemi "insaida" Egbejule</strong><br>
    <em>The Jinja Ninja: Exploiting Jinja Template Engine for Code Execution</em></p>
        
    </div>
    
        
    </div>
    
        
    </div>
    
    
    <div class="card-group programme">
        
            
    
    <div class="card-header">
        
            <p>12.30</p>
        
    </div>
    
        
            
    
    <div class="card bg-primary">
        
            
    
    <div class="card-body">
        
            <p><strong>Daniele Procida</strong><br>
    <em>The world's cheapest, simplest plotter</em></p>
        
    </div>
    
        
    </div>
    
        
    </div>
    
    
    <div class="card-group programme">
        
            
    
    <div class="card-header">
        
            <p>13.00</p>
        
    </div>
    
        
            
    
    <div class="card border-primary">
        
            
    
    <div class="card-body">
        
            <p><em>Lunch</em></p>
        
    </div>
    
        
    </div>
    
        
    </div>
    
    
    <div class="card-group programme">
        
            
    
    <div class="card-header">
        
            <p>14.00</p>
        
    </div>
    
        
            
    
    <div class="card bg-primary">
        
            
    
    <div class="card-body">
        
            <p><strong>Jessica Upani</strong><br>
    <em>Is this Python thing really working?</em></p>
        
    </div>
    
        
    </div>
    
        
    </div>
    
    
    <div class="card-group programme">
        
            
    
    <div class="card-header">
        
            <p>14.30</p>
        
    </div>
    
        
            
    
    <div class="card bg-primary">
        
            
    
    <div class="card-body">
        
            <p><strong>Maurizio Boscaini</strong><br>
    <em>Pygame in High Schools</em></p>
        
    </div>
    
        
    </div>
    
        
            
    
    <div class="card bg-secondary">
        
            
    
    <div class="card-body">
        
            <p><strong>Aseda Owusua Addai-Deseh</strong><br>
    <em>A Reintroduction to Data Science</em></p>
        
    </div>
    
        
    </div>
    
        
    </div>
    
    
    <div class="card-group programme">
        
            
    
    <div class="card-header">
        
            <p>15.00</p>
        
    </div>
    
        
            
    
    <div class="card bg-primary">
        
            
    
    <div class="card-body">
        
            <p><strong>Chiamaka Nwolisa</strong><br>
    <em>Musings of a Frontend Developer: Building APIs with Python</em></p>
        
    </div>
    
        
    </div>
    
        
            
    
    <div class="card bg-secondary">
        
            
    
    <div class="card-body">
        
            <p><strong>Jef Colbi: Ninagram</strong><br>
    <em>How I mixed Django and Telegram in one soup!</em></p>
        
    </div>
    
        
    </div>
    
        
    </div>
    
    
    <div class="card-group programme">
        
            
    
    <div class="card-header">
        
            <p>15.30</p>
        
    </div>
    
        
            
    
    <div class="card bg-primary">
        
            
    
    <div class="card-body">
        
            <p><em>Panel</em></p>
        
    </div>
    
        
    </div>
    
        
    </div>
    
    
    <div class="card-group programme">
        
            
    
    <div class="card-header">
        
            <p>16.00</p>
        
    </div>
    
        
            
    
    <div class="card border-primary">
        
            
    
    <div class="card-body">
        
            <p><em>Break</em></p>
        
    </div>
    
        
    </div>
    
        
    </div>
    
    
    <div class="card-group programme">
        
            
    
    <div class="card-header">
        
            <p>16.30</p>
        
    </div>
    
        
            
    
    <div class="card bg-primary">
        
            
    
    <div class="card-body">
        
            <p><strong>Anna Makarudze </strong>Vice-President, Django Software Foundation<br>
    <em>Keynote</em></p>
        
    </div>
    
        
    </div>
    
        
    </div>
    
    
    <div class="card-group programme">
        
            
    
    <div class="card-header">
        
            <p>17.15</p>
        
    </div>
    
        
            
    
    <div class="card bg-primary">
        
            
    
    <div class="card-body">
        
            <p><em>Lightning talks</em></p>
        
    </div>
    
        
    </div>
    
        
    </div>
    
    
    <div class="card-group programme">
        
            
    
    <div class="card-header">
        
            <p>17.45</p>
        
    </div>
    
        
            
    
    <div class="card bg-primary">
        
            
    
    <div class="card-body">
        
            <p><em>Close</em></p>
        
    </div>
    
        
    </div>
    
        
    </div>
    
    
    <div class="mb-3">
        
    </div>
    </div><div class="friday">
    
    <div class="card-group programme">
        
            
    
    <div class="card-header">
        
            <p>08.30</p>
        
    </div>
    
        
            
    
    <div class="card border-primary">
        
            
    
    <div class="card-body">
        
            <p><em>Registration</em></p>
        
    </div>
    
        
    </div>
    
        
    </div>
    
    
    <div class="card-group programme">
        
            
    
    <div class="card-header">
        
            <p>09.30</p>
        
    </div>
    
        
            
    
    <div class="card bg-primary">
        
            
    
    <div class="card-body">
        
            <p><strong>Marlene Mhangami</strong><br>
    <em>Introduction</em></p>
        
    </div>
    
        
    </div>
    
        
    </div>
    
    
    <div class="card-group programme">
        
            
    
    <div class="card-header">
        
            <p>09.45</p>
        
    </div>
    
        
            
    
    <div class="card bg-primary">
        
            
    
    <div class="card-body">
        
            <p><strong>Ewa Jodlowska</strong> Executive Director, Python Software Foundation<br>
    <em>Keynote</em></p>
        
    </div>
    
        
    </div>
    
        
    </div>
    
    
    <div class="card-group programme">
        
            
    
    <div class="card-header">
        
            <p>10.30</p>
        
    </div>
    
        
            
    
    <div class="card bg-primary">
        
            
    
    <div class="card-body">
        
            <p><strong>Flavio Percoco</strong><br>
    <em>Inheriting code and I don't mean classes</em></p>
        
    </div>
    
        
    </div>
    
        
            
    
    <div class="card bg-secondary">
        
            
    
    <div class="card-body">
        
            <p><strong>Kwadwo Agyapon-Ntra</strong><br>
    <em>Deep Learning on Steroids - Using Transfer Learning to Accelerate Model Performance</em></p>
        
    </div>
    
        
    </div>
    
        
    </div>
    
    
    <div class="card-group programme">
        
            
    
    <div class="card-header">
        
            <p>11.00</p>
        
    </div>
    
        
            
    
    <div class="card border-primary">
        
            
    
    <div class="card-body">
        
            <p><em>Break</em></p>
        
    </div>
    
        
    </div>
    
        
    </div>
    
    
    <div class="card-group programme">
        
            
    
    <div class="card-header">
        
            <p>11.30</p>
        
    </div>
    
        
            
    
    <div class="card bg-primary">
        
            
    
    <div class="card-body">
        
            <p><strong>Aaron Yankey</strong><br>
    <em>Python Side of Vim</em></p>
        
    </div>
    
        
    </div>
    
        
            
    
    <div class="card bg-secondary">
        
            
    
    <div class="card-body">
        
            <p><strong>Sherin Thomas: PyTorch, RedisAI &amp; Hangar</strong><br>
    <em>The missing pieces of a complete deep learning workflow</em></p>
        
    </div>
    
        
    </div>
    
        
    </div>
    
    
    <div class="card-group programme">
        
            
    
    <div class="card-header">
        
            <p>12.00</p>
        
    </div>
    
        
            
    
    <div class="card bg-primary">
        
            
    
    <div class="card-body">
        
            <p><strong>Kuda Siziva</strong><br>
    <em>How to avoid burnout</em></p>
        
    </div>
    
        
    </div>
    
        
            
    
    <div class="card bg-secondary">
        
            
    
    <div class="card-body">
        
            <p><strong>Dustin Haffner</strong><br>
    <em>Currying in Python: How to hack new syntax into your favorite language</em></p>
        
    </div>
    
        
    </div>
    
        
    </div>
    
    
    <div class="card-group programme">
        
            
    
    <div class="card-header">
        
            <p>12.30</p>
        
    </div>
    
        
            
    
    <div class="card bg-primary">
        
            
    
    <div class="card-body">
        
            <p><strong>Loek van Gent</strong><br>
    <em>Make 'em pay: Connecting multiple African payment service providers</em></p>
        
    </div>
    
        
    </div>
    
        
            
    
    <div class="card bg-secondary">
        
            
    
    <div class="card-body">
        
            <p><strong>Enock Seth Nyamador</strong><br>
    <em>Geo+Python: A Shallow Dive into GIS Development</em></p>
        
    </div>
    
        
    </div>
    
        
    </div>
    
    
    <div class="card-group programme">
        
            
    
    <div class="card-header">
        
            <p>13:00</p>
        
    </div>
    
        
            
    
    <div class="card bg-primary">
        
            
    
    <div class="card-body">
        
            <p><strong>Adeyinka Adegbenro</strong><br>
    <em>Accessibility Testing: Making Information and Software available to all and sundry</em></p>
        
    </div>
    
        
    </div>
    
        
    </div>
    
    
    <div class="card-group programme">
        
            
    
    <div class="card-header">
        
            <p>13.30</p>
        
    </div>
    
        
            
    
    <div class="card border-primary">
        
            
    
    <div class="card-body">
        
            <p><em>Lunch</em></p>
        
    </div>
    
        
    </div>
    
        
    </div>
    
    
    <div class="card-group programme">
        
            
    
    <div class="card-header">
        
            <p>14.30</p>
        
    </div>
    
        
            
    
    <div class="card bg-primary">
        
            
    
    <div class="card-body">
        
            <p><strong>Anthony Shaw</strong><br>
    <em>Standing out in a world of 20 million developers</em></p>
        
    </div>
    
        
    </div>
    
        
            
    
    <div class="card bg-secondary">
        
            
    
    <div class="card-body">
        
            <p><strong>Larry Ndumbe</strong><br>
    <em>Your Journey to the Unknown: A tale of how I debunk new codebases</em></p>
        
    </div>
    
        
    </div>
    
        
    </div>
    
    
    <div class="card-group programme">
        
            
    
    <div class="card-header">
        
            <p>15.00</p>
        
    </div>
    
        
            
    
    <div class="card bg-primary">
        
            
    
    <div class="card-body">
        
            <p><strong>Ngazetungue Muhue</strong><br>
    <em>How Python rises in Nambia</em></p>
        
    </div>
    
        
    </div>
    
        
            
    
    <div class="card bg-secondary">
        
            
    
    <div class="card-body">
        
            <p><strong>Prudence Attablayo</strong><br>
    <em>Python for Cybersecurity</em></p>
        
    </div>
    
        
    </div>
    
        
    </div>
    
    
    <div class="card-group programme">
        
            
    
    <div class="card-header">
        
            <p>15.30</p>
        
    </div>
    
        
            
    
    <div class="card bg-primary">
        
            
    
    <div class="card-body">
        
            <p><strong>Erick M'bwana</strong><br>
    <em>Unit testing and mocking in Python​​​​​​​</em></p>
        
    </div>
    
        
    </div>
    
        
            
    
    <div class="card bg-secondary">
        
            
    
    <div class="card-body">
        
            <p><strong>Daniel Phiri</strong><br>
    <em>Python Powered Disease Classification Web Application</em></p>
        
    </div>
    
        
    </div>
    
        
    </div>
    
    
    <div class="card-group programme">
        
            
    
    <div class="card-header">
        
            <p>16.00</p>
        
    </div>
    
        
            
    
    <div class="card bg-primary">
        
            
    
    <div class="card-body">
        
            <p><strong>Kojo Idrissa</strong> Board member, Django Events Foundation North America<br>
    <em>Keynote</em></p>
        
    </div>
    
        
    </div>
    
        
    </div>
    
    
    <div class="card-group programme">
        
            
    
    <div class="card-header">
        
            <p>16.45</p>
        
    </div>
    
        
            
    
    <div class="card border-primary">
        
            
    
    <div class="card-body">
        
            <p><em>Break</em></p>
        
    </div>
    
        
    </div>
    
        
    </div>
    
    
    <div class="card-group programme">
        
            
    
    <div class="card-header">
        
            <p>17.15</p>
        
    </div>
    
        
            
    
    <div class="card bg-primary">
        
            
    
    <div class="card-body">
        
            <p><em>Lightning talks</em></p>
        
    </div>
    
        
    </div>
    
        
    </div>
    
    
    <div class="card-group programme">
        
            
    
    <div class="card-header">
        
            <p>18.00</p>
        
    </div>
    
        
            
    
    <div class="card bg-primary">
        
            
    
    <div class="card-body">
        
            <p><em>Close</em></p>
        
    </div>
    
        
    </div>
    
        
    </div>
    
    
    <div class="mb-3">
        
    </div>
    </div><div class="saturday">
    
    <div class="card-group programme">
        
            
    
    <div class="card-header">
        
            <p>08.30</p>
        
    </div>
    
        
            
    
    <div class="card border-primary">
        
            
    
    <div class="card-body">
        
            <p><em>Registration</em></p>
        
    </div>
    
        
    </div>
    
        
    </div>
    
    
    <div class="card-group programme">
        
            
    
    <div class="card-header">
        
            <p>09.00</p>
        
    </div>
    
        
            
    
    <div class="card bg-primary">
        
            
    
    <div class="card-body">
        
            <p><b>Sprints and collaboration</b><br>
    <em>Working together on code</em></p>
    
    <p>Topics include:</p>
    
    <ul>
            <li><em>Building the African Python community</em></li>
    </ul>
        
    </div>
    
        
    </div>
    
        
            
    
    <div class="card bg-secondary">
        
            
    
    <div class="card-body">
        
            <p><strong>Workshops and tutorials</strong></p>
    
    <p><em>Morning</em></p>
    
    <ul>
            <li><strong>Tendai Marengereke</strong><em> <br>
            Open Source Intelligence (OSINT) with Python - Developing Maltego Transforms</em></li>
    </ul>
    
    <p><em>Afternoon</em></p>
    
    <ul>
            <li><strong>Kelvin</strong><br>
            <em>Building Real Time Web applications With Django Channels</em></li>
    </ul>
        
    </div>
    
        
    </div>
    
        
            
    
    <div class="card bg-primary">
        
            
    
    <div class="card-body">
        
            <p><strong>Workshops and tutorials</strong></p>
    
    <p><em>Morning</em></p>
    
    <ul>
            <li><strong>Daniele Procida and friends</strong><br>
            <em>Organising your own Python community conference</em></li>
    </ul>
    
    <p><em>Afternoon</em></p>
    
    <ul>
            <li><strong>Samuel Asirifi and  Kenneth Matovu</strong><br>
            <em>​​​​​​​Building Binary Analysis Tools to find Vulnerabilities and Backdoors in Binaries with Python</em></li>
    </ul>
        
    </div>
    
        
    </div>
    
        
    </div>
    </div>
    
        </div>
      </main>
    
{% endblock %}
