{% extends "2020/base.html" %}
{% load i18n static %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{{ keynote.speaker_name }}'s{% trans " Profile | PyCon Africa 2020" %}{% endif %}{% endblock %}
 

{% block content %}
{% include '2020/navbar.html' %}

      <!-- Section Content -->
      <section class="g-bg-img-hero g-pos-rel u-bg-overlay g-bg-darkblue-opacity-0_6--after g-pt-150" style="background-image: url({% static '2020/img/body1.png' %});">
        <div class="container g-max-width-750 u-bg-overlay__inner g-color-white g-mb-60">
            <h3 class="text-center text-uppercase h3 g-font-weight-700 g-font-size-20 g-font-size-50--md g-color-primary g-mb-20 g-mb-50--md">Keynote's Profile</h3>
            <br>
            <br>
        </div>

      </section>
      <!-- End Section Content -->
      




       <!-- body -->
       <section id="profile">
       <div class="container">
        <div class="row">
            <div class="u-shadow-v1-5 col-md-12 g-line-height-2 g-pa-40 g-mb-30" role="alert">
                
              
               <!-- Speaker Contacts Panel -->
            <div class="card border-0 rounded-0 g-mb-50">
             <!-- Speaker Block -->
            <div class="g-brd-around g-brd-gray-light-v4 g-pa-20 g-mb-40">
              <div class="row">


                <div class="col-lg-4 text-center align-items-center g-mb-40 g-mb-0--lg ">
                    <!-- Speaker Image -->
                    <div class="g-mb-20 align-items-center">
                     <img class="g-width-200 g-height-200 img-fluid img-thumbnail g-brd-primary g-rounded-10" src="{{ keynote.profile_image.url }}" alt="Image description">
                    </div>
                    <!-- Speaker Image -->
                  </div>

                <div class="col-lg-8">
                  <!-- Speaker Details -->
                  <div class="d-flex align-items-center justify-content-sm-between g-mb-5">
                    <h2 class="g-font-weight-300 g-mr-10">{{ keynote.speaker_name }}</h2>
                    <ul class="list-inline mb-0">

                      {% if keynote.twitter %}
                      <li class="list-inline-item g-mx-2">
                        <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-primary g-bg-gray-light-v5 g-color-twitter--hover rounded-circle" href="https://www.twitter.com/{{ keynote.twitter }}" target="/">
                          <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-twitter"></i>
                          <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-twitter"></i>
                        </a>
                      </li>
                    {% else %}
                    {% endif %}

                    {% if keynote.github %}
                      <li class="list-inline-item g-mx-2">
                        <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-primary g-bg-gray-light-v5 g-color-github--hover rounded-circle" href="https://www.github.com/{{ keynote.github }}" target="/">
                          <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-github"></i>
                          <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-github"></i>
                        </a>
                      </li>
                    {% else %}
                    {% endif %}

                    {% if keynote.linkedin %}
                      <li class="list-inline-item g-mx-2">
                        <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-primary g-bg-gray-light-v5 g-color-linkedin--hover rounded-circle" href="https://www.linkedin.com/{{ keynote.linkedin }}" target="/">
                          <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-linkedin"></i>
                          <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-linkedin"></i>
                        </a>
                      </li>
                    {% else %}
                    {% endif %}
                    </ul>
                  </div>
                  <!-- End Speaker Details -->

                  <!-- Speaker Position -->
                  <h4 class="h6 g-font-weight-300 g-mb-10">
                      <i class="icon-organization g-pos-rel g-top-1 g-mr-5 g-color-gray-dark-v5"></i> {{ keynote.profession }}
                    </h4>
                  <!-- End Speaker Position -->

                  <!-- Speaker Info -->
                  <h4 class="h6 g-font-weight-300 g-mb-10">
                    <i class="icon-location-pin g-pos-rel g-top-1 g-mr-5 g-color-gray-dark-v5"></i> {{ keynote.country }}
                  </h4>
                  
                  <!-- End Speaker Info -->

                  <hr class="g-brd-gray-light-v4 g-my-20">

                {% if keynote.talk_title %}
                  <li class="list-inline-item g-mr-20">
                    <i class="icon-check g-pos-rel g-top-1 g-color-gray-dark-v5 g-mr-5"></i> {{ keynote.talk_type }}:
                  </li>
                  <p class=" g-color-black lead g-line-height-1_8">{{ keynote.talk_title }}</p>

                    <a class="align-items-center btn u-shadow-v32 g-color-primary g-color-yellow--hover g-bg-white g-bg-main--hover g-rounded-30 g-px-35 g-py-13" href="#talk">View</a>
                {% else %}
                    <p></p>
                {% endif %}

                </div>

              </div>
            </div>
            <!-- End Speaker Block -->

              <!-- Panel Body -->
              <div class="g-pa-0">
                <!-- Speaker Contacts -->
                <div class="row">
                  <p class="g-color-black g-font-size-16">
                        {{ keynote.biography|safe }}
                    </p>
                </div>
                <!-- End Speaker Contacts -->
              </div>
              <!-- End Panel Body -->
            </div>
            <!-- End Speaker Contacts Panel -->


            <div class="text-center"><br><br> 
              <a  onclick="goBack()" class="btn btn-md u-btn-inset u-btn-inset--rounded u-btn-outline-primary g-font-weight-600 g-letter-spacing-0_5 text-uppercase g-brd-2 g-rounded-50 g-mr-10 g-mb-15"> 
                <i class="fa fa-arrow-left g-ml-3"></i>
                go back
              </a>
            </div>

              </div>

        </div>
      </div>



       </section>



    {% include '2020/footer.html' %}

{% endblock %}