{% extends "base.html" %}
{% load i18n static %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "{{ speaker.speaker_name }} | PyCon Africa 2020" %}{% endif %}{% endblock %}


{% block content %}


      <!-- Section Content -->
      <section class="g-bg-img-hero g-pos-rel u-bg-overlay g-bg-darkblue-opacity-0_6--after g-pt-150" style="background-image: url({% static '2020/img/body1.png' %});">
        <div class="container g-max-width-750 u-bg-overlay__inner g-color-white g-mb-60">
            <h3 class="text-center text-uppercase h3 g-font-weight-700 g-font-size-20 g-font-size-50--md g-color-primary g-mb-20 g-mb-50--md">Speaker</h3>
            <br>
            <br>
        </div>

      </section>
      <!-- End Section Content -->
      


    <main>
        <div class="lgx-post-wrapper">
            <!--News-->
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <article>
                                <header>
                                    <figure>
                                        <img src="{{ speaker.profile_image.url }}" alt="{{ speaker.speaker_name }}"/>
                                    </figure>
                                    <div class="text-area">
                                        <div class="speaker-info">
                                            <h1 class="title"><a href="#">{{ speaker.speaker_name }}</a></h1>
                                            <h4 class="subtitle"> {{ speaker.position }}</h4>
                                            <h5 class="subtitle"> {{ speaker.company }}</h5>
                                        </div>
                                        <ul class="list-inline lgx-social">
                                            {% if speaker.twitter %}
                                            <li><a href="https://www.twitter.com/{{ speaker.twitter }}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                            {% else %}
                                            <p></p>
                                            {% endif %}
                                            
                                            {% if speaker.linkedin %}
                                            <li><a href="https://www.linkedin.com/{{ speaker.linkedin }}"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                            {% else %}
                                            <p></p>
                                            {% endif %}

                                            {% if speaker.website %}
                                            <li><a href="{{ speaker.website }}"><i class="fa fa-globe" aria-hidden="true"></i></a></li>
                                            {% else %}
                                            <p></p>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </header>
                                <section>
                                        {{ speaker.biography }}
                                        
                                </section>
                               
                            </article>
                        </div>
                    </div>
                </div><!-- //.CONTAINER -->
            </section>
            <!--News END-->
        </div>
    </main>


    {% include 'footer.html' %}

{% endblock %}