{% extends "base.html" %}
{% load i18n static %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Speakers | PyCon Africa 2020" %}{% endif %}{% endblock %}



{% block content %}
{% include 'navbar.html' %}

      <!-- Section Content -->
      <section class="g-bg-img-hero g-pos-rel u-bg-overlay g-bg-darkblue-opacity-0_6--after g-pt-150" style="background-image: url({% static '2020/img/body1.png' %});">
        <div class="container g-max-width-750 u-bg-overlay__inner g-color-white g-mb-60">
       
            <h3 class="text-center text-uppercase h3 g-font-weight-700 g-font-size-20 g-font-size-50--md g-color-primary g-mb-20 g-mb-50--md">Speakers</h3>
            <br>
            <br>
        </div>

      </section>
      <!-- End Section Content -->
       <!-- body -->
       <div class="container">

            <div class=" u-shadow-v1-5 g-line-height-2 g-pa-40 g-mb-30" role="alert">
                
              
                <!-- Speakers List Panel -->
             <div class="card border-0 rounded-0 g-mb-50">
               <div class="card-block g-pa-0">
                 <!-- Speakers List -->


                
            <!-- Nav tabs -->
            <ul class="nav text-center nav-justified u-nav-v7-1" role="tablist" data-target="nav-7-1-accordion-hor-left-big-icons" data-tabs-mobile-type="accordion" data-btn-classes="btn btn-md btn-block rounded-0 u-btn-outline-lightgray g-mb-20">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#nav-7-1-accordion-hor-left-big-icons--1" role="tab">
                  <i class="icon-christmas-037 d-block g-font-size-25 u-tab-line-icon-pro"></i>
                  <b>Speakers</b>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#nav-7-1-accordion-hor-left-big-icons--2" role="tab">
                  <i class="icon-communication-025 d-block g-font-size-25 u-tab-line-icon-pro"></i>
                  <b>Panelist</b>
                </a>
              </li>
              
            </ul>
            <!-- End Nav tabs -->

            <br><br>


            <!-- Tab panes -->
            <div id="nav-7-1-accordion-hor-left-big-icons" class="tab-content g-pt-20--md">
              
              <div class="tab-pane fade show active" id="nav-7-1-accordion-hor-left-big-icons--1" role="tabpanel">
                
                <p class="g-color-black g-font-size-16"> 
                  Meet our Speakers 
                </p>
                <br>

          <!-- Timeline Box -->
          <div class="row">
                 
            {% for speaker in speakers %}
            
            {% if speaker.is_visible %}
              <div class="col-md-4 g-mb-30 g-mb-0--md">
                <!-- Figure -->
                <figure class="g-bg-white g-brd-around g-brd-gray-light-v4 g-brd-primary--hover g-transition-0_2 text-center">
                  <div class="g-py-40 g-px-20">
                    <!-- Figure Image -->
                    <img class="g-width-150 g-height-150 rounded-circle g-mb-20 img-fluid u-shadow-v2 g-brd-around g-brd-primary" src="{{ speaker.profile_image.url }}" alt="Image Description">
                    <!-- Figure Image -->

                    <!-- Figure Info -->
                    <h4 class="h5 g-mb-5">{{ speaker.speaker_name }}</h4>
                    <div class="d-block">
                      <em class="g-color-gray-dark-v4 g-font-style-normal g-font-size-default">{{ speaker.talk_title|truncatechars:35 }}</em>
                      
                    </div>
                    <span class="u-label u-label--sm g-bg-gray-light-v4 g-color-primary g-rounded-15 g-px-10"><b>{{ speaker.talk_type }}</b></span>                  
       
                    <!-- End Figure Info -->
                  </div>

                  <hr class="g-brd-gray-light-v4 g-my-0">

                  <!-- Figure List -->
                  <ul class="row list-inline g-py-20 g-ma-0">
                    <li class="col g-brd-right g-brd-gray-light-v4">
                      <a class="u-icon-v1 u-icon-size--sm g-color-primary g-bg-transparent g-color-cyan--hover"  data-toggle="tooltip" data-placement="bottom" title="{{ speaker.speaker_name }}'s Profile" href="{% url 'speaker_detail' speaker.slug %}">
                        
                        <i class="icon-user"></i>
                      </a>
                    </li>
                    
                    <li class="col g-brd-right g-brd-gray-light-v4">
                      <a class="u-icon-v1 u-icon-size--sm g-color-primary g-bg-transparent g-color-yellow--hover"  data-toggle="tooltip" data-placement="bottom"  title="View {{ talks.talk_type }}: {{ speaker.talk_title }}" href="{% url 'speaker_detail' speaker.slug %}#talk">
                        <i class="icon-speech"></i>
                      </a>
                    </li>
                  </ul>
                  <!-- End Figure List -->
                </figure>
                <!-- End Figure -->
              </div> 
              <p> </p>
            {% else %}

            {% endif %}
            {% empty %} 
           <h4>There is nothing in this list </h4> 
            {% endfor %} 
              

            
            </div>

          <!-- End Timeline Box -->

              </div>
              
 {% if user.is_authenticated %}
              
              <div class="tab-pane fade" id="nav-7-1-accordion-hor-left-big-icons--2" role="tabpanel">
                <p class="g-color-black g-font-size-16"> 
                  Meet our Panelist     
                </p>
                <br>

                    <!-- Timeline Box -->
                    <div class="row">
                 
                     
          <div class="shortcode-html">
            <!-- Figure -->
            <figure class="row flex-md-row align-items-center">
              <!-- Figure Body -->
              <div class="col-md-3 px-0">
                <div class="u-ns-bg-v1-bottom u-ns-bg-v1-right--md g-bg-white g-py-30 g-px-50">
                  <!-- Figure Info -->
                  <div class="g-mb-25">
                    <div class="g-mb-20">
                      <h4 class="h5 g-color-black g-mb-5">Daniel Wearne</h4>
                      <em class="d-block g-font-style-normal g-font-size-11 text-uppercase g-color-primary">Co-Founder / CEO</em>
                    </div>
                    <p>I am an ambitious workaholic, but apart from that, pretty simple person. Understanding who you are and what you want is my strategy for your brand. I am always figuring out ways to capture your vision, so people can get on board.</p>
                  </div>
                  <!-- End Figure Info -->

                  <!-- Figure Social Icons -->
                  <ul class="list-inline mb-0">
                    <li class="list-inline-item g-mx-3">
                      <a class="u-icon-v2 u-icon-size--xs g-color-main g-bg-gray-light-v5 g-brd-gray-light-v5 g-bg-primary--hover g-color-white--hover rounded-circle" href="#">
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li class="list-inline-item g-mx-3">
                      <a class="u-icon-v2 u-icon-size--xs g-color-main g-bg-gray-light-v5 g-brd-gray-light-v5 g-bg-primary--hover g-color-white--hover rounded-circle" href="#">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item g-mx-3">
                      <a class="u-icon-v2 u-icon-size--xs g-color-main g-bg-gray-light-v5 g-brd-gray-light-v5 g-bg-primary--hover g-color-white--hover rounded-circle" href="#">
                        <i class="fa fa-google-plus"></i>
                      </a>
                    </li>
                  </ul>
                  <!-- End Figure Social Icons -->
                </div>
              </div>
              <!-- End Figure Body -->

              <!-- Figure Image -->
              <div class="col-md-3 px-0">
                <img class="w-100" src="{% static '2020/img/DrMaria.jpg' %}" alt="Image Description">
              </div>
              <!-- End Figure Image -->
            </figure>
            <!-- End Figure -->

            <!-- Figure -->
            <figure class="row flex-md-row align-items-center">
              <!-- Figure Body -->
              <div class="col-md-3 order-md-2 px-0">
                <div class="u-ns-bg-v1-bottom u-ns-bg-v1-left--md g-bg-white g-py-30 g-px-50">
                  <!-- Figure Info -->
                  <div class="g-mb-25">
                    <div class="g-mb-20">
                      <h4 class="h5 g-color-black g-mb-5">Kate Metu</h4>
                      <em class="d-block g-font-style-normal g-font-size-11 text-uppercase g-color-primary">Co-Founder / UX Designer</em>
                    </div>
                    <p>I am an ambitious workaholic, but apart from that, pretty simple person. Understanding who you are and what you want is my strategy for your brand. I am always figuring out ways to capture your vision, so people can get on board.</p>
                  </div>
                  <!-- End Figure Info -->

                  <!-- Figure Social Icons -->
                  <ul class="list-inline mb-0">
                    <li class="list-inline-item g-mx-3">
                      <a class="u-icon-v2 u-icon-size--xs g-color-main g-bg-gray-light-v5 g-brd-gray-light-v5 g-bg-primary--hover g-color-white--hover rounded-circle" href="#">
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li class="list-inline-item g-mx-3">
                      <a class="u-icon-v2 u-icon-size--xs g-color-main g-bg-gray-light-v5 g-brd-gray-light-v5 g-bg-primary--hover g-color-white--hover rounded-circle" href="#">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item g-mx-3">
                      <a class="u-icon-v2 u-icon-size--xs g-color-main g-bg-gray-light-v5 g-brd-gray-light-v5 g-bg-primary--hover g-color-white--hover rounded-circle" href="#">
                        <i class="fa fa-google-plus"></i>
                      </a>
                    </li>
                  </ul>
                  <!-- End Figure Social Icons -->
                </div>
              </div>
              <!-- End Figure Body -->

              <!-- Figure Image -->
              <div class="col-md-6 order-md-1 px-0">
                <img class="w-100" src="{% static '2020/img/DrMaria.jpg' %}" alt="Image Description">
              </div>
              <!-- End Figure Image -->
            </figure>
            <!-- End Figure -->
          </div>
        
                      
                      </div>
                <!-- End Timeline Box -->

              </div>

              {% else %}

              {% endif %}
              </div>



                 <!-- End Speakers List -->
               </div>
             </div>
             <!-- End Speakers List Panel -->
 
 
 
               </div>

             

      </div>
    <!-- End body -->



    {% include 'footer.html' %}


{% endblock %}