{% extends "2020/base.html" %}
{% load i18n static %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "About | PyCon Africa 2020" %}{% endif %}{% endblock %}

 



{% block content %}
{% include '2020/navbar.html' %}

      <!-- Section Content -->
      <section class="g-bg-img-hero g-pos-rel u-bg-overlay g-bg-darkblue-opacity-0_6--after g-pt-150" style="background-image: url({% static '2020/img/body1.png' %});">
        <div class="container g-max-width-750 u-bg-overlay__inner g-color-white g-mb-60">
            <h3 class="text-center text-uppercase h3 g-font-weight-700 g-font-size-20 g-font-size-50--md g-color-primary g-mb-20 g-mb-50--md">About Us</h3>
            <br>
            <br>
        </div>

      </section>
      <!-- End Section Content -->
      
    <!-- body -->
    <div class="container">
        <div class="row">
          <div class="u-shadow-v1-5 g-line-height-2 g-pa-40 g-mb-30 col col-12 col-sm-12 col-md-6" role="alert">
            <h2 class="text-uppercase g-line-height-1 g-font-weight-700 g-font-size-20 g-mb-30">What is
              <span class="g-font-weight-400 g-font-size-30">|</span>
              <span class="g-color-primary"> Pycon Africa?</span></h2>
              <p class="g-color-black g-font-size-16">
                PyCon Africa is the annual gathering of the Pan-African Python community on the continent of 
                Africa. The conference is focused on the community using and developing the open-source <a href="https://python.org/" target="/"><b>Python</b></a> 
                programming language. This will be the 2nd rendition of the conference. Last year Pycon Africa 
                was held in Accra, Ghana, read the full report <a href="https://africa.pycon.org/2019/report" target="/"><b>here</b></a>. 
                <br><br>
                Due to the unfortunate circumstances, we can not come together in person, but we are excited to 
                be continuing with the conference online!
                <br><br>
                Dates: August 4-8, 2020<br>
                Location: Online 

               </p> 
          </div>



          <div class="u-shadow-v1-5 g-line-height-2 g-pa-40 g-mb-30 col col-12 col-sm-12 col-md-6" role="alert">
            <h2 class="text-uppercase g-line-height-1 g-font-weight-700 g-font-size-20 g-mb-30">The
              <span class="g-font-weight-400 g-font-size-30">|</span>
              <span class="g-color-primary">Program</span></h2>
              <p class="g-color-black g-font-size-16">
                Throughout the 4th - 8th of August 2020, you can expect:
              </p>
                <ul class="g-color-black g-font-size-16">
                <li>Talks delivered by speakers from across Africa and the world.</li> 
                <li>Interactive sessions with influential Pythonista’s affecting the Python ecosystem 
                  on the continent.</li> 
                <li>Pan-African open source Python projects made from within the continent.</li> 
              </ul>
              <p class="g-color-black g-font-size-16">
                We encourage you to connect with our team in order to be apart of this exciting initiative. 
                Pycon Africa online will be free, however, to cover the costs of putting the conference 
                together please join with us by donating here. 
               </p> 
               <p class="g-color-black g-font-size-16">
               PyCon Africa is a <a href="https://us.pycon.org/2020/about/diversity/" target="/"><b>diverse conference</b></a> dedicated to providing an enjoyable experience to everyone. 
               Help us ensure this by following our <a href="/coc" target="/"><b>code of conduct</b></a>.
              </p>
          </div>


            <div class="u-shadow-v1-5 g-line-height-2 g-pa-40 g-mb-30 col col-12 col-sm-12 col-md-6" role="alert">
              <h2 class="text-uppercase g-line-height-1 g-font-weight-700 g-font-size-20 g-mb-30">The
                <span class="g-font-weight-400 g-font-size-30">|</span>
                <span class="g-color-primary">Team</span></h2>
              <p class="g-color-black g-font-size-16">
                The organising team of PyCon Africa 2020 includes experienced Python community conference 
                organisers from Africa and Europe.
                <br>
                Between them they have run multiple international conferences, including PyCons in Nigeria, 
                Ghana, Zimbabwe, Namibia, United Kingdom as well as several editions of DjangoCon Europe.</p>
                <a href="mailto:team@pycon.africa" class="btn btn-md u-btn-skew u-btn-outline-primary g-mr-10 g-mb-15">
                  <span class="u-btn-skew__inner">team@pycon.africa</span>
                </a>
                
            </div>

        </div>
      </div>
    <!-- End body -->



    {% include '2020/footer.html' %}


{% endblock %}