{% extends "base.html" %}
{% load i18n static avatar_tags crispy_forms_tags %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Review Talk || PyCon Africa" %}{% endif %}{% endblock %}
{% trans 'cur_time' as datetime.datetime.now(tz=pytz.timezone(str(settings.TIME_ZONE))) %}

{% block content %}

<!-- ========== HEADER ========== -->
{% include '2024/navbar.html' %}
<!-- ========== END HEADER ========== -->
 

    <!-- Breadcrumbs -->
    <section class="g-bg-gray-light-v5 g-py-80 g-pt-150">
      <div class="container text-center"> 
        <h1 class="h2 g-color-black g-font-weight-600">Proposal Review</h1> 
        <ul class="u-list-inline">
          <li class="list-inline-item g-mr-5">
            <a class="u-link-v5 g-color-gray-dark-v1 g-color-primary--hover" href="/2024/">Home</a>
            <i class="g-color-gray-light-v2 g-ml-5">/</i>
          </li> 
          <li class="list-inline-item g-mr-5">
            <a class="u-link-v5 g-color-gray-dark-v1 g-color-primary--hover" href="/accounts/profile/">Profile</a>
            <i class="g-color-gray-light-v2 g-ml-5">/</i>
          </li> 
          <li class="list-inline-item g-mr-5">
            <a class="u-link-v5 g-color-gray-dark-v1 g-color-primary--hover" href="/2024/talks/talk_list/">Proposal(s)</a>
            <i class="g-color-gray-light-v2 g-ml-5">/</i>
          </li> 
          <li class="list-inline-item g-color-primary">
            <span>Proposal Review</span>
          </li>
        </ul><br>
        <i class="fa-sharp fa-solid fa-ballot-check" style="font-size:41px;"></i> 
      </div>
      
    </section>
    <!-- End Breadcrumbs --> 
   
  
    
    <section class="g-mb-100 g-pt-50">
      <div class="container"> 
          <div class="u-shadow-v1-5 g-line-height-2 g-pa-40 g-mb-30" > 
              <div class="row">
                
                  <!-- Profile Sidebar -->
                  <div class="col-lg-3 g-mb-50 g-mb-0--lg"> 
                    <!-- Profile Pic --> 
                      {% include 'profiles/profilepic_side.html' %}
                    <!-- End Profile Pic  -->   
        
                    <!-- Sidebar Navigation -->
                    <div class="list-group list-group-border-0 g-mb-40">
                      <div class="media"> 
                        <div class="media-body">
                          <div><b><small class="text-danger">LAST LOGIN</small></b></div>
                          <div class="g-font-size-12 g-color-gray-dark-v2"><b><small>Date:</small></b>  {{ request.user.last_login.date }}</div>
                          <div class="g-font-size-12  g-color-gray-dark-v2"><b><small>Time:</small></b>  {{ request.user.last_login.time }}</div> 
                        </div>
                      </div>
                    </div> 
                      
                      <!-- Overall -->
                      <a href="/accounts/profile/" class="list-group-item list-group-item-action justify-content-between">
                        <span><i class="fa-thin fa-house-user  g-pos-rel g-top-1 g-mr-8"></i> My Profile</span> 
                      </a>
                      <!-- End Overall -->
                      
                      <!-- Overall -->
                      <a href="{% url 'profiles:profile_update' pk=request.user.user_profile.profile_id.hashid  %}" class="list-group-item list-group-item-action justify-content-between">
                        <span><i class="fa-light fa-id-card g-pos-rel g-top-1 g-mr-8"></i>  Update my Profile</span> 
                      </a>
                      <!-- End Overall -->
        
                      <!-- Profile -->
                      <a href="/accounts/password/change/" class="list-group-item list-group-item-action justify-content-between">
                        <span><i class="fa-light fa-lock g-pos-rel g-top-1 g-mr-8"></i>  Change Password</span>
                      </a>
                      <!-- End Profile -->
        
                      <!-- Profile -->
                      <a href="{% url 'talks:talk_list' year=year %}" class="list-group-item list-group-item-action justify-content-between ">
                        <span><i class="fa-light fa-podium-star g-pos-rel g-top-1 g-mr-8"></i>  My Submitted Talks</span>
                      </a>
                      <!-- End Profile -->
  
                      <!-- My Submitted Talks -->
                      <a href="{% url 'talks:submit_talk' year=year %}" class="list-group-item list-group-item-action justify-content-between">
                          <span><i class="fa-thin fa-podium g-pos-rel g-top-1 g-mr-8"></i>  Submit a new Talk</span>
                        </a>
                        <!-- End Profile --> 
                        {% if perms.reviews.add_review %} 
                        <!-- Review Talks -->
                        <a href="{% url 'talks:talks_to_review' year=year %}" class="list-group-item list-group-item-action justify-content-between active">
                          <span><i class="fa-solid fa-fade fa-ballot-check g-pos-rel g-top-1 g-mr-8"></i> Review Proposals</span>
                        </a>
                        <!-- End Profile --> 
                      {% endif %}

                      
                      
                      {% if request.user.is_superuser %}
                     <!-- Review Talks List-->
                      <a href="{% url 'talks:reviewed_talks_by_category' year=2024 %}" class="list-group-item list-group-item-action justify-content-between ">
                      <span><i class="fa-thin fa-list-check g-pos-rel g-top-1 g-mr-8"></i> Proposals by Category</span>
                    </a>
                    <a href="{% url 'talks:reviewed_talks_by_type' year=year %}" class="list-group-item list-group-item-action justify-content-between ">
                     <span><i class="fa-thin  fa-list-check g-pos-rel g-top-1 g-mr-8"></i> Proposals by Type</span>
                   </a>
                    <!-- End Review Talks List --> 
                          {% endif %}
                    </div>
                    <!-- End Sidebar Navigation -->  
                  <!-- End Profile Sidebar -->   
                <!-- End Profile Sidebar -->  
      
                
              <div class="col-lg-9">
                <section class="g-brd-around g-brd-gray-light-v4">
                  <div class="container g-py-50--md g-py-20">
                    
                    <h2>Review Proposals</h2>  
                    
                    <hr class="u-divider-db-solid g-brd-gray-light-v3">  

                    {% if messages %}
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                {% endif %}
                
             
                {% if not no_reviewer_rights %}
                <h4 class="g-mb-20">Proposals Awaiting Review</h4>  
                
              
<!-- Nav tabs -->
<ul class="nav u-nav-v1-2 u-nav-primary u-nav-rounded-5 g-brd-bottom--md g-brd-primary g-mb-20" role="tablist">
  {% for talk_type, talks in talks_by_type.items %}
  <li class="nav-item">
      <a class="nav-link{% if forloop.first %} active{% endif %} g-rounded-bottom-0 g-brd-bottom-none" data-toggle="tab" href="#type-{{ forloop.counter }}" role="tab"><b>{{ talk_type }}</b></a>
  </li>
  {% endfor %}
</ul>
<!-- End Nav tabs -->

<div class="tab-content">
  {% for talk_type, talks in talks_by_type.items %}
  <div class="tab-pane fade{% if forloop.first %} show active{% endif %}" id="type-{{ forloop.counter }}" role="tabpanel">
      <div class="table-responsive">
          <table class="table table-hover u-table--v1 mb-0">
              {% if talks %}
              <thead>
                  <tr>
                      <th style="color: #161515;"><p>Title</p></th>
                      <th style="color: #161515;"><p>Session</p></th>
                      <th style="color: #161515;"><p>Audience</p></th> 
                      <th style="color: #161515;"><p>Actions</p></th>
                  </tr>
              </thead>
              <tbody>
                  {% for talk in talks %}
                  <tr>
                      <td>
                          <a href="{% url 'talks:review_talk' year=year pk=talk.pk %}"><small>{{ talk.title }}</small></a>
                      </td>
                      <td>
                          <small>{{ talk.talk_type }}</small>
                      </td>
                      <td class="hidden-sm">
                          <small>{{ talk.intended_audience }}</small>
                      </td>
                      <td>
                          <a href="{% url 'talks:review_talk' year=year pk=talk.pk %}" style="font-size:12px" class="btn btn-xs u-btn-outline-purple">Review <i class="fa fa-edit"></i></a>
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
              {% else %}
              <p>&nbsp;&nbsp; There are no proposals pending review.</p>
              {% endif %}
          </table>
      </div>
  </div>
  {% endfor %}
</div>

                



                
                    <hr class="u-divider-db-solid g-brd-gray-light-v3"> 
                <h4 class="g-mb-20">Proposals Reviewed<br><small style="font-size:14px;">This list of proposals includes the average score from all reviewers' ratings.</small></h4>  
                
                <div class="shortcode-html">
                    <!-- Hover Rows -->
                    <div class="card g-brd-teal rounded-0 g-mb-30">
                    <h3 class="card-header g-bg-teal g-brd-transparent g-color-white g-font-size-16 rounded-0 mb-0">
                        <i class="fa-light fa-ballot-check g-mr-5"></i>
                        
                    </h3>
                    



                    <div class="table-responsive">
                        <table class="table table-hover u-table--v1 mb-0">
                            {% if talks_reviewed_with_scores %}
                        <thead>
                            <tr>
                            <th  style="color: #161515;"><p >Title
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                            </p></th>
                            <th style="color: #161515;"><p >Session</p></th>
                            <th style="color: #161515;"><p >Audience</p></th> 
                            <th style="color: #161515;"><p >Current Average Score</p></th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for talk, avg_score in talks_reviewed_with_scores %}
                            <tr>
                            <td>
                                 <small>{{ talk.title }}</small>  
                            </td>
                            <td> 
                                <small>{{ talk.talk_type }}</small>
                            </td>
                            <td class="hidden-sm">
                                <small>{{ talk.intended_audience }}</small>
                            </td> 
                            <td>  
                                {{ avg_score|floatformat:2 }}
                                
                            </td>
                            </tr>  
                            {% empty %}
                            <p>&nbsp;&nbsp; You are yet to review a proposal.</p>
                            {% endfor %} 
                        </tbody>
                        {% else %}
                        <p>&nbsp;&nbsp; You are yet to review a proposal.</p>
                        {% endif %}
                        </table>
                    </div>
                    </div>
                    <!-- End Hover Rows -->
                </div>

                {% else %}
                <br><br>
    <!-- Red Alert -->
    <div class="alert alert-dismissible fade show g-bg-red g-color-white rounded-0" role="alert">
        <button type="button" class="close u-alert-close--light" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
  
        <div class="media">
          <span class="d-flex g-mr-10 g-mt-5">
            <i class="icon-ban g-font-size-25"></i>
          </span>
          <span class="media-body align-self-center">
            <strong>Oh snap!</strong>  <p>You do not have permission to view this page. Please contact the administrator if you believe this is an error.</p>
          </span>
        </div>
      </div>
      <!-- End Red Alert -->
               
                {% endif %}

                 
                </div>
                </section> 
              </div>    
      
              </div>
          </div>
        </div>
      </section>  
    <!-- end section.speakers -->
 
    
{% endblock %}

 
 