{% extends "base19.html" %}
{% load i18n static %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Team | PyCon Africa 2019" %}{% endif %}{% endblock %}


{% block content %}
  <main class="flex-grow-1">
    <div class="container">
        
  

<div class="row">
    
        

<div class="col col-12 col-lg-10 col-xl-9">
    
        

<div class="card bg-secondary">
    
        

<div class="card-header">
    
        <h3><span style="color: #000000;">Marlene Mhangami</span></h3>
    
</div>

    
        

<div class="card-body">
    
        

<div class="row">
    
        

<div class="col col-12 col-md-4">
    
        








<img src="{% static '2019/img/marlene.jpg__500x500_q90_subsampling-2.jpg' %}"
    alt=""
    
    
    
    class="img-fluid"
>









    
</div>

    
        

<div class="col">
    
        <p><em>Chair of the organising committee</em></p>

<p>Marlene is a Director of the Python Software Foundation, and a co-founder of <a href="https://www.zimbopy.com/" class><i class="far " aria-hidden="true" ></i>ZimboPy<i class="far " aria-hidden="true" ></i></a>, a Zimbabwean non-profit that empowers women to pursue careers in technology.</p>

<p>She lives in Harare and has an active role in assisting the growth of Python communities locally and across Africa.</p>
    
</div>

    
</div>

    
</div>

    
</div>

    
</div>

    
        

<div class="col col-12 col-lg-10 offset-lg-2 col-xl-9 offset-xl-3">
    
        

<div class="card bg-secondary">
    
        

<div class="card-header">
    
        <h3 style="text-align: right;"><span style="color: #000000;">Aaron Yankey</span></h3>
    
</div>

    
        

<div class="card-body">
    
        

<div class="row">
    
        

<div class="col">
    
        <p><em>Chair of the Python Software Community in Ghana</em></p>

<p>Best known for helping make Ghana a space-faring nation, Aaron has been contributing his widow's mite to the tech community for over seven years. He's a member of the Python Software Foundation Grants committee and helps promote Python-related activities around the globe. </p>

<p> </p>
    
</div>

    
        

<div class="col col-12 col-md-4">
    
        








<img src="{% static '2019/img/aaron.jpg__500x500_q90_subsampling-2.jpg' %}"
    alt=""
    
    
    
    class="img-fluid"
>









    
</div>

    
</div>

    
</div>

    
</div>

    
</div>

    
        

<div class="col col-12 col-lg-10 col-xl-9">
    
        

<div class="card bg-secondary">
    
        

<div class="card-header">
    
        <h3><span style="color: #000000;">Aisha Bello</span></h3>
    
</div>

    
        

<div class="card-body">
    
        

<div class="row">
    
        

<div class="col col-12 col-md-4">
    
        








<img src="{% static '2019/img/aisha.jpg__500x500_q90_subsampling-2.jpg' %}"
    alt=""
    
    
    
    class="img-fluid"
>









    
</div>

    
        

<div class="col">
    
        <p>Aisha is a Cloud Systems Engineer at <a href="https://www.techdata.com/" class><i class="far " aria-hidden="true" ></i>TechData<i class="far " aria-hidden="true" ></i></a>.</p>

<p>She's a former board member of the Python Nigeria Community, a Python Software Foundation fellow, Django Software Foundation member and winner of the 2016 Malcolm Tredinnick Memorial award. Aisha is passionate about mentoring African women through PyLadies and DjangoGirls. She's on Twitter as <a href="https://twitter.com/AishaXBello" class><i class="far " aria-hidden="true" ></i>@AishaXBello<i class="far " aria-hidden="true" ></i></a>.</p>
    
</div>

    
</div>

    
</div>

    
</div>

    
</div>

    
        

<div class="col col-12 col-lg-10 offset-lg-2 col-xl-9 offset-xl-3">
    
        

<div class="card bg-secondary">
    
        

<div class="card-header">
    
        <h3 style="text-align: right;"><span style="color: #000000;">Michael Young</span></h3>
    
</div>

    
        

<div class="card-body">
    
        

<div class="row">
    
        

<div class="col">
    
        <p><em>Treasurer</em></p>

<p>Michael is a professional accountant with keen interest in Data Science and Financial Inclusion. He is a co-founder and Executive Board member of the Python Software Community in Ghana, and works with students and professionals as a career mentor, educator and a community builder.</p>
    
</div>

    
        

<div class="col col-12 col-md-4">
    
        








<img src="{% static '2019/img/michael.png__505x505_q90_subsampling-2.png' %}"
    alt=""
    
    
    
    class="img-fluid"
>









    
</div>

    
</div>

    
</div>

    
</div>

    
</div>

    
        

<div class="col col-12 col-lg-10 col-xl-9">
    
        

<div class="card bg-secondary">
    
        

<div class="card-header">
    
        <h3><span style="color: #000000;">Abigail Mesrenyame Dogbe</span></h3>
    
</div>

    
        

<div class="card-body">
    
        

<div class="row">
    
        

<div class="col col-12 col-md-4">
    
        








<img src="{% static '2019/img/abigail.jpeg__500x500_q90_subsampling-2.jpg' %}"
    alt=""
    
    
    
    class="img-fluid"
>









    
</div>

    
        

<div class="col">
    
        <p>Abigail is the current Lead of PyLadies Ghana, a mentorship group with a focus on helping more women become active participants and leaders in the Python open-source community.</p>

<p>She has been involved in organising and coaching at several Django Girls events in Ghana and hopes to empower more women in the field of technology through these initiatives.<br>
 </p>
    
</div>

    
</div>

    
</div>

    
</div>

    
</div>

    
        

<div class="col col-12 col-lg-10 offset-lg-2 col-xl-9 offset-xl-3">
    
        

<div class="card bg-secondary">
    
        

<div class="card-header">
    
        <h3><span style="color: #000000;">Noah Alorwu</span></h3>
    
</div>

    
        

<div class="card-body">
    
        

<div class="row">
    
        

<div class="col">
    
        <p><em>Talks committee lead</em></p>

<p>Noah is a software developer, a member of <a href="https://ict4d.at/" class><i class="far " aria-hidden="true" ></i>ICT4D.at<i class="far " aria-hidden="true" ></i></a> and UI designer. He's a co-founder and executive board member of the Python Software Community in Ghana, and a member of the Django Software Foundation. Noah has been involved in the organisation of several events including Django Girls &amp; PyCon Ghana. He's on Twitter: <a href="https://twitter.com/plasmadray" class><i class="far " aria-hidden="true" ></i>@plasmadray<i class="far " aria-hidden="true" ></i></a>  </p>
    
</div>

    
        

<div class="col col-12 col-md-4">
    
        








<img src="{% static '2019/img/noah.jpeg__500x500_q90_subsampling-2.jpg' %}"
    alt=""
    
    
    
    class="img-fluid"
>









    
</div>

    
</div>

    
</div>

    
</div>

    
</div>

    
        

<div class="col col-12 col-lg-10 col-xl-9">
    
        

<div class="card bg-secondary">
    
        

<div class="card-header">
    
        <h3><span style="color: #000000;">Mannie Young</span></h3>
    
</div>

    
        

<div class="card-body">
    
        

<div class="row">
    
        

<div class="col col-12 col-md-4">
    
        








<img src="{% static '2019/img/mannie.png' %}"
    alt=""
    
    
    
    class="img-fluid"
>









    
</div>

    
        

<div class="col">
    
        <p>Mannie is a computer scientist, graphic designer and software developer.</p>

<p>He's also a community builder, having kick-started the initiatives and user groups under the Python Software Community in Ghana. He volunteers as a mentor for people hoping to get into software development and organises events and workshops around the country. He's on Twitter: <a href="https://twitter.com/mawy_7" class><i class="far " aria-hidden="true" ></i>@mawy_7<i class="far " aria-hidden="true" ></i></a>.</p>
    
</div>

    
</div>

    
</div>

    
</div>

    
</div>

    
        

<div class="col col-12 col-lg-10 offset-lg-2 col-xl-9 offset-xl-3">
    
        

<div class="card bg-secondary">
    
        

<div class="card-header">
    
        <h3><span style="color: #000000;">Daniele Procida</span></h3>
    
</div>

    
        

<div class="card-body">
    
        

<div class="row">
    
        

<div class="col">
    
        <p>Daniele works at <a href="https://divio.com/" class><i class="far " aria-hidden="true" ></i>Divio<i class="far " aria-hidden="true" ></i></a> and currently lives in the Netherlands.</p>

<p>He is a core developer of the Django Project and has been an active volunteer organiser in the Python community for several years. In recent years he has been involved in the organisation of several editions of DjangoCon Europe, PyCon UK and PyCon Namibia.</p>
    
</div>

    
        

<div class="col col-12 col-md-4">
    
        








<img src="{% static '2019/img/daniele.jpg__500x500_q90_subsampling-2.jpg' %}"
    alt=""
    
    
    
    class="img-fluid"
>









    
</div>

    
</div>

    
</div>

    
</div>

    
</div>

    
</div>


    </div>
  </main>


  {% endblock %}