{% extends "2020/base.html" %}
{% load i18n static %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Sponsor Us | PyCon Africa 2020" %}{% endif %}{% endblock %}

 



{% block content %}
{% include '2020/navbar.html' %}
      <!-- Section Content -->
      <section class="g-bg-img-hero g-pos-rel u-bg-overlay g-bg-darkblue-opacity-0_6--after g-pt-150" style="background-image: url({% static '2020/img/body1.png' %});">
        <div class="container g-max-width-750 u-bg-overlay__inner g-color-white g-mb-60">
       
            <h3 class="text-center text-uppercase h3 g-font-weight-700 g-font-size-20 g-font-size-50--md g-color-primary g-mb-20 g-mb-50--md">Sponsor Us</h3>
            <br>
            <br>
        </div>

      </section>
      <!-- End Section Content -->
       <!-- body -->
       <div class="container">
        <div class="row">
            <div class="u-shadow-v1-5 g-line-height-2 g-pa-40 g-mb-30" role="alert">
                <h2 class="text-uppercase g-line-height-1 g-font-weight-700 g-font-size-20 g-mb-30">Sponsorship
                  <span class="g-color-primary"> Packages</span></h2>
                    <p class="g-color-black g-font-size-16">
                        Sponsorship of PyCon Africa will give your organisation global visibility and recognition. It is an excellent way to support the Python community, promote your products to our hundreds of delegates, and meet Python developers who are looking for work.
                    </p> 
                    <p class="g-color-black g-font-size-16"> 
                        In return for your support, we will ensure that your company is given exposure before, during, and after the event, and we will work with you so that you get exactly what you're looking for out of sponsoring the conference.
                    </p>  
                    <br>

          <a class="btn u-shadow-v32 g-color-red g-color-yellow--hover g-bg-white g-bg-main--hover g-rounded-30 g-px-35 g-py-13" href="https://bit.ly/PyConAfrica2020Prospectus" target="/" disabled><b>Download our Prospectus</b></a>
              </div>
              
              <div class="u-shadow-v1-5 g-line-height-2 g-pa-40 g-mb-30" role="alert">
                <h2 class="text-uppercase g-line-height-1 g-font-weight-700 g-font-size-20 g-mb-30">Headline Sponsor 
                  <span class="g-color-primary">$16000</span></h2>
                    <p class="g-color-black g-font-size-16">
                      <p class="g-color-black g-font-size-16">Total number available: 1</p>

                      <p class="g-color-black g-font-size-16">This sponsor will be in the spotlight throughout the conference.</p>
                      
                      <p class="g-color-black g-font-size-16"><strong>Highlights of this package:</strong></p>
                      
                      <ul class="g-color-black g-font-size-16">
                        <li>Logo on Pycon Africa website, digital program guide, Pycon Africa banners, and talk video overlay on all speaker videos. (This sponsors logo will be the most prominent.)</li>
                        <li>Mention in the opening session</li>
                        <li>1 pre-recorded sponsored talk or workshop (45min)</li>
                        <li>Opportunity to engage directly with attendees by running an online tutorial or fun event during the conference (subject to approval by organizers).</li>
                        <li>2 tweets to all subscribers of <a href="https://twitter.com/pyconafrica" target="/">@pyconafrica</a></li>
                        <li>2 retweets to all subscribers of <a href="https://twitter.com/pyconafrica" target="/">@pyconafrica</a></li>
                        <li>1 blog post highlighting the sponsor/interviews about what they do with Python</li>
                        <li>Exhibit what your company is doing or offers in the Pycon Africa virtual exhibition hall.</li>
                        <li>Recruiting</li>
                        <ul>
                          <li>1 recruiting email to attendees</li>
                          <li>Recruiting channel in Pycon Africa Slack workspace</li>
                          <li>Recruiting ad on website</li>
                        </ul>
                      </ul>
                      
                      <p class="g-color-black g-font-size-16"><strong>This package also includes:</strong></p>
                      
                      <ul class="g-color-black g-font-size-16">
                        <li>Headline sponsor logo and link in the PyCon Africa website footer.</li>
                        <li>Company biography (750 words) near the top of the PyCon Africa website sponsors page.</li>
                        <li>Company name and logo in attendee emails.</li>
                      </ul>
              </div>

              <div class="u-shadow-v1-5 g-line-height-2 g-pa-40 g-mb-30" role="alert">
                <h2 class="text-uppercase g-line-height-1 g-font-weight-700 g-font-size-20 g-mb-30">Platinum
                  <span class="g-color-primary">$8000</span></h2>
                  <p class="g-color-black g-font-size-16">Total number available: 1</p>

                  <p class="g-color-black g-font-size-16">This sponsor will be highlighted throughout the conference.</p>
                  
                  <p class="g-color-black g-font-size-16"><strong>Highlights of this package:</strong></p>
                  
                  <ul class="g-color-black g-font-size-16">
                    <li>Logo on Pycon Africa website, website program overview, Pycon Africa banners, and talk video overlay on all speaker videos.</li>
                    <li>Mention in the opening session</li>
                    <li>1 pre-recorded sponsored talk or workshop (45min)</li>
                    <li>Opportunity to engage directly with attendees by running an online tutorial or fun event during the conference (subject to approval by organizers).</li>
                    <li>1 tweets to all subscribers of <a href="https://twitter.com/pyconafrica" target="/">@pyconafrica</a></li>
                    <li>1 retweets to all subscribers of <a href="https://twitter.com/pyconafrica" target="/">@pyconafrica</a></li>
                    <li>Exhibit what your company is doing or offers in the Pycon Africa virtual exhibition hall.</li>
                    <li>Recruiting</li>
                        <ul>
                          <li>1 recruiting email to attendees</li>
                          <li>Recruiting channel in Pycon Africa Slack workspace</li>
                          <li>Recruiting ad on website</li>
                        </ul>
                  </ul>
                  
                  <p class="g-color-black g-font-size-16"><strong>This package also includes:</strong></p>
                  
                  <ul class="g-color-black g-font-size-16">
                    <li>Platinum sponsor logo and link in the PyCon Africa website footer.</li>
                    <li>Company biography (650 words) near the top of the PyCon Africa website sponsors page.</li>
                    <li>Company name and logo in attendee emails.</li>
                  </ul>
              </div>

              <div class="u-shadow-v1-5 g-line-height-2 g-pa-40 g-mb-30 col col-12 col-sm-12 col-md-6" role="alert">
                <h2 class="text-uppercase g-line-height-1 g-font-weight-700 g-font-size-20 g-mb-30">Diamond
                  <span class="g-color-primary">$4000</span></h2>
                  <p class="g-color-black g-font-size-16">Total number available: 3</p>

                  <p class="g-color-black g-font-size-16">These three sponsors will be visible throughout the conference.</p>
                  
                  <p class="g-color-black g-font-size-16"><strong>Highlights of this package:</strong></p>
                  
                  <ul class="g-color-black g-font-size-16">
                    <li>Logo on Pycon Africa website, website program overview, Pycon Africa banners, and talk video overlay on all speaker videos.</li>
                    <li>1 pre-recorded sponsored talk or workshop (25min)</li>
                    <li>Opportunity to engage directly with attendees by running an online tutorial or fun event during the conference (subject to approval by organizers).</li>
                    <li>1 tweets to all subscribers of <a href="https://twitter.com/pyconafrica" target="/">@pyconafrica</a></li>
                    <li>1 retweets to all subscribers of <a href="https://twitter.com/pyconafrica" target="/">@pyconafrica</a></li>
                    <li>Exhibit what your company is doing or offers in the Pycon Africa virtual exhibition hall.</li>
                    <li>Recruiting</li>
                        <ul>
                          <li>1 recruiting email to attendees</li>
                          <li>Recruiting channel in Pycon Africa Slack workspace</li>
                        </ul>
                    

                  </ul>
                  
                  <p class="g-color-black g-font-size-16"><strong>This package also includes:</strong></p>
                  
                  <ul class="g-color-black g-font-size-16">
                    <li>Diamond sponsor logo and link in the PyCon Africa website footer.</li>
                    <li>Company biography (500 words) on the PyCon Africa website sponsors page.</li>
                    <li>Company name and logo in attendee emails.</li>
                  </ul>
              </div>

              <div class="u-shadow-v1-5 g-line-height-2 g-pa-40 g-mb-30 col col-12 col-sm-12 col-md-6" role="alert">
                <h2 class="text-uppercase g-line-height-1 g-font-weight-700 g-font-size-20 g-mb-30">Gold
                  <span class="g-color-primary">$2000</span></h2>
                  <p class="g-color-black g-font-size-16">Total number available: <span style="color: #e74c3c;"><s>4</s></span> <strong>(2)</strong> </p>

                  <p class="g-color-black g-font-size-16">Aimed at companies who want to contribute in exchange for more limited visibility at the conference.</p>
                  
                  <p class="g-color-black g-font-size-16"><strong>Highlights of this package:</strong></p>
                  
                  <ul class="g-color-black g-font-size-16">
                    <li>Logo on Pycon Africa website, website program overview, Pycon Africa banners, and talk video overlay on all speaker videos.</li>
                    <li>1 pre-recorded sponsored talk or workshop (15min)</li>
                    <li>Opportunity to engage directly with attendees by running an online tutorial or fun event during the conference (subject to approval by organizers).</li>
                    <li>1 tweets to all subscribers of <a href="https://twitter.com/pyconafrica" target="/">@pyconafrica</a></li>
                    <li>1 retweets to all subscribers of <a href="https://twitter.com/pyconafrica" target="/">@pyconafrica</a></li>
                    <li>Exhibit what your company is doing or offers in the Pycon Africa virtual exhibition hall.</li>
                    <li>Recruiting</li>
                        <ul>
                          <li>1 recruiting email to attendees</li>
                          <li>Recruiting channel in Pycon Africa Slack workspace</li>
                        </ul>
                    
                  </ul>
                  
                  <p class="g-color-black g-font-size-16"><strong>This package also includes:</strong></p>
                  
                  <ul class="g-color-black g-font-size-16">
                    <li>Gold sponsor logo and link in the PyCon Africa website footer.</li>
                    <li>Company biography (250 words) on the PyCon Africa website sponsors page.</li>
                    <li>Company name and logo in attendee emails.</li>
                  </ul>
              </div>

              <div class="u-shadow-v1-5 g-line-height-2 g-pa-40 g-mb-30 col col-12 col-sm-12 col-md-6" role="alert">
                <h2 class="text-uppercase g-line-height-1 g-font-weight-700 g-font-size-20 g-mb-30">Silver
                  <span class="g-color-primary">$1000</span></h2>
                  <p class="g-color-black g-font-size-16">Total number available: 6</p>

                  <p class="g-color-black g-font-size-16">Every bit helps!</p>

                  <p class="g-color-black g-font-size-16"><strong>Highlights of this package:</strong></p>
                  
                  <ul class="g-color-black g-font-size-16">
                    <li>Logo on Pycon Africa website, website program overview, Pycon Africa banners, and talk video overlay on all speaker videos.</li>
                    <li>1 tweets to all subscribers of <a href="https://twitter.com/pyconafrica" target="/">@pyconafrica</a></li>
                    <li>Exhibit what your company is doing or offers in the Pycon Africa virtual exhibition hall.</li>
                    <li>Recruiting</li>
                        <ul>
                          <li>1 recruiting email to attendees</li>
                        </ul>
                    
                  </ul>
                  
                  <p class="g-color-black g-font-size-16"><strong>This package includes:</strong></p>
                  
                  <ul class="g-color-black g-font-size-16">
                    <li>Company logo and link in the PyCon Africa website footer.</li>
                    <li>Company biography (200 words) at the bottom of the PyCon Africa website sponsors page.</li>
                  </ul>
              </div>

              <div class="u-shadow-v1-5 g-line-height-2 g-pa-40 g-mb-30 col col-12 col-sm-12 col-md-6" role="alert">
                <h2 class="text-uppercase g-line-height-1 g-font-weight-700 g-font-size-20 g-mb-30">Bronze
                  <span class="g-color-primary">$500</span></h2>
                  <p class="g-color-black g-font-size-16">Total number available: <span style="color: #e74c3c;"><s>6</s></span> <strong>(3)</strong> </p>

                  <p class="g-color-black g-font-size-16">Be part of the bigger picture!</p>
                  <p class="g-color-black g-font-size-16"><strong>Highlights of this package:</strong></p>
                  
                  <ul class="g-color-black g-font-size-16">
                    <li>Logo on Pycon Africa website, website program overview, Pycon Africa banners, and talk video overlay on all speaker videos.</li>
                    <li>1 tweets to all subscribers of <a href="https://twitter.com/pyconafrica" target="/">@pyconafrica</a></li>
                    <li>Exhibit what your company is doing or offers in the Pycon Africa virtual exhibition hall.</li>
                    
                    </ul>
                  <p class="g-color-black g-font-size-16"><strong>This package includes:</strong></p>
                  
                  <ul class="g-color-black g-font-size-16">
                    <li>Company logo and link in the PyCon Africa website footer.</li>
                    <li>Company name and logo in attendees emails</li>
                  </ul>
              </div>




              <div class="u-shadow-v1-5 g-line-height-2 g-pa-40 g-mb-30" role="alert">
                <h2 class="text-uppercase g-line-height-1 g-font-weight-700 g-font-size-20 g-mb-30">We are 
                  <span class="g-color-primary">Flexible!</span></h2>
                  <p class="g-color-black g-font-size-16">
                    You don’t see a package that fits your needs?<br>
                    Do you have a unique way you would like to sponsor?
                  </p>
                  <p class="g-color-black g-font-size-16">
                    If you want to support PyCon Africa 2020, we can help develop a tailored sponsorship
                    package that fits your specific targets. Please get in touch and ask about individual
                    arrangements.
                  </p>
                  <a href="mailto:sponsorship@pycon.africa" class="btn btn-md u-btn-skew u-btn-outline-primary g-mr-10 g-mb-15">
                    <span class="u-btn-skew__inner">sponsorship@pycon.africa</span>
                  </a>
               </div>
        </div>
       </div>



        <!--
            <div class="u-shadow-v1-5 g-line-height-2 g-pa-40 g-mb-30 col col-12 col-sm-12 col-md-6" role="alert">
                <h2 class="text-uppercase g-line-height-1 g-font-weight-700 g-font-size-20 g-mb-30">The
                  <span class="g-font-weight-400 g-font-size-30">|</span>
                  <span class="g-color-primary">Communication</span></h2>
                
                    <p class="g-color-black g-font-size-16"> </p>  
              </div>
              <a class="g-color-red" href="" </a>

                <h3  class="g-font-size-20 g-font-weight-700 g-color-primary">
        -->
   

        {% include '2020/footer.html' %}        

{% endblock %}