{% extends "base19.html" %}
{% load i18n static %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "About | PyCon Africa 2019" %}{% endif %}{% endblock %}


{% block content %}

  <main class="flex-grow-1">
    <div class="container">
        
  

<div class="row">
    
        

<div class="col col-12 col-sm-12 col-md-6">
    
        

<div class="card bg-primary">
    
        

<div class="card-header">
    
        <h2>The team</h2>
    
</div>

    
        

<div class="card-body">
    
        <p>The organising team of PyCon Africa 2019 includes experienced Python community conference organisers from Africa and Europe.</p>

<p>Between them they have run multiple international conferences, including PyCons in Nigeria, Ghana, Zimbabwe, Namibia, United Kingdom as well as several editions of DjangoCon Europe.</p>

<p><a href="mailto:team@pycon.africa" class="btn btn-primary btn-sm">team@pycon.africa</a></p>
    
</div>

    
</div>

    
</div>

    
        

<div class="col col-12 col-sm-12 col-md-6">
    
        

<div class="card bg-secondary">
    
        

<div class="card-header">
    
        <h2><span style="color: #000000;">The city</span></h2>
    
</div>

    
        

<div class="card-body">
    
        <p>Accra is a friendly and safe city. It's a hub for the west African software industry with excellent facilities and international connections.</p>

<p>The vibrant Ghanaian Python community has already hosted PyCon Ghana in 2018, and is looking forward to welcoming Pythonistas from all over Africa and the world.  </p>
    
</div>

    
</div>

    
</div>

    
        

<div class="col col-sm-12 col-md-6">
    
        

<div class="card bg-secondary">
    
        

<div class="card-header">
    
        <h2><span style="color: #000000;">The programme</span></h2>
    
</div>

    
        

<div class="card-body">
    
        <ul>
	<li><strong>Tuesday 6th</strong>: <em>Welcome to Accra</em>, for international visitors/ Installation party for beginners and Django Girls</li>
	<li><strong>Wednesday 7th</strong>: <em>Workshops</em> (including introductory installation sessions and tutorials), Django Girls</li>
	<li><strong>Thursday 8th</strong>: <em>Talks/workshops</em></li>
	<li><strong>Friday 9th</strong>: <em>Talks/workshops</em></li>
	<li><strong>Saturday 10th</strong>: <em>Sprints/workshops</em></li>
</ul>

<p> </p>
    
</div>

    
</div>

    
</div>

    
        

<div class="col col-sm-12 col-md-6">
    
        

<div class="card bg-primary">
    
        

<div class="card-header">
    
        <h2>The venue</h2>
    
</div>

    
        

<div class="card-body">
    
        <p><em><a href="https://maps.app.goo.gl/MbevZ4BCDpesCFtBA" target="_blank">Bank of Ghana Auditorium,</a> University of Ghana, Legon Campus, Accra</em></p>

<p>The University was the venue for 2018's highly successful <a href="https://twitter.com/pyconghana?lang=en" class>PyCon Ghana</a>.</p>

<p>It is one of the oldest universities in the country, easily reached from across the city, and offers modern facilities in large-capacity halls.</p>

<p>Learn more about the Venue <a href="https://www.ug.edu.gh/" class>here</a></p>
    
</div>

    
</div>

    
</div>

    
</div>


<div class="card bg-light">
    
        

<div class="card-header">
    
        <h2>PyCon Africa on Social Media </h2>
    
</div>

    
        

<div class="card-group bg-light">
    
        

<div class="card-body">
    
        <ul>
	<li><a href="https://twitter.com/pyconafrica?lang=en" class>Twitter</a></li>
	<li><a href="https://www.facebook.com/Pycon-Africa-1270747739740320/?modal=admin_todo_tour" class>Facebook</a></li>
</ul>

<p> </p>
    
</div>

    
</div>

    
</div>


    </div>
  </main>

{% endblock %}
