<!DOCTYPE html>
<html>
<head>
    <title>Your Proposal for PyCon Africa 2024</title>
    <style>
        body { font-family: Arial, sans-serif; }
        .content { max-width: 600px; margin: auto; }
        .header { background-color: #ecc8a4; padding: 10px; text-align: center; }
        .details, .next-steps { margin: 20px 0; }
        .details th, .details td, .next-steps th, .next-steps td { text-align: left; padding: 8px; }
        .footer { margin-top: 20px; text-align: center; font-size: 0.9em; color: #777; }
    </style>
</head>
<body>
    <div class="content">
        <div class="header">
            <h2>Thank You, {{ full_name }}!</h2>
        </div>
        <div class="details">
            <p>We appreciate your submission to PyCon Africa 2024. After careful consideration, we regret to inform you that your proposal titled "<strong>{{ proposal.title }}</strong>" was not selected for this year's conference.</p>
        </div>
        
        <div class="next-steps">
            <h3>What's Next?</h3>
            <p>We received many excellent proposals this year, and the selection process was incredibly competitive. While we couldn't accept all proposals, we encourage you to stay engaged with the PyCon community.</p>
            <table>
                <tr>
                    <th>Stay Connected:</th>
                    <td>Join our <a href="https://discord.gg/Z9gXvGVcrB">Discord community</a> to connect with other Python enthusiasts, share knowledge, and stay updated on community activities.</td>
                </tr>
                <tr>
                    <th>Future Opportunities:</th>
                    <td>We hope you consider submitting proposals for future events. Follow us on <a href="https://twitter.com/PyConAfrica">Twitter</a> and <a href="https://www.linkedin.com/company/pyconafrica">LinkedIn</a> for updates on upcoming call for proposals and events.</td>
                </tr>
            </table>
        </div>

        <p>Thank you again for your interest and contribution. We look forward to your participation in other ways at PyCon Africa 2024 and beyond.</p>
        <p>If you have any questions or would like a complimentary ticket, please feel free to reach out to <a href="mailto:reg@pycon.africa">reg@pycon.africa</a></p></p>
        <br>
        <p>Best regards,<br>The PyCon Africa Program Team</p>
    </div>
    <div class="footer">
        <p>© 2024 PyCon Africa. All rights reserved.</p>
        <p>Contact us: <a href="mailto:program@pycon.africa">program@pycon.africa</a></p>
    </div>
</body>
</html>
