{% extends "base19.html" %}
{% load i18n static %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Sponsor Us | PyCon Africa 2019" %}{% endif %}{% endblock %}


{% block content %}

<main class="flex-grow-1">
    <div class="container">
        
  

<div class="card bg-secondary text-secondary">
    
        

<div class="card-header">
    
        <h2><span style="color: #000000;">Sponsorship Packages</span></h2>
    
</div>

    
        

<div class="card-group bg-secondary">
    
        

<div class="card-body">
    
        <p><span style="color: null;">Sponsorship of PyCon Africa will give your organisation global visibility and recognition. It is an excellent way to support the Python community, promote your products to our hundreds of delegates, and meet Python developers who are looking for work.</span></p>

<p><span style="color: null;">In return for your support, we will ensure that your company is given exposure before, during, and after the event, and we will work with you so that you get exactly what you're looking for out of sponsoring the conference.</span></p>

<p> </p>

<p><a href="http://bit.ly/PyConAfricaProspectus19" class="btn btn-warning">Download Prospectus here</a></p>
    
</div>

    
</div>

    
</div>


<div class="card bg-light">
    
        

<div class="card-header">
    
        <h2>Headline Sponsor $16000</h2>
    
</div>

    
        

<div class="card-group bg-light">
    
        

<div class="card-body">
    
        <p>Total number available: 1</p>

<p>This sponsor will be in the spotlight throughout the conference.</p>

<p><strong>Highlights of this package:</strong></p>

<ul>
	<li>Exhibit space within the conference venue.</li>
	<li>Two pull-up banners in the main conference room and two pull-up banners in the PyCon Africa entrance area or green room venue (if provided).</li>
	<li>Large logo on all holding slides shown between talks.</li>
	<li>A news item on the PyCon Africa  website highlighting the sponsor and what they do with Python (if provided).</li>
	<li>A joint press release highlighting the sponsor distributed to PyCon Africa delegates (if provided).</li>
	<li>Opportunity to engage directly with attendees by running a tutorial or fun event during the conference (subject to approval by organizers).</li>
	<li>8 free conference registrations.</li>
</ul>

<p><strong>This package also includes:</strong></p>

<ul>
	<li>Headline sponsor logo and link in the PyCon Africa website footer.</li>
	<li>Company biography (750 words) near the top of the PyCon Africa website sponsors page.</li>
	<li>Company name and logo in attendee emails.</li>
	<li>Company name and quotes in press releases.</li>
</ul>
    
</div>

    
</div>

    
</div>


<div class="card bg-light text-dark">
    
        

<div class="card-header">
    
        <h2>Platinum $8000</h2>
    
</div>

    
        

<div class="card-group bg-light text-dark">
    
        

<div class="card-body">
    
        <p>Total number available: 1</p>

<p>This sponsor will be highlighted throughout the conference.</p>

<p><strong>Highlights of this package:</strong></p>

<ul>
	<li>Exhibit space within the conference venue.</li>
	<li>Two pull-up banners in the main conference room and two pull-up banners in the PyCon Africa entrance area or green room venue (if provided).</li>
	<li>Large logo on all holding slides shown between talks.</li>
	<li>Opportunity to engage directly with attendees by running a tutorial or fun event during the conference (subject to approval by organizers).</li>
	<li>8 free conference registrations.</li>
</ul>

<p><strong>This package also includes:</strong></p>

<ul>
	<li>Platinum sponsor logo and link in the PyCon Africa website footer.</li>
	<li>Company biography (650 words) near the top of the PyCon Africa website sponsors page.</li>
	<li>Company name and logo in attendee emails.</li>
	<li>Company name and quotes in press releases.</li>
</ul>
    
</div>

    
</div>

    
</div>


<div class="card bg-light text-dark">
    
        

<div class="card-header">
    
        <h2>Diamond $4000</h2>
    
</div>

    
        

<div class="card-group">
    
        

<div class="card-body">
    
        <p>Total number available: <span style="color: #e74c3c;"><s>3</s></span> <strong>(1)</strong></p>

<p>These three sponsors will be visible throughout the conference.</p>

<p><strong>Highlights of this package:</strong></p>

<ul>
	<li>Two pull-up banners in the main conference room (if provided).</li>
	<li>Logo on holding slides shown between talks (if provided).</li>
	<li>6 free conference registrations.</li>
</ul>

<p><strong>This package also includes:</strong></p>

<ul>
	<li>Exhibition space within the conference venue</li>
	<li>Diamond sponsor logo and link in the PyCon Africa website footer.</li>
	<li>Company biography (500 words) on the PyCon Africa website sponsors page.</li>
	<li>Company name and logo in attendee emails.</li>
	<li>Company name and quotes in press releases.</li>
</ul>
    
</div>

    
</div>

    
</div>


<div class="card bg-light text-dark">
    
        

<div class="card-header">
    
        <h2>Gold $2000</h2>
    
</div>

    
        

<div class="card-group">
    
        

<div class="card-body">
    
        <p>Total number available: <span style="color: #e74c3c;"><s>4</s><strong> </strong></span><span style="color: null;"><strong>(3)</strong></span></p>

<p>Aimed at companies who want to contribute in exchange for more limited visibility at the conference.</p>

<p><strong>Highlights of this package:</strong></p>

<ul>
	<li>One pull-up banner (if provided)</li>
	<li>Logo on holding slides shown between talks.</li>
	<li>3 free conference registrations.</li>
</ul>

<p><strong>This package also includes:</strong></p>

<ul>
	<li>Exhibition space within the conference venue</li>
	<li>Gold sponsor logo and link in the PyCon Africa website footer.</li>
	<li>Company biography (250 words) on the PyCon Africa website sponsors page.</li>
	<li>Company name and logo in attendee emails.</li>
	<li>Company name and quotes in press releases.</li>
</ul>
    
</div>

    
</div>

    
</div>


<div class="card bg-light text-dark">
    
        

<div class="card-header">
    
        <h2>Silver $1000</h2>
    
</div>

    
        

<div class="card-group">
    
        

<div class="card-body">
    
        <p>Total number available: 6</p>

<p>Every bit helps!</p>

<p><strong>This package includes:</strong></p>

<ul>
	<li>Exhibition space within the conference venue</li>
	<li>Company logo and link in the PyCon Africa website footer.</li>
	<li>Company biography (200 words) at the bottom of the PyCon Africa website sponsors page.</li>
	<li>Logo on holding slides shown between talks.</li>
	<li>2 free conference registration.</li>
</ul>
    
</div>

    
</div>

    
</div>


<div class="card">
    
        

<div class="card-header">
    
        <h2>Bronze $500</h2>
    
</div>

    
        

<div class="card-group bg-light">
    
        

<div class="card-body">
    
        <p>Total number available: <span style="color: #c0392b;"><s>6</s></span> <strong><span style="color: null;">(0)</span></strong></p>

<p>Be part of the bigger picture!</p>

<p><strong>This package includes:</strong></p>

<ul>
	<li>Exhibition space within the conference venue</li>
	<li>Company logo and link in the PyCon Africa website footer.</li>
	<li>Company name and logo in attendees emails</li>
	<li>1 free conference registration.</li>
</ul>
    
</div>

    
</div>

    
</div>


    </div>
  </main>

{% endblock %}
