{% extends "base19.html" %}
{% load i18n static %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Financial Assistance | PyCon Africa 2019" %}{% endif %}{% endblock %}


{% block content %}
  <main class="flex-grow-1">
    <div class="container">
        
  

<div class="row">
    
        

<div class="col col-12 col-md-6">
    
        

<div class="card">
    
        

<div class="card-header">
    
        <h2>About the financial assistance programme</h2>
    
</div>

    
        

<div class="card-body">
    
        <p>Our financial assistance programme exists to support attendees who would otherwise find it difficult to attend the conference.</p>

<p>We have a budget set aside for this purpose.</p>

<p>Financial assistance can include free or discounted tickets, as well as funds to cover the costs of travel, accommodation and other expenses.</p>

<p>Your application will be treated in complete confidence.</p>
    
</div>

    
</div>

    
</div>

    
        

<div class="col col-12 col-md-6">
    
        

<div class="card">
    
        

<div class="card-header">
    
        <h2>Who will receive financial assistance?</h2>
    
</div>

    
        

<div class="card-body">
    
        <p>We'd love to be able to help all those who submit applications, but our funds are not unlimited, so sadly we won't be able to meet all requests. </p>

<p>The financial assistance programme will prioritise:</p>

<ul>
	<li>speakers</li>
	<li>those whom we feel will contribute back to their local communities</li>
	<li>those who will help increase diversity at the event and in African programming</li>
</ul>

<p>We will do our best to maximise the impact of our financial assistance funding.</p>
    
</div>

    
</div>

    
</div>

    
        

<div class="col col-12">
    
        

<div class="card">
    
        

<div class="card-header">
    
        <h2>How to apply</h2>
    
</div>

    
        

<div class="card-body">
    
        <p>Please <a href="https://docs.google.com/forms/d/1bjrngQLwoZ4Lmz1c_t-epqpDRTJVm5qV1xI4T54jYvo/edit" target="_blank" class>complete our form</a>, <b>before the deadline: </b><b id="docs-internal-guid-700f599e-7fff-dd1f-8c6a-e98456a5feba">10th June, 2019 </b>(anywhere in the world). We will not accept applications after this date.</p>

<p>Read the questions on the form carefully and answer them as best you can.</p>

<h3>What can I request?</h3>

<p>You can request a free ticket only, or a grant as well as a free ticket. Anyone who is allocated a grant will automatically receive a free ticket.</p>

<h3>How much should I request?</h3>

<p>Our budget is limited, and we will have to make some hard decisions. Generally, it is easier for us to accept smaller requests, as a single large request could consume most of our budget. <em>The lower your request, the more likely it is that we will be able to accept it.</em></p>

<p>You need to consider:</p>

<ul>
	<li>how much you will need to spend in total in order to attend the conference</li>
	<li>how much of this you can contribute yourself</li>
</ul>

<p>The difference between these two figures is the amount you should request.</p>

<h3>How should I calculate how much I should request?</h3>

<p>You will need to budget for:</p>

<ul>
	<li>travel</li>
	<li>visa, if necessary</li>
	<li>accommodation</li>
	<li>subsistence (evening meals, local transport, etc) while in Accra</li>
</ul>

<h4>Travel</h4>

<p>Spend a little time researching your options. If you will need to travel by air, use websites such as <a href="https://www.skyscanner.net/" class>Skyscanner</a> or <a href="http://hipmunk.com/" class>Hipmunk</a> to estimate the cost of airfare. Be aware that a little flexibility with dates or routes can make a huge difference to the price of an air ticket.</p>

<h4>Accommodation</h4>

<p>There are many websites that will allow you to estimate the cost of accomodation, such as <a href="http://hotels.com/" class>Hotels.com</a> or <a href="https://www.hostelworld.com/" class>Hostels World</a>. If you know someone else who is also travelling, you can share a room to lower costs. If you are willing to share a room, let us know in your application.</p>

<p>Be reasonable - we want you to stay somewhere clean, safe and comfortable, but we cannot afford to place you in a luxury hotel!</p>

<h4>Subsistence</h4>

<p>You will have lunch and refreshments each day as part of the conference. In Accra, you can get a decent evening meal for about US$5. Local transport by minibus or taxi is also very inexpensive.</p>

<p style="text-align: center;"><a href="http://bit.ly/PAFinAid" target="_blank" class="btn btn-primary btn-lg">Apply for financial assistance</a></p>
    
</div>

    
</div>

    
</div>

    
        

<div class="col col-12 col-md-6">
    
        

<div class="card">
    
        

<div class="card-header">
    
        <h2>Timeline</h2>
    
</div>

    
        

<div class="card-body">
    
        <ul>
	<li>May 1st 2019: Financial aid application opens</li>
	<li>June 10th 2019: Financial aid application close</li>
	<li>June 24th 2019: Financial aid grants awarded</li>
	<li>July 3rd 2019: Deadline to respond to accept / decline financial aid</li>
	<li>August 8th - 9th 2019: Disbursement sessions at PyCon Africa</li>
</ul>
    
</div>

    
</div>

    
</div>

    
        

<div class="col col-12 col-md-6">
    
        

<div class="card">
    
        

<div class="card-header">
    
        <h2>When will I receive the funds?</h2>
    
</div>

    
        

<div class="card-body">
    
        <p>Funds will be provided to successful applicants on attendance at the conference.</p>

<p>Unfortunately, recent PyCons in Africa have been damaged by applicants for financial assistance who have received funds, and have failed to attend. Our financial situation cannot withstand this kind of abuse.</p>

<p><strong>In exceptional circumstances</strong>, we may be able to provide funds in advance to those who would otherwise find it impossible to attend. Please contact us as soon as possible if this is the case.</p>
    
</div>

    
</div>

    
</div>

    
</div>


    </div>
  </main>

{% endblock %}