{% extends "base.html" %}
{% load i18n static markdown_extras %}
{% block meta_title %}
  {% if page %}
    {{ page.meta_title }}
  {% else %}
    {% trans "Team || PyCon Ghana" %}
  {% endif %}
{% endblock %}

{% block content %}

<!-- ========== HEADER ========== -->
{% include '2024/navbar.html' %}
<!-- ========== END HEADER ========== -->

<!-- Breadcrumbs -->
<section class="g-bg-gray-light-v5 g-py-80 g-pt-150">
  <div class="container text-center">
    <h2 class="h2 g-color-black g-font-weight-600">Team</h2>

    <ul class="u-list-inline">
      <li class="list-inline-item g-mr-5">
        <a class="u-link-v5 g-color-gray-dark-v1 g-color-primary--hover" href="/2024/">Home</a>
        <i class="g-color-gray-light-v2 g-ml-5">/</i>
      </li>
      <li class="list-inline-item g-mr-5">
        <a class="u-link-v5 g-color-gray-dark-v1 g-color-primary--hover" href="/2024/about/">About Us</a>
        <i class="g-color-gray-light-v2 g-ml-5">/</i>
      </li>
      <li class="list-inline-item g-color-primary">
        <span>Team</span>
      </li>
    </ul><br>
    <i class="fa-solid fa-people-group" style="font-size:41px;"></i>
  </div>
</section>
<!-- End Breadcrumbs -->

<!-- Body -->
<div class="container g-pt-50">
  <div class="row">
    <div class="u-shadow-v1-5 g-line-height-2 g-pa-40 g-mb-30 g-mb-20 col-md-12">
      <p class="g-color-black g-font-size-16">
        PyCon Africa is organized by a multi-national team of volunteers on behalf of the global Python
        programming community. This page will list all the committees and their members to highlight
        their involvement with the PyCon Africa {{ event_year.year }} conference.
      </p>

      <p class="g-font-size-16">
        <em>Speaking of involvement:</em>&nbsp;<strong>We can always use more help</strong>. If you’re interested, please send a mail to the&nbsp;
        <a href="mailto:team@pycon.africa">PyCon Africa Team</a>. Many thanks!
      </p><br>

      <div class="u-divider u-divider-solid u-divider-center g-brd-gray-light-v3 g-my-80">
        <i class="fa-solid fa-screen-users u-divider__icon u-divider__icon--indented g-bg-gray-light-v4 g-color-gray-light-v1 rounded-circle"></i>
      </div>

      <!--================ Icon Box ================-->
      <article class="text-size-medium">
        <div class="mad-icon-box-content markdownx-preview">
          <!-- International Organizing Committee -->
          <h2 class="text-uppercase g-line-height-1 g-font-weight-700 g-font-size-20 g-mb-30">
            <span class="g-color-primary">
              PyCon Africa {{ event_year.year }} International Organizing Committee Members
            </span>
          </h2>
          <p class="g-color-black g-font-size-16">
            We have an active team, with each member investing a lot of time into the organizing of PyCon Africa:
          </p>
          <ul>
            {% for item in ioc_groups_with_members %}
              <!-- Display Group Name --> 
              <!-- Display Leads First -->
              {% for member in item.leads %}
                <li>
                  {% if member.link %}
                    <a href="{{ member.link }}">
                      {{ member.name }} {% if item.group.name == 'Other Committee Members' %}(Lead){% else %}(Chair){% endif %} ({{ member.country.name }}) | {{ item.group.name }}
                      {% if member.country_2 %}/ {{ member.country_2 }}{% endif %}
                      {% if member.groups.exists %}
                        | {% for group in member.groups.all %}
                          {{ group.name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                      {% endif %}
                    </a>
                  {% else %}
                     {{ member.name }} {% if item.group.name == 'Other Committee Members' %}(Lead){% else %}(Chair){% endif %} ({{ member.country.name }}) | {{ item.group.name }}
                    {% if member.country_2 %}/ {{ member.country_2 }}{% endif %}
                    {% if member.groups.exists %}
                      | {% for group in member.groups.all %}
                        {{ group.name }}{% if not forloop.last %}, {% endif %}
                      {% endfor %}
                    {% endif %}
                  {% endif %}
                </li>
              {% endfor %}
              <!-- Display Other Members -->
              {% for member in item.non_leads %}
                <li>
                  {% if member.link %}
                    <a href="{{ member.link }}">
                      {{ member.name }} ({{ member.country.name }})
                      {% if member.country_2 %}/ {{ member.country_2 }}{% endif %}
                      {% if member.groups.exists %}
                        | {% for group in member.groups.all %}
                          {{ group.name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                      {% endif %}
                    </a>
                  {% else %}
                    {{ member.name }} ({{ member.country.name }})
                    {% if member.country_2 %}/ {{ member.country_2 }}{% endif %}
                    {% if member.groups.exists %}
                      | {% for group in member.groups.all %}
                        {{ group.name }}{% if not forloop.last %}, {% endif %}
                      {% endfor %}
                    {% endif %}
                  {% endif %}
                </li>
              {% endfor %}
            {% endfor %}
          </ul>

          <!-- Local Organizing Committee -->
          <div class="u-divider u-divider-solid u-divider-center g-brd-gray-light-v3 g-my-80">
            <i class="fa-solid fa-hands-holding-heart u-divider__icon u-divider__icon--indented g-bg-gray-light-v4 g-color-gray-light-v1 rounded-circle"></i>
          </div>
          <h2 class="text-uppercase g-line-height-1 g-font-weight-700 g-font-size-20 g-mb-30">
            <span class="g-color-primary">
              PyCon Africa {{ event_year.year }} Local Organizing Committee Members
            </span>
          </h2>
          {% for item in loc_groups_with_members %} 
            <ul>
              <!-- Display Leads First -->
              {% for member in item.leads %}
                <li>
                  {% if member.link %}
                    <a href="{{ member.link }}">
                      {{ member.name }} ({{ member.country.name }}) | {{ item.group.name }}
                    </a>
                  {% else %}
                    {{ member.name }} ({{ member.country.name }}) | {{ item.group.name }}
                  {% endif %}
                </li>
              {% endfor %}
              <!-- Display Other Members -->
              {% for member in item.non_leads %}
                <li>
                  {% if member.link %}
                    <a href="{{ member.link }}">
                      {{ member.name }} ({{ member.country.name }}) | {{ item.group.name }}
                    </a>
                  {% else %}
                  {{ member.name }} ({{ member.country.name }}) | {{ item.group.name }}
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          {% empty %}
            <p>No LOC groups available for this event year.</p>
          {% endfor %}

          <!-- Volunteers -->
          <div class="u-divider u-divider-solid u-divider-center g-brd-gray-light-v3 g-my-80">
            <i class="fa-solid fa-hands-holding-heart u-divider__icon u-divider__icon--indented g-bg-gray-light-v4 g-color-gray-light-v1 rounded-circle"></i>
          </div>
          <h2 class="text-uppercase g-line-height-1 g-font-weight-700 g-font-size-20 g-mb-30">
            <span class="g-color-primary">
              Volunteers
            </span>
          </h2>
          {% for group in volunteer_groups %}
            <h4>{{ group.name }}</h4>
            <ul>
              {% for volunteer in group.volunteers.all %}
                <li>
                  {% if volunteer.link %}
                  <a href="{{ volunteer.link }}">{{ volunteer.name }} | {{ group.name }}</a>
                  {% else %}
                    {{ volunteer.name }}
                  {% endif %}
                </li>
              {% endfor %}
            </ul><br>
          {% empty %}
            <p>Volunteer groups will be updated once they become available.</p>
          {% endfor %}
        </div>
      </article>
      <!--================ End of Icon Box ================-->
    </div>
  </div>
</div>
<!-- End Body -->
{% endblock %}
