{% extends "base.html" %}
{% load i18n static   markdown_extras %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Travel Advice | PyCon Africa" %}{% endif %}{% endblock %}

 


{% block content %}
{% include '2024/navbar.html' %}


    <!-- Breadcrumbs -->
    <section class="g-bg-gray-light-v5 g-py-80 g-pt-150">
      <div class="container text-center">
        <h2 class="h2 g-color-black g-font-weight-600">Travel Advice</h2>

        <ul class="u-list-inline">
          <li class="list-inline-item g-mr-5">
            <a class="u-link-v5 g-color-gray-dark-v1 g-color-primary--hover" href="#">Home</a>
            <i class="g-color-gray-light-v2 g-ml-5">/</i>
          </li> 
          <li class="list-inline-item g-mr-5">
            <a class="u-link-v5 g-color-gray-dark-v1 g-color-primary--hover" href="/2024/about/">About</a>
            <i class="g-color-gray-light-v2 g-ml-5">/</i>
          </li> 
          <li class="list-inline-item g-color-primary">
            <span>Travel Advice</span>
          </li>
        </ul><br> 
        <i class="fa-solid fa-route" style="font-size:41px;"></i>
      </div>
      
      
    </section>
    <!-- End Breadcrumbs --> 

 
    <!-- body -->
    <div class="container  g-pt-50">
        <div class="row">  
          <div class="u-shadow-v1-5 g-line-height-2 g-pa-40 g-mb-30" > 
            {% for travel in travel_advices.all|slice:"0:1" %}<br><br>
            <h2 class="text-uppercase g-line-height-1 g-font-weight-700 g-font-size-20 g-mb-30"> 
              <span class="g-color-primary">{{ travel.title }}</span>
            </h2>
            <!--================ Icon Box ================-->
            <article class="text-size-medium"> 
              <div class="mad-icon-box-content markdownx-preview"> 
                <p class="markdownx-preview">{{ travel.advice | markdown | safe }}</p>
              {{ form.media }}
              </div>
            </article>
            <!--================ End of Icon Box ================--> 
            {% endfor %}
          </div> 
      </div> 
    </div>
    <!-- End body -->

 

{% endblock %}