{% extends "2019/base19.html" %}
{% load i18n static %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Travel Advice | PyCon Africa 2019" %}{% endif %}{% endblock %}


{% block content %} 
  <main class="flex-grow-1">
    <div class="container">
        
  

<div class="row">
    
        

<div class="col col-12">
    
        

<div class="card bg-primary">
    
        

<div class="card-header">
    
        <h2>We're excited about your visit</h2>
    
</div>

    
        

<div class="card-body">
    
        <p>We can’t wait to welcome you to PyCon Africa.</p>

<p>Please read this information <strong>carefully</strong>, and <strong>check every item</strong>. Some of it is crucial. It will help you have a better trip and stay.</p>
    
</div>

    
</div>

    
</div>

    
        

<div class="col col-12 col-md-6">
    
        

<div class="card bg-secondary">
    
        

<div class="card-header">
    
        <h2><span style="color: #000000;">Visa</span></h2>
    
</div>

    
        

<div class="card-body">
    
        <p>You may need a visa to enter Ghana. You <strong>must</strong> check this, otherwise you will likely be denied entry, or probably not even be allowed to board your plane. Any questions? Please contact us immediately.</p>
    
</div>

    
</div>

    
</div>

    
        

<div class="col col-12 col-md-6">
    
        

<div class="card bg-primary">
    
        

<div class="card-header">
    
        <h2>Yellow fever vaccination certificate</h2>
    
</div>

    
        

<div class="card-body">
    
        <p>You <strong>must</strong> have yellow fever vaccination certificate to enter Ghana. Otherwise, you will likely be denied entry. Please ensure you have this in <strong>advance</strong>, <strong>do not leave it until the last minute</strong>.</p>
    
</div>

    
</div>

    
</div>

    
        

<div class="col col-12">
    
        

<div class="card bg-secondary">
    
        

<div class="card-header">
    
        <h2><span style="color: #000000;">Malaria precautions</span></h2>
    
</div>

    
        

<div class="card-body">
    
        <p>All of Ghana including Accra is indicated as a high-risk zone for malaria. Travellers are advised to take antimalarial medication such as Malarone (atovaquone/proguanil hydrochloride) and other precautions.</p>

<p>After sunset, avoid mosquito bites by covering up with clothing (long sleeves, long trousers), using insect repellents on exposed skin and, when necessary, sleeping under a mosquito net. Bring appropriate clothing and creams.</p>
    
</div>

    
</div>

    
</div>

    
        

<div class="col col-12">
    
        

<div class="card bg-primary">
    
        

<div class="card-header">
    
        <h2>Arrival times</h2>
    
</div>

    
        

<div class="card-body">
    
        <p>We hope to co-ordinate transport on arrival at the airport for some groups. We might not be able to do this for everyone, but please tell us:</p>

<ul>
	<li>the date and time of your arrival in Ghana, and the date and time of your departure from Ghana</li>
	<li>your airline and flight numbers</li>
	<li>where you will be staying</li>
</ul>

<p>we will help if we can. We need this information in good time.</p>
    
</div>

    
</div>

    
</div>

    
        

<div class="col col-12">
    
        

<div class="card bg-secondary">
    
        

<div class="card-header">
    
        <h2><span style="color: #000000;">Welcome to Accra day</span></h2>
    
</div>

    
        

<div class="card-body">
    
        <p>Tuesday 6th August is an introduction to Accra for international travellers. You will be taken around some of the sites and markets of the city in the company of your local hosts. </p>

<p>It’s an important part of the conference, and we would like it to be used to help introduce African Pythonistas from different countries to each other, and to other members of our global community. Please join us, and take every opportunity to learn about each other and each other’s countries and backgrounds.</p>

<p>Wear shoes that you will be comfortable walking around in, and a sun hat.</p>
    
</div>

    
</div>

    
</div>

    
        

<div class="col col-12">
    
        

<div class="card bg-primary">
    
        

<div class="card-header">
    
        <h2>How to enjoy Accra</h2>
    
</div>

    
        

<div class="card-body">
    
        <p>Accra is a big city of 2.3 million people. It’s busy and crowded and full of activity. It’s safe and friendly, but you should still take the usual precautions that you would in any busy capital city:</p>

<ul>
	<li>be alert to your surroundings</li>
	<li>don’t wear or wave around expensive watches, phones, jewellery, etc</li>
	<li>if you carry valuables, carry them in a safe way and be aware of them</li>
</ul>

<p>You will not be pestered on the streets, but if someone wants to talk to you or sell you something and you don’t want to stop, just say politely with a smile: <em>Not now, maybe later!</em></p>

<p>In Accra, you are expected to negotiate for almost everything, from taxi rides to souvenirs. The Ghanaian hosts will show you how it’s done - in a friendly, relaxed way and with a smile.</p>

<p>When you meet someone, for example in a shop or hotel reception desk, you’ll often be greeted with “Akwaaba”, meaning “Welcome!”</p>

<p>It’s considered polite to start the conversation not by getting straight down to business, but with an exchange of courtesies: <em>Hello, how are you?</em> and so on, before making your request. </p>

<p>Ghana has one of the best handshakes in all of Africa - you’ll soon learn it!</p>

<p>Some <a href="http://www.ghana.travel/places-to-visit/regions/greater-accra/" class><i class="far " aria-hidden="true" ></i>useful basics for visitors<i class="far " aria-hidden="true" ></i></a>.</p>
    
</div>

    
</div>

    
</div>

    
        

<div class="col col-12">
    
        

<div class="card bg-secondary">
    
        

<div class="card-header">
    
        <h2><span style="color: #000000;">What to take home</span></h2>
    
</div>

    
        

<div class="card-body">
    
        <p>Ghana is internationally famous for its arts and crafts, <a href="https://en.wikipedia.org/wiki/Powder_glass_beads" class><i class="far " aria-hidden="true" ></i>powder glass beads<i class="far " aria-hidden="true" ></i></a>, clothing, and cosmetics.</p>

<p>Ideal gifts and souvenirs:</p>

<ul>
	<li>carvings and decorated objects</li>
	<li>a made-to-measure shirt or dress for yourself or someone else - take their measurements before you travel - from a roll of wax-printed fabric that you choose yourself in the market and take to a tailor in a nearby stall</li>
	<li><a href="https://en.wikipedia.org/wiki/Shea_butter" class><i class="far " aria-hidden="true" ></i>raw shea butter<i class="far " aria-hidden="true" ></i></a>, the like of which you will not find in many other places</li>
	<li><a href="https://en.wikipedia.org/wiki/African_black_soap" class><i class="far " aria-hidden="true" ></i>Ghanaian black soap<i class="far " aria-hidden="true" ></i></a>, hand-made and 100% natural</li>
</ul>
    
</div>

    
</div>

    
</div>

    
        

<div class="col col-12">
    
        

<div class="card bg-primary">
    
        

<div class="card-header">
    
        <h2><span style="color: #000000;">Mobile phone SIM cards</span></h2>
    
</div>

    
        

<div class="card-body">
    
        <p>A SIM card can easily be obtained on arrival. We recommend MTN or Vodafone. See the <a href="https://prepaid-data-sim-card.fandom.com/wiki/Ghana" class><i class="far " aria-hidden="true" ></i>Ghana prepaid data SIM card wiki pages<i class="far " aria-hidden="true" ></i></a>.</p>
    
</div>

    
</div>

    
</div>

    
</div>


    </div>
  </main>
 
 

{% endblock %}