{% extends "base.html" %}
{% load i18n static %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Home | PyCon Africa 2024" %}{% endif %}{% endblock %}




{% block content %}


{% include '2024/navbar.html' %}


<script src="//code.tidio.co/00hkw5reeffaallvkbjizeykysxulx6p.js" async></script>
  

    <!-- Promo Block -->
    <section class="g-bg-cover g-bg-pos-top-center g-bg-img-hero g-bg-black-opacity-0_3--after g-min-height-100vh g-flex-centered g-py-100" style="background-image: url(https://res.cloudinary.com/pycon-africa/image/upload/v1707128927/Asset_22yua0_gpgcif.png);">
 
<div class="container g-color-white text-center g-z-index-1" style="display: flex; justify-content: center; align-items: center; ;">
  <div class="col-md-6 text-center" style="display: flex; justify-content: center; align-items: center;">
      <img class="img-fluid" src="https://res.cloudinary.com/pycon-africa/image/upload/v1713883428/PyConAfricaL.png" alt="Image Description" style="max-width: 100%; height: auto;">
  </div>
</div> 

    </section>
    <!-- End Promo Block -->



 

    <section class="g-pt-20 g-pb-90 g-pb-170--md ">
        <div class="text-center g-mb-70">
          <br>
            <p class="g-color-black g-font-size-16">
              PyCon Africa will be organized into four distinct tracks, namely PyData, Web / DevOps, General Python, and Python Community.
          </p> <br>
            <div class="container">
              <div class="row">
                <div class="col-md-6 align-self-center g-py-20">
                  
                  <h2 class="h4 text-uppercase g-color-primary g-font-weight-700 g-letter-spacing-1 g-mb-20" data-animation="fadeIn" data-animation-delay="500" data-animation-duration="2000">PyData</h2>
                  <p class="g-font-size-16 mb-0 g-line-height-2 g-color-black" data-animation="fadeIn" data-animation-delay="500" data-animation-duration="2000">
                    The topics of interest for PyData include, but are not limited to:<br>
                    Numerical and Scientific Computations Machine Learning Text Mining and Natural language Processing Data mining and Analytics Big Data Data visualization tools and libraries Reproducible Research Linked Data and Semantic Web</p>
                  </div>
                  
                <div class=" col-md-6 align-self-center g-py-20">
                  <img class="w-100" src="{% static '2020/img/pydata.png' %}" alt="Iamge Description" data-animation="fadeIn" data-animation-delay="500" data-animation-duration="000">
                </div>
                
                <br>
                
    
                <div class=" col-md-6 align-self-center g-py-20">
                  <img class="w-100" src="{% static '2020/img/webops.png' %}" alt="Iamge Description" data-animation="fadeIn" data-animation-delay="600" data-animation-duration="2000">
                </div>
    
                <div class="col-md-6 align-self-center g-py-20">
                  <h2 class="h4 text-uppercase g-font-weight-700 g-color-primary g-letter-spacing-1 g-mb-20" data-animation="fadeIn" data-animation-delay="600" data-animation-duration="2000">Web / Devops</h2>
                  <p class="g-font-size-16 mb-0 g-line-height-2 g-color-black" data-animation="fadeIn" data-animation-delay="600" data-animation-duration="2000">
                     The topics of interest for Web/DevOps include, but are not limited to:<br>

                    Frameworks (Django, Flask, Pyramid, etc) Background Tasks (Celery, etc) WSGI Orchestration (Ansible, Fabric, etc) Continuos Integration Core & Internals Testing Enterprise
                    
                    </p>
                  </div>
                  
                  <br>

                  <div class="col-md-6 align-self-center g-py-20">
                  
                    <h2 class="h4 text-uppercase g-color-primary g-font-weight-700 g-letter-spacing-1 g-mb-20" data-animation="fadeIn" data-animation-delay="700" data-animation-duration="2000">General Python</h2>
                    <p class="g-font-size-16 mb-0 g-line-height-2 g-color-black" data-animation="fadeIn" data-animation-delay="700" data-animation-duration="2000">
                      Suggested topics for this track include, but are not limited to:<br>

                      Python libraries and extensions Databases Documentation Open Source Python projects Packaging 
                      Issues Programming Tools Project Best Practices
                    </div>
                    
                  <div class=" col-md-6 align-self-center g-py-20">
                    <img class="w-100" src="{% static '2020/img/generalpython.png' %}" alt="Iamge Description" data-animation="fadeIn" data-animation-delay="700" data-animation-duration="2000">
                  </div>
                  
                  <br>
                  
      
                  <div class=" col-md-6 align-self-center g-py-20">
                    <img class="w-100" src="{% static '2020/img/comm.png' %}" alt="Iamge Description" data-animation="fadeIn" data-animation-delay="800" data-animation-duration="2000">
                  </div>
      
                  <div class="col-md-6 align-self-center g-py-20">
                    <h2 class="h4 text-uppercase g-font-weight-700 g-color-primary g-letter-spacing-1 g-mb-20" data-animation="fadeIn" data-animation-delay="800" data-animation-duration="2000">Python Community</h2>
                    <p class="g-font-size-16 mb-0 g-line-height-2 g-color-black" data-animation="fadeIn" data-animation-delay="800" data-animation-duration="2000">
                      
                      Diversity in the Python Community, Organising a Conference or Meetup
                      </p>
                    </div>
                    
               
              </div>
            </div>
        </div>
      </section>






      <!-- Section Content -->
      <section class="u-bg-overlay g-bg-img-hero g-bg-darkblue-opacity-0_4--after g-py-100" style="background-image: url({% static '2020/img/body.png' %});">
        <div class="container u-bg-overlay__inner">
          <div class="text-center g-mb-70">
            <h2 class="text-uppercase g-line-height-1 g-font-weight-700 g-font-size-30 g-mb-30">2019
              <span class="g-font-weight-400 g-font-size-40">|</span>
              <span class="g-color-primary">Highlights</span></h2>

            <p class="g-color-black g-font-size-18">PyCon Africa 2019 was the first-ever pan-African meeting of the Python programming community, 
              and took place in Accra, Ghana from the 6th - 10th August. It included five days of workshops, talks, sprints and events 
              such as a Django Girls tutorial.</p>
          </div>

          <div class="embed-responsive embed-responsive-16by9 event-video-effect">
            <iframe width="530" height="300" src="https://www.youtube.com/embed/43wJnYZ6Zd0" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          
        </div>
      </section>
      <!-- End Section Content -->



     
{% endblock %}







