{% extends "base19.html" %}
{% load i18n static %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "COC | PyCon Africa 2019" %}{% endif %}{% endblock %}


{% block content %}

  <main class="flex-grow-1">
    <div class="container">
        
  

<div class="card bg-primary">
    
        

<div class="card-body">
    
        <p>We want all attendees to have an enjoyable experience at PyCon Africa. All attendees - delegates, speakers, volunteers, sponsors, exhibitors and organisers - are expected to abide by this Code of Conduct. If necessary, the organisers will act to enforce it.</p>
    
        <p><strong>All attendees are expected to show respect and courtesy to others throughout the conference and at all conference events.</strong> This includes social and fringe events, whether officially sponsored by PyCon Africa or not.</p>
    
</div>

    
</div>


<div class="row">
    
        

<div class="col col-12 col-md-6">
    
        

<div class="card">
    
        

<div class="card-header">
    
        <h2>Communication</h2>

    
</div>

    
        

<div class="card-body">
    
        <p>All communication should be appropriate for a general audience, which will include people from many different religions, cultures and nations.</p>

<p>Sexual language and imagery are not welcome.</p>

<p>Please be thoughtful when making jokes or discussing sensitive topics or issues that are likely to have a strong personal effect on some people. If in doubt, ask for advice or simply moderate your expression.</p>
    
</div>

    
</div>

    
</div>

    
        

<div class="col col-12 col-md-6">
    
        

<div class="card">
    
        

<div class="card-header">
    
        <h2>Harassment</h2>

    
</div>

    
        

<div class="card-body">
    
        <p>PyCon Africa will not tolerate harassment in any form, or language, imagery or behaviour that are:</p>

<ul>
	<li>sexist, racist or exclusionary</li>
	<li>intimidating or threatening</li>
	<li>insulting or unpleasant</li>
</ul>

<p>Harassment can include any unwelcome behaviour directed at another person.</p>
    
</div>

    
</div>

    
</div>

    
</div>


<div class="card bg-primary">
    
        

<div class="card-header">
    
        <h2>In the event of a problem</h2>
    
</div>

    
        

<div class="card-body">
    
        <p>If you are troubled by the behaviour of another attendee at the conference, or are concerned that another attendee may be in distress, please speak immediately to any member of conference staff or contact our code of conduct liaison volunteers. See <a href="/2019/coc/eporting-guidelines/" class>how to report a code of conduct concern</a>.</p>

<p>Your concern will be heard in confidence, taken seriously, and dealt with according to <a href="/2019/coc/guidelines" class>a documented procedure for handling code of conduct reports</a>.</p>

<p>Conference staff - volunteers and organisers - will be on hand throughout the conference. Any concern, whatever it is, will be immediately passed on to a member of the conference committee. The committee will investigate promptly and if necessary will take appropriate action. This could include:</p>

<ul>
	<li>asking a violator of the Code of Conduct to leave the event immediately (no refunds will be forthcoming)</li>
	<li>passing on details of the incident to the <a href="https://www.python.org/psf/" class>Python Software Foundation</a></li>
	<li>informing the police about the incident</li>
</ul>

<p>We will provide you with a written statement of the outcome, whatever it is.</p>

<h3>Transparency report</h3>

<p>We will publish a Code of Conduct report after the conference, containing an anonymised list of any reports we received, and how we responded.</p>
    
</div>

    
</div>


    </div>
  </main>

{% endblock %}