{% load  %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  
<head>
  <!-- Title -->
  <title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
  
  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <!-- Favicon -->
  <link rel="shortcut icon" href="{% static 'fav/favicon.png' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'fav/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'fav/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'fav/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'fav/site.webmanifest' %}">
  
 <!-- Open Graph Metadata -->
<meta property="og:title" content="{% block og_title %}PyCon Africa{% endblock %}">
<meta property="og:description" content="{% block og_description %}PyCon Africa is the annual gathering for the community using and developing the open-source Python programming language.{% endblock %}">
<meta property="og:image" content="{% block og_image %}https://res.cloudinary.com/pycon-africa/image/upload/v1722977619/website_storage_location/media/pyconafrica.png{% endblock %}">
<meta property="og:url" content="{% block og_url %}{{ request.build_absolute_uri }}{% endblock %}">
<meta property="og:type" content="{% block og_type %}website{% endblock %}">
<meta property="og:site_name" content="{% block og_site_name %}PyCon Africa{% endblock %}">

<!-- Twitter Cards Metadata -->
<meta name="twitter:card" content="{% block twitter_card %}summary_large_image{% endblock %}">
<meta name="twitter:title" content="{% block twitter_title %}PyCon Africa{% endblock %}">
<meta name="twitter:description" content="{% block twitter_description %}PyCon Africa is the annual gathering for the community using and developing the open-source Python programming language.{% endblock %}">
<meta name="twitter:image" content="{% block twitter_image %}https://res.cloudinary.com/pycon-africa/image/upload/v1722977619/website_storage_location/media/pyconafrica.png{% endblock %}">
<meta name="twitter:site" content="{% block twitter_site %}@PyConAfrica{% endblock %}">

  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  {% block extra_meta %}{% endblock %}
  
  <!-- Google Fonts -->
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,500,600,700,800">

  <!-- CSS Global Compulsory -->
  <link rel="stylesheet" href="{% static 'uni-theme/vendor/bootstrap/bootstrap.min.css' %}">

  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="{% static 'uni-theme/vendor/icon-awesome/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'uni-theme/vendor/icon-line/css/simple-line-icons.css' %}">
  <link rel="stylesheet" href="{% static 'uni-theme/vendor/icon-hs/style.css' %}">
  <link rel="stylesheet" href="{% static 'uni-theme/vendor/hamburgers/hamburgers.min.css' %}">
  <link rel="stylesheet" href="{% static 'uni-theme/vendor/animate.css' %}">
  <link rel="stylesheet" type="text/css" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css">
  <link rel="stylesheet" type="text/css"  href="https://site-assets.fontawesome.com/releases/v6.1.2/css/all.css"> 
  <link rel="stylesheet" href="{% static 'uni-theme/vendor/fancybox/jquery.fancybox.css' %}">
  <link  rel="stylesheet" href="{% static 'uni-theme/vendor/animate.css' %}">
  <link  rel="stylesheet" href="{% static 'uni-theme/vendor/custombox/custombox.min.css' %}">

  <link  rel="stylesheet" href="{% static 'uni-theme/vendor/dzsparallaxer/dzsparallaxer.css' %}">
  <link  rel="stylesheet" href="{% static 'uni-theme/vendor/dzsparallaxer/dzsscroller/scroller.css' %}">
  <link  rel="stylesheet" href="{% static 'uni-theme/vendor/dzsparallaxer/advancedscroller/plugin.css' %}">
  <link  rel="stylesheet" href="{% static 'uni-theme/vendor/slick-carousel/slick/slick.css' %}">
  <!-- CSS Template -->
  <link rel="stylesheet" href="{% static '2024/css/styles-24.css' %}">

  <!-- CSS Customization -->
  <!--<link rel="stylesheet" href="{% static '2024/css/custom.css' %}">-->
</head>

  <body>





<main>
  

  <!-- Body -->
  {% block content %}
  
  {% endblock %}
  <!-- /Body -->

  {% include '2024/footer.html' %} 

  <a class="js-go-to rounded-0 u-go-to-v1" href="#"
  data-type="fixed"
  data-position='{
    "bottom": 15,
    "right": 15
  }'
  data-offset-top="400"
  data-compensation="#js-header"
  data-show-effect="zoomIn">
 <i class="hs-icon hs-icon-arrow-top"></i>
</a>

</main>



    <!-- JS Global Compulsory -->
    <script src="{% static 'uni-theme/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'uni-theme/vendor/jquery-migrate/jquery-migrate.min.js' %}"></script>
    <script src="{% static 'uni-theme/vendor/popper.js/popper.min.js' %}"></script>
    <script src="{% static 'uni-theme/vendor/bootstrap/bootstrap.min.js' %}"></script>

    <!-- JS Implementing Plugins -->
    <script src="{% static 'uni-theme/vendor/appear.js' %}"></script>
    <script src="{% static 'uni-theme/vendor/masonry/dist/masonry.pkgd.min.js' %}"></script>
    <script src="{% static 'uni-theme/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'uni-theme/vendor/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'uni-theme/vendor/fancybox/jquery.fancybox.js' %}"></script>
    <script src="{% static 'uni-theme/vendor/slick-carousel/slick/slick.js' %}"></script>
    <script src="{% static 'uni-theme/vendor/gmaps/gmaps.min.js' %}"></script>

    <!-- JS Unify -->
    <script src="{% static '2024/js/hs.core.js' %}"></script>
    <script src="{% static '2024/js/components/hs.header.js' %}"></script>
    <script src="{% static '2024/js/helpers/hs.hamburgers.js' %}"></script>
    <script src="{% static '2024/js/components/hs.scroll-nav.js' %}"></script>
    <script src="{% static '2024/js/components/hs.tabs.js' %}"></script>
    <script src="{% static '2024/js/components/hs.countdown.js' %}"></script>
    <script src="{% static '2024/js/components/hs.carousel.js' %}"></script>
    <script src="{% static '2024/js/components/gmap/hs.map.js' %}"></script>
    <script src="{% static '2024/js/components/hs.go-to.js' %}"></script>




    <div class="shortcode-scripts">
      <!-- JS Unify -->
      <!-- JS Plugins Init. -->
      <script >
        $(document).ready(function () {
          // initialization of carousel
          $.HSCore.components.HSCarousel.init('[class*="js-carousel"]');
        });
      </script> 

               <!-- JS Plugins Init. -->
               <script >
                 $(document).on('ready', function () {
                   // initialization of tabs
                   $.HSCore.components.HSTabs.init('[role="tablist"]');
                 });

                 $(window).on('resize', function () {
                   setTimeout(function () {
                     $.HSCore.components.HSTabs.init('[role="tablist"]');
                   }, 200);
                 });
               </script>
             

    <script  src="{% static 'uni-theme/vendor/dzsparallaxer/dzsparallaxer.js' %}"></script>
    <script  src="{% static 'uni-theme/vendor/dzsparallaxer/dzsscroller/scroller.js' %}"></script>
    <script  src="{% static 'uni-theme/vendor/dzsparallaxer/advancedscroller/plugin.js' %}"></script>
    <!-- JS Customization -->
    <script src="{% static '2024/js/custom.js' %}"></script>

    <!-- JS Plugins Init. -->
    <script>
      // initialization of google map
      function initMap() {
        $.HSCore.components.HSGMap.init('.js-g-map');
      }

      $(document).on('ready', function () {
        // initialization of carousel
        $.HSCore.components.HSCarousel.init('.js-carousel');

        // initialization of header
        $.HSCore.components.HSHeader.init($('#js-header'));
        $.HSCore.helpers.HSHamburgers.init('.hamburger');

        // initialization of tabs
        $.HSCore.components.HSTabs.init('[role="tablist"]');

        // initialization of go to section
        $.HSCore.components.HSGoTo.init('.js-go-to');

        // initialization of countdowns
        var countdowns = $.HSCore.components.HSCountdown.init('.js-countdown', {
          yearsElSelector: '.js-cd-years',
          monthElSelector: '.js-cd-month',
          daysElSelector: '.js-cd-days',
          hoursElSelector: '.js-cd-hours',
          minutesElSelector: '.js-cd-minutes',
          secondsElSelector: '.js-cd-seconds'
        });
      });

      $(window).on('load', function() {
        // initialization of HSScrollNav
        $.HSCore.components.HSScrollNav.init($('#js-scroll-nav'), {
          duration: 700
        });

        // initialization of masonry.js
        $('.masonry-grid').imagesLoaded().then(function () {
          $('.masonry-grid').masonry({
            columnWidth: '.masonry-grid-sizer',
            itemSelector: '.masonry-grid-item',
            percentPosition: true
          });
        });
      });

      $(window).on('resize', function () {
        setTimeout(function () {
          $.HSCore.components.HSTabs.init('[role="tablist"]');
        }, 200);
      });
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtt1z99GtrHZt_IcnK-wryNsQ30A112J0&callback=initMap" async></script>
 

                    <script  src="{% static 'uni-theme/vendor/appear.js' %}"></script>
                    <script  src="{% static 'uni-theme/vendor/custombox/custombox.min.js' %}"></script>

                    <!-- JS Unify -->
                    <script  src="{% static '2024/js/components/hs.modal-window.js' %}"></script>

                    <!-- JS Plugins Init. -->
                    <script >
                      $(document).on('ready', function () {
                        // initialization of popups
                        $.HSCore.components.HSModalWindow.init('[data-modal-target]');
                      });
                    </script>


                    <script >
                      $(document).on('ready', function () {
                        // initialization of autonomous popups
                        $.HSCore.components.HSModalWindow.init('.js-autonomous-popup', {
                          autonomous: true
                        });
                      });
                    </script>
 


 <script  src="{% static 'uni-theme/vendor/popper.js/popper.min.js' %}"></script>

  <!-- JS Implementing Plugins -->
  <script  src="{% static 'uni-theme/vendor/appear.js' %}"></script>

  <!-- JS Unify -->
  <script  src="{% static '2024/js/components/hs.onscroll-animation.js' %}"></script>

  <!-- JS Plugins Init. -->
  <script >
    $(document).ready(function () {
      // initialization of scroll animation
      $.HSCore.components.HSOnScrollAnimation.init('[data-animation]');
    });
  </script>

  <!-- JS Unify -->
  <script  src="{% static '2024/js/components/hs.tabs.js' %}"></script>

  <!-- JS Plugins Init. -->
  <script >
    $(document).on('ready', function () {
      // initialization of tabs
      $.HSCore.components.HSTabs.init('[role="tablist"]');
    });

    $(window).on('resize', function () {
      setTimeout(function () {
        $.HSCore.components.HSTabs.init('[role="tablist"]');
      }, 200);
    });
    
  </script>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      // Select all label elements in the form and apply inline styles
      document.querySelectorAll('form label').forEach(function(label) {
        label.style.fontWeight = 'bold';
      });
    });
  </script>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      // Select all help text elements in the form and apply inline styles
      document.querySelectorAll('.help-block').forEach(function(helpText) {
        helpText.style.fontSize = '0.3rem'; // Sets the font size smaller
      });
    });
  </script>
  <style>
    /* Targeting help text within form */
    .form-help-text {
      font-size: 0.8rem; /* Adjust the font size as needed */
    }
  </style>
  
  <script>
    function goBack() {
      window.history.back();
    }
    </script>
  
      <script >
        $(document).on('ready', function () {
          // initialization of carousel
          $.HSCore.components.HSCarousel.init('.js-carousel');
        });
      </script>
</body>
</html>
