{% load  %}
{% load static base_extras %}

 <!-- Header -->
 <header id="js-header" class="u-header u-header--abs-top u-header--show-hide u-header--change-logo u-header--change-appearance" data-header-fix-moment="500" data-header-fix-effect="slide">
  <div class="u-header__section u-header__section--dark g-bg-black-opacity-0_7 g-py-10" data-header-fix-moment-exclude="u-header__section--dark g-bg-black-opacity-0_7 g-py-10" data-header-fix-moment-classes="u-header__section--light g-bg-white-opacity-0_7 u-shadow-v18 g-py-0">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <!-- Responsive Toggle Button -->
        <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-3 g-right-0" type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
          <span class="hamburger hamburger--slider">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
          </span>
          </span>
        </button>
        <!-- End Responsive Toggle Button -->

        <!-- Logo -->
        <a href="/" class="navbar-brand u-header__logo">
          <img class="u-header__logo-img u-header__logo-img--main" src="{% static '2024/img/logo-w.png' %}" alt="Image Description">

          <img class="u-header__logo-img" src="{% static '2024/img/logo-w.png' %}" alt="Image Description">
        </a>
        <!-- End Logo -->

        {% if user.is_authenticated %}
         <!-- Navigation -->
         <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg" id="navBar">
          <ul class="navbar-nav text-uppercase g-font-weight-600 ml-auto">
            <li class="nav-item g-mx-20--lg">
              <a href="/2024" class="nav-link px-0">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown g-mx-20--lg">
              <a href="#" class="nav-link dropdown-toggle g-px-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
              <!-- Submenu (Bootstrap) -->
              <ul class="dropdown-menu rounded-0 g-text-transform-none g-brd-none g-brd-top g-brd-primary g-brd-top-2 g-mt-20 g-mt-10--lg--scrolling">
                <li class="dropdown-item ">
                  <a class="nav-link g-px-0 g-color-black" href="/2024/about/">About Us</a>
                </li>
                <li class="dropdown-item">
                  <a class="nav-link g-px-0 g-color-black" href="/2024/coc">Code of Conduct</a>
                </li> 
                <li class="dropdown-item">
                  <a class="nav-link g-px-0 g-color-black" href="/2024/about/team">Team</a>
                </li> 
              </ul>
              <!-- End Submenu (Bootstrap) -->
            </li>
            <li class="nav-item g-mx-20--lg">
              <a href="/2024/speakers" class="nav-link px-0">Speakers</a>
            </li>
            <li class="nav-item g-mx-20--lg">
              <a href="/2024/speakers" class="nav-link px-0">Schedule</a>
            </li>
            <li class="nav-item g-mx-20--lg">
              <a href="/speakers" class="nav-link px-0">Blog</a>
            </li> 
            <li class="nav-item dropdown g-mx-20--lg">
              <a href="#" class="nav-link dropdown-toggle g-px-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Sponsor</a>
              <!-- Submenu (Bootstrap) -->
              <ul class="dropdown-menu rounded-0 g-text-transform-none g-brd-none g-brd-top g-brd-primary g-brd-top-2 g-mt-20 g-mt-10--lg--scrolling">
                <li class="dropdown-item ">
                  <a class="nav-link g-px-0 g-color-black" href="/2024/sponsor-us">Sponsor Us</a>
                </li>
                <li class="dropdown-item">
                  <a class="nav-link g-px-0 g-color-black " href="/2024/our-sponsors">Our Sponsors</a>
                </li> 
              </ul>
              <!-- End Submenu (Bootstrap) -->
            </li>
            <li class="nav-item dropdown g-mx-20--lg">
              <a href="#" class="nav-link dropdown-toggle g-px-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Past</a>
              <!-- Submenu (Bootstrap) -->
              <ul class="dropdown-menu rounded-0 g-text-transform-none g-brd-none g-brd-top g-brd-primary g-brd-top-2 g-mt-20 g-mt-10--lg--scrolling">
                <li class="dropdown-item">
                  <a class="nav-link g-px-0 g-color-black" href="/2020">2020</a>
                </li>
                <li class="dropdown-item">
                  <a class="nav-link g-px-0 g-color-black" href="/2019">2019</a>
                </li> 
              </ul>
              <!-- End Submenu (Bootstrap) -->
            </li> 
          </ul>

           

        </div>
        <!-- End Navigation -->

 
        {% else %}
 
  <!-- Navigation -->
  <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg" id="navBar">
    <ul class="navbar-nav text-uppercase g-font-weight-600 ml-auto">
      <li class="nav-item g-mx-20--lg">
        <a href="/2024" class="nav-link px-0">Home <span class="sr-only">(current)</span></a>
      </li> 
      <li class="nav-item g-mx-20--lg">
        <a href="/speakers" class="nav-link px-0">Blog</a>
      </li>  
      <li class="nav-item dropdown g-mx-20--lg">
        <a href="#" class="nav-link dropdown-toggle g-px-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Past</a>
        <!-- Submenu (Bootstrap) -->
        <ul class="dropdown-menu rounded-0 g-text-transform-none g-brd-none g-brd-top g-brd-primary g-brd-top-2 g-mt-20 g-mt-10--lg--scrolling">
          <li class="dropdown-item">
            <a class="nav-link g-px-0 g-color-black" href="/2020">2020</a>
          </li>
          <li class="dropdown-item">
            <a class="nav-link g-px-0 g-color-black" href="/2019">2019</a>
          </li> 
        </ul>
        <!-- End Submenu (Bootstrap) -->
      </li> 
    </ul>

     

  </div>
  <!-- End Navigation -->

      
        {% endif %}
      
        

           
      </div>
    </nav>
  </div>
</header>
<!-- End Header -->


 