{% extends "base.html" %}
{% load i18n tz static avatar_tags crispy_forms_tags markdown_extras countries profile_tags talks_tags %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Profile || PyCon Africa" %}{% endif %}{% endblock %}


{% block content %}

<!-- ========== HEADER ========== -->
{% include '2024/navbar.html' %}
<!-- ========== END HEADER ========== -->
  
    <!-- Breadcrumbs -->
    <section class="g-bg-gray-light-v5 g-py-80 g-pt-150">
      <div class="container text-center"> 
        <h1 class="h2 g-color-black g-font-weight-600"> Hello {% if user_profile %}{{ request.user.user_profile.name }} {% else %}{% firstof user.get_short_name user.get_username|capfirst %}{% endif %}</h1> 
        <span class="d-block text-white mb-3 h6"><a class="badge bg-dark text-white rounded-pill ms-1" ><span class=" fw-bold">Welcome to your Profile</span></a></span>
       
        <ul class="u-list-inline">
          <li class="list-inline-item g-mr-5">
            <a class="u-link-v5 g-color-gray-dark-v5 g-color-primary--hover" href="#">Home</a>
            <i class="g-color-gray-light-v2 g-ml-5">/</i>
          </li> 
          <li class="list-inline-item g-color-primary">
            <span>Profile</span>
          </li>
        </ul><br> 
        <i class="fa-solid fa-user-vneck" style="font-size:41px;"></i>

      </div>
      
    </section>
    <!-- End Breadcrumbs --> 
 
 

    <section class="g-mb-100 g-pt-50">
      <div class="container"> 
          <div class="u-shadow-v1-5 g-line-height-2 g-pa-40 g-mb-30" > 
            <div class="row">
              <!-- Profile Sidebar -->
              <div class="col-lg-3 g-mb-50 g-mb-0--lg"> 
                <!-- Profile Pic --> 
                  {% include 'profiles/profilepic_side.html' %}
                <!-- End Profile Pic  -->   

                <!-- Sidebar Navigation -->
                <div class="list-group list-group-border-0 g-mb-40">
                  <div class="media"> 
                    <div class="media-body">
                      <div><b><small class="text-danger">LAST LOGIN</small></b></div>
                      <div class="g-font-size-12 g-color-gray-dark-v3"><b><small>Date:</small></b>  {{ request.user.last_login.date }}</div>
                      <div class="g-font-size-12  g-color-gray-dark-v3"><b><small>Time:</small></b>  {{ request.user.last_login.time }}</div> 
                    </div>
                  </div>
                </div> 
                  
                
                {% if user_profile %}   
                
                      <!-- Overall -->
                      <a href="/accounts/profile/" class="list-group-item list-group-item-action justify-content-between active">
                        <span><i class="fa-solid fa-house-user fa-fade g-pos-rel g-top-1 g-mr-8"></i> My Profile</span> 
                      </a> 
                      <!-- End Overall -->
                      
                      <!-- Overall -->
                      <a href="{% url 'profiles:profile_update' pk=request.user.user_profile.profile_id.hashid  %}" class="list-group-item list-group-item-action justify-content-between">
                        <span><i class="fa-light fa-id-card g-pos-rel g-top-1 g-mr-8"></i>  Update my Profile</span> 
                      </a>
                      <!-- End Overall -->
        
                      <!-- Profile -->
                      <a href="/accounts/password/change/" class="list-group-item list-group-item-action justify-content-between">
                        <span><i class="fa-light fa-lock g-pos-rel g-top-1 g-mr-8"></i>  Change Password</span>
                      </a>
                      <!-- End Profile -->
        
                      <!-- Profile -->
                      <a href="{% url 'talks:talk_list' year=year %}" class="list-group-item list-group-item-action justify-content-between">
                        <span><i class="fa-light fa-podium-star g-pos-rel g-top-1 g-mr-8"></i>  My Submitted Talks</span>
                      </a>
                      <!-- End Profile -->
      
                      <!-- My Submitted Talks -->
                      <a href="{% url 'talks:submit_talk' year=year %}" class="list-group-item list-group-item-action justify-content-between">
                          <span><i class="fa-thin fa-podium g-pos-rel g-top-1 g-mr-8"></i>  Submit a new Talk</span>
                        </a>
                        <!-- End Profile -->


                      {% if perms.reviews.add_review %} 
                        <!-- Review Talks -->
                        <a href="{% url 'talks:talks_to_review' year=year %}" class="list-group-item list-group-item-action justify-content-between">
                          <span><i class="fa-thin fa-ballot-check g-pos-rel g-top-1 g-mr-8"></i> Review Proposals</span>
                        </a>
                        <!-- End Profile --> 
                      {% endif %}
                      
                      {% if request.user.is_superuser %}
                     <!-- Review Talks List-->
                     <a href="{% url 'talks:reviewed_talks_by_category' year=2024 %}" class="list-group-item list-group-item-action justify-content-between">
                      <span><i class="fa-thin fa-list-check g-pos-rel g-top-1 g-mr-8"></i> Proposals by Category</span>
                    </a>
                    
                    <a href="{% url 'talks:reviewed_talks_by_type' year=year %}" class="list-group-item list-group-item-action justify-content-between ">
                      <span><i class="fa-thin fa-list-check g-pos-rel g-top-1 g-mr-8"></i> Proposals by Type</span>
                    </a>
                    <!-- End Profile --> 
                          {% endif %}

                    
                          {% if perms.schedule.add_talkschedule or perms.schedule.change_talkschedule %}
                          <a href="/organizers/conference_schedule/" target="/" class="list-group-item list-group-item-action justify-content-between active">
                              <span><i class="fa-solid fa-calendar-week g-pos-rel g-top-1 g-mr-8"></i> Create/Add to the Schedule</span>
                          </a> 
                      {% endif %}   




 
                {% else %}
                
                   <!-- Overall -->
                   <a href="/accounts/profile/" class="list-group-item list-group-item-action justify-content-between active">
                    <span><i class="fa-solid fa-house-user fa-fade g-pos-rel g-top-1 g-mr-8"></i> My Profile</span> 
                  </a> 
                  <!-- End Overall -->
                {% endif %}<br>

                </div>
                <!-- End Sidebar Navigation -->  
              <!-- End Profile Sidebar --> 
            
            
            
            
            
            
              {% if user_profile %} 
              <!-- Profile Content -->
              {% for user_p in user_profile %}
              {% for detail in details %} 
              <div class="col-lg-9">

          <!-- Figure Body --> 
              <div class="d-flex justify-content-between g-mb-10">
                <div class="g-mb-20">
                  <h4 class="h4 g-mb-5">{{ user_p.surname }} {{ user_p.name }}</h4>
                  <em class="d-block g-font-style-normal g-font-size-default text-uppercase g-color-primary">{% if user_p.profession %} {{ user_p.profession }} {% else %}{% endif %} {% if user_p.organization %} at {{ user_p.organization }}{% else %}{% endif %}.</em>
                  <li class="list-inline-item g-mr-20">
                    <small> <i class="bi bi-geo"></i>from {{ user_p.city }}, {{ user_p.country.name }}<i class=" {{ user_p.country.flag_css }}"></i></small>
                      </li>
                </div>

                <!-- Figure Social Icons -->  
                <ul class="list-inline">
                                  {% if user_p.website %}
                                  <li class="list-inline-item g-mx-2">
                                    <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-gray-light-v1 g-bg-gray-light-v5 g-color-gray-light-v1--hover rounded-circle"  href="{{ user_p.website }}" target="/">
                                      <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa-regular fa-globe-pointer"></i>
                                      <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa-regular fa-globe-pointer"></i>
                                    </a> 
                                  </li> 
                                    {% else %}
                                    {% endif %}
                                    {% if user_p.twitter_handle %} 
                                      <li class="list-inline-item g-mx-2">
                                        <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-gray-light-v1 g-bg-gray-light-v5 g-color-gray-light-v1--hover rounded-circle"  href="https://www.twitter.com/{{ user_p.twitter_handle }}" target="/">
                                          <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa-brands fa-twitter"></i>
                                          <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa-brands fa-twitter"></i>
                                        </a>
                                      </li>
                                    {% else %}
                                    {% endif %}
                                    {% if user_p.github_username %}  
                                      <li class="list-inline-item g-mx-2">
                                        <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-gray-light-v1 g-bg-gray-light-v5 g-color-gray-light-v1--hover rounded-circle"  href="https://www.github.com/{{ user_p.github_username }}" target="/">
                                          <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa-brands fa-github"></i>
                                          <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa-brands fa-github"></i>
                                        </a>
                                      </li>
                                    {% else %}
                                    {% endif %}
                                    {% if user_p.linkedin %}  
                                      <li class="list-inline-item g-mx-2">
                                        <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-gray-light-v1 g-bg-gray-light-v5 g-color-gray-light-v1--hover rounded-circle" href="{{ user_p.linkedin }}" target="/">
                                          <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa-brands fa-linkedin"></i>
                                          <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa-brands fa-linkedin"></i>
                                        </a>
                                      </li>
                                    {% else %}
                                    {% endif %}  
                  
                </ul>
                <!-- End Figure Social Icons -->
              </div>

              <!-- Figure Info -->
              <div class="g-mb-50"> 
                  <p class="markdownx-preview">{{ user_p.biography | markdown | safe }}</p>
                  {{ form.media }} 
              </div>
              <!-- End Info -->
       
    <hr class="u-divider-linear-gradient u-divider-linear-gradient--gray-light-v2 g-my-50">
                  
                {% invitation_list %}

                <!-- Projects & Activities Panels -->
                <div class="row g-mb-40">
                  <div class="col-lg-6 g-mb-40 g-mb-0--lg">
                    <!-- Latest Projects Panel -->
                    <div class="card border-0">
                      <!-- Panel Header -->
                      <div class="card-header d-flex align-items-center justify-content-between g-bg-gray-light-v5 border-0 g-mb-15">
                        <h3 class="h6 mb-0">
                          <i class="fa-solid fa-microphone-stand g-color-black" style="font-size:21px;"></i> &nbsp;&nbsp; Speaking
                          </h3> 
                      </div>
                      <!-- End Panel Header -->

                      <!-- Panel Body -->
                      <div class="js-scrollbar card-block u-info-v1-1 g-bg-white-gradient-v1--after g-height-400 g-pa-0">
                        <ul class="list-unstyled">
                          <li class="media g-brd-around g-brd-gray-light-v4 g-brd-left-3 g-brd-blue-left rounded g-pa-20 g-mb-10"> 
                            <div class="media-body">
                              <div class="d-flex justify-content-between">
                                <h5 class="h6 g-font-weight-600 g-color-black">What it takes to speak at PyCon Africa</h5> 
                              </div>
                              <p>We are inviting speakers of all experience levels and backgrounds to contribute to our conference program at PyCon Africa 2024! ...</p>
                              
                              <p><a href="/2024/talks/speaking/"class="btn btn-sm u-btn-outline-darkgray g-rounded-50 g-mr-10 g-mb-15"><b>Read more...</b></a></p>
                                    
                              
                                   
                                
                            </div>
                          </li> 
                        </ul>
                      </div>
                      <!-- End Panel Body -->
                    </div>
                    <!-- End Latest Projects Panel -->
                  </div>

                  <div class="col-lg-6">
                    <!-- Activities Panel -->
                    <div class="card border-0">
                      <div class="card-header d-flex align-items-center justify-content-between g-bg-gray-light-v5 border-0 g-mb-15">
                        <h3 class="h6 mb-0">
                          <i class="fa-light fa-podium g-color-black" style="font-size:21px;"></i> &nbsp;&nbsp; My Talks
                          </h3> 
                           <a href="{% url 'talks:submit_talk' year=year %}"class="btn btn-sm u-btn-outline-darkgray g-rounded-50  "> <i class="fa-solid fa-exclamation fa-bounce"></i> <b>Submit a Talk</b></a>
                      </div>

                      <div class="my-talks-summary">
                        {% user_talks_summary request.user %}
                      </div>
                    
                    </div>
                    <!-- End Activities Panel -->
                  </div>
                </div>
                <!-- End Projects & Activities Panels -->
    
              </div> 
              {% endfor %}
              {% endfor %}
              <!-- End Profile Content -->
              {% else %} 
    
                <div class="col-lg-9">
                  <section class="g-brd-around g-brd-gray-light-v4">
                    <div class="container g-py-50--md g-py-20">
                      <h2 class="h2 text-uppercase text-center  g-font-weight-300"> Thanks for Signing up! @{% firstof user.get_short_name user.get_username %} 🥳</h2>
                      <p class="mb-0   g-mb-25"><br>
                        We're thrilled to have you join this vibrant community of Python enthusiasts, developers, 
                        and innovators from across Africa and beyond. To get started, we kindly ask you to create your profile.  
                        Please click on the "Create Profile" button below to begin. <br><br>🥂 Here's to an exciting journey ahead at PyCon Africa 2024!
                      </p>
                      <a class="btn btn-md u-btn-primary rounded-0 text-center "  href="{% url 'profiles:create_profile' %}">Create Profile &raquo;</a>
                    </div>
                  </section> 
                </div>   
              {% endif %}
    
            </div>
        </div>
      </div>
    </section>


 
{% endblock %}


