{% load  %}
{% load static %}


{% block footer %}

<div class="u-divider u-divider-solid u-divider-center g-brd-gray-light-v3 g-my-80">
  <img class="u-divider__icon u-divider__icon--indented rounded-circle" src="{% static '2024/img/footer.png' %}" alt="Image Description">
</div>
 
      <!-- Sponsors  
      <div class="js-carousel g-pb-70" data-infinite="true" data-arrows-classes="u-arrow-v1 g-width-40 g-height-40 g-color-gray-dark-v1 g-bg-white g-color-white--hover g-bg-primary--hover rounded g-absolute-centered--x g-bottom-0" data-arrow-left-classes="fa fa-angle-left g-ml-minus-25" data-arrow-right-classes="fa fa-angle-right g-ml-25">
        <div class="js-slide">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="text-center">
                
                <a href="/our-sponsors"><img class="d-inline-block g-width-180 g-brd-around g-brd-5 g-brd-white " src="{% static '2020/img/sponsors/thanks.png' %}" alt="Image Description"></a>
                <br><a class="btn u-shadow-v32 g-color-primary g-color-yellow--hover g-bg-white g-bg-main--hover g-rounded-30 g-px-35 g-py-13" href="/our-sponsors"><b>View our Sponsors making this possible</b></a>  
                
                </div>
            </div>
          </div>
        </div>
        </div>
    End Sponsors -->








      <!-- Footer -->
      <footer class="text-center   g-py-50"> 
        <div class="container">
          <div class="g-py-40 g-color-gray-dark-v1">
            

            <p class="g-mb-30">PyCon Africa is organised by a multi-national 
              team of volunteers on behalf of the global Python programming community. 
             
            </p>
 
          </div> 

    <!-- Copyright -->
    <div class="row">
      <div class="col-md-6 d-flex align-items-center g-mb-15 g-mb-0--md">
        <small class="g-font-size-default"><b>Contact us:</b>   
          <a class="" href="mailto:team@pycon.africa">team@pycon.africa</a> 
        </small>
      </div>

      <div class="col-md-6">
        <ul class="list-inline text-md-right mb-0"> 
            <li class="list-inline-item g-mr-10">
              <a class="u-icon-v3 g-width-35 g-height-35 g-font-size-14 g-color-yellow--hover g-bg-white g-transition-0_2 g-transition--ease-in" href="https://mastodon.social/@pyconafrica" target="/"><i class="fa-brands fa-mastodon"></i></a>
            </li>
            <li class="list-inline-item g-mr-10">
              <a class="u-icon-v3 g-width-35 g-height-35 g-font-size-14 g-color-yellow--hover g-bg-white g-transition-0_2 g-transition--ease-in" href="https://twitter.com/pyconafrica" target="/"><i class="fa-brands fa-twitter"></i></a>
            </li>
            <li class="list-inline-item g-mr-10">
              <a class="u-icon-v3 g-width-35 g-height-35 g-font-size-14 g-color-yellow--hover g-bg-white g-transition-0_2 g-transition--ease-in" href="https://instagram.com/pyconafrica" target="/"><i class="fa-brands fa-instagram"></i></a>
            </li>
            <li class="list-inline-item g-mr-10">
              <a class="u-icon-v3 g-width-35 g-height-35 g-font-size-14 g-color-yellow--hover g-bg-white g-transition-0_2 g-transition--ease-in" href="https://facebook.com/pyconafrica" target="/"><i class="fa-brands fa-facebook"></i></a>
            </li>
            <li class="list-inline-item">
              <a class="u-icon-v3 g-width-35 g-height-35 g-font-size-14 g-color-yellow--hover g-bg-white g-transition-0_2 g-transition--ease-in" href="https://linkedin.com/company/pyconafrica" target="/"><i class="fa-brands fa-linkedin"></i></a>
            </li>   
            <li class="list-inline-item">
              <a class="u-icon-v3 g-width-35 g-height-35 g-font-size-14 g-color-yellow--hover g-bg-white g-transition-0_2 g-transition--ease-in" href="https://www.youtube.com/@PyconAfrica" target="/"><i class="fa-brands fa-youtube"></i></a>
            </li>
          </ul>
      </div>
    </div>
    <!-- End Copyright -->
  </div>
</footer>
<!-- End Footer -->
{% endblock %}