{% load  %}
{% load static %}


{% block footer %}

<div class="u-divider u-divider-solid u-divider-center g-brd-gray-light-v3 g-my-80">
  <img class="u-divider__icon u-divider__icon--indented rounded-circle" src="{% static '2024/img/footer.png' %}" alt="Image Description">
</div>
 

      <!-- Footer -->
      <footer class="text-center">
        <div class="container">
          <div class="g-py-40 g-color-gray-dark-v5">
            

            <p class="g-mb-30">PyCon Africa is organised by a multi-national 
              team of volunteers on behalf of the global Python programming community. </p>

            <ul class="list-inline d-inline-block mb-0"> 
              <li class="list-inline-item g-mr-10">
                <a class="u-icon-v3 g-width-35 g-height-35 g-font-size-14 g-color-yellow--hover g-bg-white g-transition-0_2 g-transition--ease-in" href="https://mastodon.social/@pyconafrica" target="/"><i class="fa-brands fa-mastodon"></i></a>
              </li>
              <li class="list-inline-item g-mr-10">
                <a class="u-icon-v3 g-width-35 g-height-35 g-font-size-14 g-color-yellow--hover g-bg-white g-transition-0_2 g-transition--ease-in" href="https://twitter.com/pyconafrica" target="/"><i class="fa-brands fa-twitter"></i></a>
              </li>
              <li class="list-inline-item g-mr-10">
                <a class="u-icon-v3 g-width-35 g-height-35 g-font-size-14 g-color-yellow--hover g-bg-white g-transition-0_2 g-transition--ease-in" href="https://instagram.com/pyconafrica" target="/"><i class="fa-brands fa-instagram"></i></a>
              </li>
              <li class="list-inline-item g-mr-10">
                <a class="u-icon-v3 g-width-35 g-height-35 g-font-size-14 g-color-yellow--hover g-bg-white g-transition-0_2 g-transition--ease-in" href="https://facebook.com/pyconafrica" target="/"><i class="fa-brands fa-facebook"></i></a>
              </li>
              <li class="list-inline-item">
                <a class="u-icon-v3 g-width-35 g-height-35 g-font-size-14 g-color-yellow--hover g-bg-white g-transition-0_2 g-transition--ease-in" href="https://linkedin.com/company/pyconafrica" target="/"><i class="fa-brands fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </footer>
      <!-- End Footer --> 
{% endblock %}