{% if invitations %}

<li class="media g-brd-around g-brd-gray-light-v4 g-brd-left-3 g-brd-black-left rounded g-pa-20 g-mb-10">
    <div class="d-flex g-mt-2 g-mr-15">
        <i class="fa-solid fa-presentation-screen g-color-black" style="font-size:21px;"></i> 
    </div> 
    <div class="media-body">
      <div class="d-flex justify-content-between">
        <h5 class="h6 g-font-weight-600 g-color-black">You've been invited to join the following session</h5>
        <span class="small text-nowrap g-color-blue"> </span>
      </div> 
        {% for invitation in invitations %} 
                <div class="card-header d-flex align-items-center justify-content-between g-bg-gray-light-v5 border-0 g-mb-15">
                    <h3 class="h6 mb-0">
                        {{ invitation.talk.user.user_profile.name }} {{ invitation.talk.user.user_profile.surname }} has invited you to join the session - {{ invitation.talk.title }} 
                        <br><br><span class="small text-nowrap  g-pt-15"> <a href="{% url 'talks:accept_invitation' year=invitation.talk.event_year.year pk=invitation.talk.pk %}" class="btn btn-xs u-btn-teal g-mr-10 g-mb-15">Accept</a> <a href="{% url 'talks:reject_invitation' year=invitation.talk.event_year.year pk=invitation.talk.pk %}" class="btn btn-xs u-btn-darkred g-mr-10 g-mb-15">Reject</a></span> 
                      </h3>  

                  </div>  
        {% endfor %} 
    </div>
  </li> 
    <hr class="u-divider-linear-gradient u-divider-linear-gradient--gray-light-v2 g-my-50">
{% else %} 
{% endif %}