{% extends "base.html" %}
{% load i18n static markdown_extras  permissions %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Financial Aid || PyCon Africa" %}{% endif %}{% endblock %}


{% block content %}

<!-- ========== HEADER ========== -->
{% include '2024/navbar.html' %}
<!-- ========== END HEADER ========== -->


    <!-- Breadcrumbs -->
    <section class="g-bg-gray-light-v5 g-py-80 g-pt-150">
      <div class="container text-center">
        <h2 class="h2 g-color-black g-font-weight-600">Financial Aid</h2>

        <ul class="u-list-inline">
          <li class="list-inline-item g-mr-5">
            <a class="u-link-v5 g-color-gray-dark-v1 g-color-primary--hover" href="#">Home</a>
            <i class="g-color-gray-light-v2 g-ml-5">/</i>
          </li> 
          <li class="list-inline-item g-mr-5">
            <a class="u-link-v5 g-color-gray-dark-v1 g-color-primary--hover" href="/2024/about/">About</a>
            <i class="g-color-gray-light-v2 g-ml-5">/</i>
          </li> 
          <li class="list-inline-item g-color-primary">
            <span>Financial Aid</span>
          </li>
        </ul><br> 
        
    
        <i class="fa-solid fa-hands-holding-heart" style="font-size:41px;"></i>
      </div>
      
    </section>
    <!-- End Breadcrumbs --> 
 
  

    <!-- body -->
    <div class="container  g-pt-50">
      <div class="row">  
        <div class="u-shadow-v1-5 g-line-height-2 g-pa-40 g-mb-30" >  
        {% for fin_aid in fin_aids %}<br><br>
          <h2 class="text-uppercase g-line-height-1 g-font-weight-700 g-font-size-20 g-mb-30"> 
            <span class="g-color-primary"> {{ fin_aid.title }}</span>
          </h2>
          <!--================ Icon Box ================-->
          <article class="text-size-medium"> 
            <div class="mad-icon-box-content markdownx-preview"> 
              <p class="markdownx-preview">{{ fin_aid.financial_assistance | markdown | safe }}</p>
            {{ form.media }}
            </div>
          </article>
          <!--================ End of Icon Box ================--> 
  
          {% if fin_aid.is_form_open %}
          <section id="fin-form" class="mad-section size-5 mad-section--stretched mad-colorizer--scheme-color-3">
            <br><br>
              {% for fin_aid in fin_aids.all|slice:"0:1" %} 
              <div class="container">
                <div class="mad-col"> 
                  <!--================ Icon Box ================--> 
                 <h2 class="text-uppercase g-line-height-1 g-font-weight-700 g-font-size-20 g-mb-30"> 
                   <span class="g-color-primary">Form</span>
                 </h2> 
                  <div class="overflow-h">    
                    {{ fin_aid.google_form_formfacade_code|safe  }}
                </div>
                
                  <!--================ End of Icon Box ================-->  
                </div>  
                         
               
              </div> {{ form.media }}
              {% endfor %}
            </section>  
          {% elif fin_aid.is_form_closed %}
          <section id="fin-form" class="mad-section size-5 mad-section--stretched mad-colorizer--scheme-color-3">
            <br><br> 
              <div class="container">
                <div class="mad-col"> 
                  <!--================ Icon Box ================--> 
                <h2 class="text-uppercase g-line-height-1 g-font-weight-700 g-font-size-20 g-mb-30"> 
                  <span class="g-color-primary">Form</span>
                </h2> 
          
                  <!-- Border Alert -->
                  <div class="alert fade show g-brd-around g-brd-red rounded-0" role="alert">
                  <button type="button" class="close u-alert-close--light g-ml-10 g-mt-1" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
          
                  <div class="media">
                    <div class="d-flex g-mr-10">
                      <span class="u-icon-v3 u-icon-size--sm g-bg-lightred g-color-white g-rounded-50x">
                        <i class="icon-envelope"></i>
                      </span>
                    </div>
                    <div class="media-body">
                      <div class="d-flex justify-content-between">
                        <p class="m-0"><strong>Hello there!  </strong>
                        </p>
                        <span class="align-self-center small text-nowrap">Just Now</span>
                      </div>
                      <p class="m-0 g-font-size-14">
                        The financial aid application form is now closed.
                    </p>
                    
                    </div>
                  </div>
                </div>
                <!-- End Border Alert -->     
              
              </div>  
            </section> 
          {% elif fin_aid.is_form_not_open_yet %}

          <section id="fin-form" class="mad-section size-5 mad-section--stretched mad-colorizer--scheme-color-3">
          <br><br> 
            <div class="container">
              <div class="mad-col"> 
                <!--================ Icon Box ================--> 
              <h2 class="text-uppercase g-line-height-1 g-font-weight-700 g-font-size-20 g-mb-30"> 
                <span class="g-color-primary">Form</span>
              </h2>  
                <!-- Alert Gray Lighter 5 --> 
                <div class="alert fade show g-bg-gray-light-v5 rounded-0" role="alert">
                  <button type="button" class="close u-alert-close--light g-ml-10 g-mt-1" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>

                  <div class="media">
                    <div class="d-flex g-mr-10">
                      <span class="u-icon-v3 u-icon-size--sm g-bg-lightinfo g-color-white g-rounded-50x">
                        <i class="icon-envelope"></i>
                      </span>
                    </div>
                    <div class="media-body">
                      <div class="d-flex justify-content-between">
                        <p class="m-0"><strong>Hello there!  </strong>
                        </p>
                        <span class="align-self-center small text-nowrap">Just Now</span>
                      </div>
                      <p class="m-0 g-font-size-14">
                        The financial aid application form is yet to open.
                  </p>
                    </div>
                  </div>
                </div>
                <!-- End Alert Gray Lighter 5 -->  
              </div>  
            </div>  
          </section>  
          {% endif %} 
       {% endfor %}
        </div> 
      </div>       
    </div>  
  <!-- End body -->

  

{% endblock %}