{% extends "base.html" %}
{% load i18n static %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Schedule | PyCon Africa" %}{% endif %}{% endblock %}


{% block content %} 

{% include '2024/navbar.html' %}


    <!-- Breadcrumbs -->
    <section class="g-bg-gray-light-v5 g-py-80 g-pt-150">
      <div class="container text-center">
        <h2 class="h2 g-color-black g-font-weight-600">Schedule</h2>

        <ul class="u-list-inline">
          <li class="list-inline-item g-mr-5">
            <a class="u-link-v5 g-color-gray-dark-v1 g-color-primary--hover" href="/">Home</a>
            <i class="g-color-gray-light-v2 g-ml-5">/</i>
          </li>  
          <li class="list-inline-item g-color-primary">
            <span>Schedule</span>
          </li>
        </ul><br> 
        <i class="fa-regular fa-calendar-week" style="font-size:41px;"></i>
      </div>
      
    </section>
    <!-- End Breadcrumbs --> 
 





    <!--
     Our Schedule
     ====================================== -->
    <div class="container  g-pt-50">
       

      <div class="row">
          <div class="u-shadow-v1-5 g-line-height-2 g-pa-30 g-mb-20 col-md-12" role="alert">
            <p class="g-color-black g-font-size-16">  
                This is our provisional schedule and is subject to change and all times listed are based off <a href="https://www.timeanddate.com/time/zones/gmt" target="/"><b><u>Greenwich Mean Time (GMT+0)</u></b></a> zone.
               
                <div class="mad-shedule-head">  
                  <small><li class="btn btn-md u-btn-inset u-btn-yellow g-mr-10 g-mb-15 g-color-black"  data-toggle="tooltip" data-placement="top" title="This indicates the session will run concurrently with another session"><i class="fa-sharp fa-solid fa-screen-users"></i><i class="fa-regular fa-screen-users"></i> <b>Concurrent Sessions</b></li></small> 
              <small> <li class="btn btn-md u-btn-inset u-btn-darkred g-mr-10 g-mb-15"  data-toggle="tooltip" data-placement="top" title="This indicates the session will be a Keynote session"><i class="fa-solid fa-keynote" ></i> <b>Keynote</b></li></small> 
              <small> <li class="btn btn-md u-btn-inset u-btn-bluegray g-mr-10 g-mb-15"  data-toggle="tooltip" data-placement="top" title="This indicates the session will be a Panel Discussion session"> <i class="fa-solid fa-users-line"></i> <b>Panel Discussion</b></li></small>  
               </div>  
            </p>
            <br>
      
 

                <!-- Nav tabs -->
                <ul class="nav nav-justified u-nav-v2-1 u-nav-primary u-nav-rounded-5 g-mb-20" role="tablist" data-target="nav-2-1-accordion-primary-hor-justified" data-tabs-mobile-type="accordion" data-btn-classes="btn btn-md btn-block u-btn-outline-primary g-mb-20">
                  
                  {% for day in days %}
                  <li class="nav-item">
                    <a class="nav-link {% if forloop.first %}active{% endif %}" data-toggle="tab" href="#nav-2-1-accordion-primary-hor-justified--{{ forloop.counter }}" role="tab">{{ day }}</a>
                  </li> 
                  {% endfor %}
                
                </ul>
                <!-- End Nav tabs -->

                <!-- Tab panes -->
                <div id="nav-2-1-accordion-primary-hor-justified" class="tab-content">
                  
                  {% for day in days %} 

                  <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="nav-2-1-accordion-primary-hor-justified--{{ forloop.counter }}" role="tabpanel">
                   
                    {% for schedule in day.schedules %}
                    {% if schedule.talk.status == "A" or schedule.is_an_event is True %}
                
                    <ul class="list-unstyled">
                    <li class="g-brd-around g-brd-gray-light-v4 g-brd-left-3 g-brd-blue-left rounded g-pa-20 g-mb-10">
                      <div class="d-flex justify-content-start"> 
                        <div class="media-body align-self-center">
                          <h4 class="text-uppercase g-font-weight-700 g-font-size-12 g-color-primary g-mb-5">{{ schedule.start_time.time|time:"h:iA" }} - {{ schedule.end_time.time|time:"h:iA" }}</h4>
                          
                    {% if schedule.is_an_event is True %} 
                    <h3 class="text-uppercase g-font-weight-700 g-font-size-23 g-mb-10"><a {% if schedule.event_url %} href="/2024/events/{{ schedule.event_url }}"{% elif schedule.external_url %}href="{{ schedule.external_url }}" target="/" {% else %}{% endif %}>{% if schedule.fa_icon %}<i class="{{ schedule.fa_icon }}"></i> {% else %}{% endif %}{{ schedule.event }}</a></h3>
              
                    {% else %}
                    
                    <h3 class="text-uppercase g-font-weight-700 g-font-size-23 g-mb-10"><a href="/2024/talks/{{schedule.talk.proposal_id}}/detail/">{{ schedule.talk.title }}</a></h3>
                 
                    {% endif %} 
                          <p class="g-color-gray-dark-v2 mb-0"> 
                            {{ schedule.talk.talk_abstract | truncatechars:300 }}
                          </p><br>
                        </div>
                        
                    
                    
                        <span class="ml-auto small g-color-black g-px-10"><b>Room: {{ schedule.allocated_room.room_name }}</b></span>
                      </div>  
                      
                      <div class="d-flex justify-content-between">
                        <ul class="u-list-inline">
                          <li class="list-inline-item mr-0">
                            <img class="g-brd-around g-brd-gray-light-v3 g-pa-2 g-width-40 g-height-40 rounded" data-toggle="tooltip" data-placement="top" title="Speaker:  {{ schedule.talk.user.user_profile.name }} {{ schedule.talk.user.user_profile.surname }}" src="{{ schedule.talk.user.user_profile.profile_image.url }}" alt="Image Description">
                          </li> 
                          {{ schedule.talk.user.user_profile.name }} {{ schedule.talk.user.user_profile.surname }}
                        {% if schedule.talk.speakers.all %} 
                        {% for speaker in schedule.talk.speakers.all %}
                        
                        <li class="list-inline-item mr-0">
                          <img class="g-brd-around g-brd-gray-light-v3 g-pa-2 g-width-40 g-height-40 rounded" data-toggle="tooltip" data-placement="top" title="Speaker:  {{ speaker.user_profile.name }} {{ speaker.user_profile.surname }}" src="{{ speaker.user_profile.profile_image.url }}" alt="Image Description">
                        </li>
                          {{ speaker.get_full_name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                        {% else %}
                        {% endif %}   
                        </ul>
                        <div class="align-self-center"> 
                          <ul>

                            {% if schedule.concurrent_talk is True %}
                            <small><li class="btn btn-xs u-btn-inset u-btn-yellow g-mr-10 g-mb-15 g-color-black" data-toggle="tooltip" data-placement="top" title="This session will run concurrently with another session" ><i class="fa-sharp fa-solid fa-screen-users"></i><i class="fa-regular fa-screen-users"></i></li></small>
                            
                          {% endif %}
                            {% if schedule.is_a_keynote_speaker is True %}  
                            <small> <li class="btn btn-xs u-btn-inset u-btn-darkred  g-mr-10 g-mb-15" data-toggle="tooltip" data-placement="top" title="This will be a Keynote session"><i class="fa-solid fa-keynote"></i></li></small>
                         
                            {% endif %}
                            {% if schedule.is_a_panel is True %}                     
                            <small> <li class="btn btn-xs u-btn-inset u-btn-bluegray g-mr-10 g-mb-15" data-toggle="tooltip" data-placement="top" title="This Panel Discussion session"> <i class="fa-solid fa-users-line"></i></li></small> 
                            
                            {% endif %}
                          </ul>
                        </div>
                      </div>
                    </li> 
                  </ul>

                  {% else %}
                  {% endif %} 

                  {% empty %}



                  <div class="col-md-6">
                    <!-- Warning Alert -->
                    <div class="alert alert-warning" role="alert">
                      <strong>Please note!</strong> 
                      we have no schedule assigned for this day yet
                    </div>
                    <!-- End Warning Alert -->
                  </div>
                  {% endfor %}
                  </div>  

                  {% endfor %}
                </div>
                <!-- End Tab panes -->
                

      </div>
    </div>
    </div>
   






    <!-- end section.schedule -->

 
{% endblock %}