{% extends "base.html" %}
{% load i18n static  avatar_tags crispy_forms_tags markdown_extras embed_video_tags  %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Speakers | PyCon Africa" %}{% endif %}{% endblock %}



{% block content %} 
{% include '2024/navbar.html' %}


    <!-- Breadcrumbs -->
    <section class="g-bg-gray-light-v5 g-py-80 g-pt-150">
      <div class="container text-center">
        <h2 class="h2 g-color-black g-font-weight-600">{{ speaker.name|capfirst }}'s Profile</h2>

        <ul class="u-list-inline">
          <li class="list-inline-item g-mr-5">
            <a class="u-link-v5 g-color-gray-dark-v1 g-color-primary--hover" href="/">Home</a>
            <i class="g-color-gray-light-v2 g-ml-5">/</i>
          </li>  
          <li class="list-inline-item g-mr-5">
            <a class="u-link-v5 g-color-gray-dark-v1 g-color-primary--hover" href="/2024/speakers/">Speakers</a>
            <i class="g-color-gray-light-v2 g-ml-5">/</i>
          </li>  
          <li class="list-inline-item g-color-primary">
            <span>{{ speaker.name|capfirst }}</span>
          </li>
        </ul><br> 
        <i class="fa-regular fa-keynote" style="font-size:41px;"></i>
      </div>
      
    </section>
    <!-- End Breadcrumbs --> 
 




    <!-- Schedule Background Overlay Blocks -->
    <div class="container   g-pb-20">
      <div class="row  justify-content-between">
        <div class="col-lg-9 g-mb-80">
          <div class="g-pr-20--lg">
            <div class="masonry-grid row g-mb-70">
              <div class="masonry-grid-sizer col-sm-1"></div> 
                  <div class="content-element">
          
    <section class="container g-pt-100 g-pb-40">
      <figure class="row">          
        <!-- Figure Image -->
        <div class="col-md-8 offset-md-2 col-lg-4 offset-lg-0 g-mb-30">
          {% if speaker.profile_image %}
          <img class="w-100" src="{{ speaker.profile_image.url }}" alt="{{ speaker.name|capfirst }} Profile Picture"></a>
         
          {% else %}  
          <img class="w-100" src="{% static '/2024/img/speakers/speaker.png' %}" alt="{{ speaker.profile_image }}">
          {% endif %}
        </div>
        <!-- End Figure Image -->

        <!-- Figure Body -->
        <div class="col-lg-8">
          <div class="d-flex justify-content-between g-mb-10">
            <div class="g-mb-20">
              <h4 class="h3 g-mb-5">{{ speaker.name|capfirst }} {{ speaker.surname|capfirst }}</h4>  
              <em class="d-block g-font-style-normal g-font-size-default text-uppercase g-color-primary">{% if speaker.profession %}{{ speaker.profession }}{% else %}{% endif %}{% if speaker.organization %} at {{ speaker.organization }}{% else %}{% endif %}.</em>
            
              <div> {{ speaker.city }}, {{ speaker.country.name }}.<i class=" {{ speaker.country.flag_css }}"></i></div>
            </div>

            <!-- Figure Social Icons -->
            <ul class="list-inline">
              {% if speaker.website %}
              <li><a href="{{ speaker.website }}" target="/" data-toggle="tooltip" data-placement="top" title="Visit {{ speaker.name|capfirst }}'s website" data-original-title=" "><i class="fa-solid fa-globe"></i></a></li>
              {% else %}
              {% endif %} 

                {% if speaker.twitter_handle %}
                
                <li><a href="https://www.twitter.com/{{ speaker.twitter_handle }}" target="/" data-toggle="tooltip" data-placement="top" title="Follow {{ speaker.name|capfirst }} on Twitter" data-original-title=" "><i class="fab fa-twitter"></i></a></li>

              {% else %}
              {% endif %}

              {% if speaker.github_username %}

              <li><a href="https://www.github.com/{{ speaker.github_username }}" target="/" data-toggle="tooltip" data-placement="top" title="Follow {{ speaker.name|capfirst }} on GitHub" data-original-title=" "><i class="fab fa-github"></i></a></li>

              {% else %}
              {% endif %}

              {% if speaker.linkedin %}
              <li><a href="https://www.linkedin.com/in{{ speaker.linkedin }}" target="/" data-toggle="tooltip" data-placement="top" title="Connect with {{ speaker.name|capfirst }} on Linkedin" data-original-title=" "><i class="fab fa-linkedin"></i></a></li>
              {% else %}
              {% endif %}
 
            </ul>
            <!-- End Figure Social Icons -->
          </div> 
          <!-- Figure Info -->
          <div class="g-mb-50">
            <p class="markdownx-preview">{{ speaker.biography | markdown | safe | truncatechars:640 }} 
              {{ form.media }}</p>
          </div>
          <!-- End Info -->
        </div>
        
</figure>
</section>
 

<div class="content-element">
  {% if talks %}
  <h3>Session(s) by {{ speaker.name|capfirst }}</h3>
  <div class="row">
    {% for talk in talks.all %}  
    <div class="col-lg">
      <!--================ Shedule ================-->
      <div class="mad-shedule mad-no-sep mad-shedule-small">
        <header>
          <h4><span>{{  schedules.start_time.time|time:"h:iA" }}</span></h4>
        </header>
        <!--================ Shedule Item ================-->
        <div class="mad-shedule-item mad-dropdown">
          <div class="mad-shedule-head">  
            <h4 class=" "><a href="/2024/talks/{{talk.proposal_id}}/detail/">
              {{ talk.title }}  
            </a></h4> 
            <p class="mad-dropdown-element"> <div class="media-body">
                        
              {% if talk.talk_type %}
              <span class="u-label u-label--sm g-bg-primary g-color-white g-rounded-20 g-px-15"> 
               <li class="btn btn-small btn-style-10"><i class="fa-sharp fa-solid fa-podium"></i>  {{ talk.talk_type }} </li> 
              </span>
              {% else %} 
              {% endif %}

              {% if talk.intended_audience == "BGN-L" %}
               <li class="btn btn-small btn-style-12"><i class="fa-solid fa-users-between-lines"></i> Beginner </li>
              {% elif talk.intended_audience == "INT-L" %}
              <li class="btn btn-small btn-style-11"><i class="fa-solid fa-users-between-lines"></i> Intermediate </li>              
              {% elif talk.intended_audience == "EXP-L" %} 
              <li class="btn btn-small btn-style-9"><i class="fa-solid fa-users-between-lines"></i> Expert </li>                 
              {% endif %}  

            </div> </p>
          </div>
        </div>
        <!--================ End of Shedule Item ================-->
      </div>
      <!--================ End of Shedule ================-->
    </div> 
    {% endfor %}
     
    <div class="col-lg"></div>
  </div>
  {% endif %} 

  {% if events %} 
  <div class="row">
    {% for event in events.all %}  
    {% if event.speaker == speaker.user %} 
    <div class="col-lg">
      <!--================ Shedule ================-->
      <div class="mad-shedule mad-no-sep mad-shedule-small">
        <header>
          <h4><span>{{  schedules.start_time.time|time:"h:iA" }}</span></h4>
        </header>
        <!--================ Shedule Item ================-->
        <div class="mad-shedule-item mad-dropdown">
          <div class="mad-shedule-head"> 
            <h4 class=" "><a href="/talks/{{talk.proposal_id}}/detail/">
              {{ talk.title }}  
            </a></h4> 
            <p class="mad-dropdown-element"> <div class="media-body">
                        
              {% if talk.talk_type %}
              <span class="u-label u-label--sm g-bg-primary g-color-white g-rounded-20 g-px-15"> 
               <li class="btn btn-small btn-style-10"><i class="fa-sharp fa-solid fa-podium"></i>  {{ talk.talk_type }} </li> 
              </span>
              {% else %} 
              {% endif %}

              {% if talk.intended_audience == "BGN-L" %}
               <li class="btn btn-small btn-style-12"><i class="fa-solid fa-users-between-lines"></i> Beginner </li>
              {% elif talk.intended_audience == "INT-L" %}
              <li class="btn btn-small btn-style-11"><i class="fa-solid fa-users-between-lines"></i> Intermediate </li>              
              {% elif talk.intended_audience == "EXP-L" %} 
              <li class="btn btn-small btn-style-9"><i class="fa-solid fa-users-between-lines"></i> Expert </li>                 
              {% endif %}  

            </div> </p>
          </div>
        </div>
        <!--================ End of Shedule Item ================-->
      </div>
      <!--================ End of Shedule ================-->
    </div>  
  {% else %} 
    {% endif %} 

    {% endfor %}
     
    <div class="col-lg"></div>
  </div>
  {% endif %} 
</div>


                    </div>
            </div>
 
          </div>
        </div>

        <div class="col-lg-3 g-brd-left--lg g-brd-gray-light-v4 g-mb-80">
          <div class="g-pl-20--lg"> 

            <hr class="g-brd-gray-light-v4 g-mt-50 mb-0">

            <div id="stickyblock-start">
              <div class="js-sticky-block g-sticky-block--lg g-pt-50" data-start-point="#stickyblock-start" data-end-point="#stickyblock-end">
                <!-- Publications -->
                <div class="g-mb-50">

                  
                  <h3 class="h5 g-color-black g-font-weight-600 mb-4">Other Speakers</h3>
                  {% if related_speakers %}
                  {% for related_speaker in related_speakers %} 
                  <li><a href="/speakers/{{related_speaker.user.profile.slug}}"><b>{{ related_speaker.user.profile.name }} {{ related_speaker.user.profile.surname }}</b></a></li> 
                  {% endfor %} 
                {% else %}
                <li class="alert alert-warning"><b>No Related Speakers</b></li>  
                {% endif %}
 


                </div>
                <!-- End Publications -->

                <hr class="g-brd-gray-light-v4 g-my-50">

                <!-- Tags -->
                <div class="g-mb-40">
                  <h3 class="h5 g-color-black g-font-weight-600 mb-4"> </h3>
                  <ul>


                  </ul>
                </div>
                <!-- End Tags -->

                <hr class="g-brd-gray-light-v4 g-my-50">
 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> <br><br><br>
    <!-- End Schedule Background Overlay Blocks -->








 

 


{% endblock %}