{% extends "base.html" %}
{% load i18n static  avatar_tags crispy_forms_tags markdown_extras embed_video_tags  %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Speakers | PyCon Africa" %}{% endif %}{% endblock %}



{% block content %} 
{% include '2024/navbar.html' %}


    <!-- Breadcrumbs -->
    <section class="g-bg-gray-light-v5 g-py-80 g-pt-150">
      <div class="container text-center">
        <h2 class="h2 g-color-black g-font-weight-600">Speakers</h2>

        <ul class="u-list-inline">
          <li class="list-inline-item g-mr-5">
            <a class="u-link-v5 g-color-gray-dark-v1 g-color-primary--hover" href="/">Home</a>
            <i class="g-color-gray-light-v2 g-ml-5">/</i>
          </li>  
          <li class="list-inline-item g-color-primary">
            <span>Speakers</span>
          </li>
        </ul><br> 
        <i class="fa-solid fa-podium-star" style="font-size:41px;"></i>
      </div>
      
    </section>
    <!-- End Breadcrumbs --> 
 




       <!-- body -->
    <div class="container  g-pt-50">

            <div class=" u-shadow-v1-5 g-line-height-2 g-pa-40 g-mb-30" role="alert">
                
              
                <!-- Speakers List Panel -->
             <div class="card border-0 rounded-0 g-mb-50">
               <div class="card-block g-pa-0">
                 <!-- Speakers List -->


                 <div class="row g-mx-minus-25 g-mb-40">

        
                  {% for speaker in keynote_speakers %}
                  <div class="col-lg-3 col-sm-6 g-mb-30">
                    <!-- Figure -->
                    <figure class="g-color-gray-dark-v2">
                      <!-- Figure Image -->
                      {% if speaker.profile_image %}
                      <img class="w-100 g-mb-30" src="{{ speaker.profile_image.url }}" alt="Image Description">
                      {% else %}  
                      <img class="w-100 g-mb-30" src="{% static '/2024/img/speakers/speaker.png' %}" alt="{{ speaker.profile_image }}">
                      {% endif %}
                      <!-- End Figure Image -->
                
                      <!-- Figure Info -->
                      <em class="d-block g-font-style-normal g-font-size-11 text-uppercase g-color-primary g-mb-5">Keynote Speaker</em>
                      <h4 class="h5 g-color-black-light-v3 g-mb-5"><a href="{% url 'speakers:speaker_detail' year=2024 profile_id=speaker.profile_id %}">{{ speaker.name }} {{ speaker.surname }}</a></h4>
                      <p class="g-font-size-13 g-color-gray-dark-v4">{{ speaker.profession }}</p>
                      <!-- End Info -->
                
                      <hr class="g-brd-gray-light-v4 g-my-15">
                 
                    </figure>
                    <!-- End Figure -->
                  </div> 
                  {% empty %}
                  <p>No Keynote speakers at this time.</p>
                  {% endfor %} 
                </div>
          
 
<hr class="u-divider-linear-gradient u-divider-linear-gradient--gray-light-v2 g-my-50">

                 <div class="row g-mx-minus-25 g-mb-40"> 
          
                  {% for speaker in other_speakers %}
                  <div class="col-6 col-lg-3 g-px-25 g-mb-50">
                    <!-- Team -->
                    <div class="text-center">
                      
                      {% if speaker.profile_image %}
                      <img class="u-shadow-v29 g-width-110 g-height-110 rounded-circle mb-5" src="{{ speaker.profile_image.url }}" alt="{{ speaker.name }} Profile Image">
                    
                      {% else %} 
                      <img class="u-shadow-v29 g-width-110 g-height-110 rounded-circle mb-5" src="{% static '/2024/img/speakers/speaker.png' %}" alt="{{ speaker.profile_image }}">
                      {% endif %}
                     
                      <h4 class="h5 g-font-weight-600 mb-1"><a href="{% url 'speakers:speaker_detail' year=2024 profile_id=speaker.profile_id %}">{{ speaker.name }} {{ speaker.surname }}</a></h4>
                      <span class="d-block g-color-primary">- {{ speaker.profession }}</span>
                      <hr class="g-brd-gray-light-v4 g-my-15"> 
                    </div>
                    <!-- End Team -->
                  </div> 
                  {% empty %}
                  <p>No speakers at this time.</p>
                  {% endfor %}
                  
                </div>
          
 

                 <!-- End Speakers List -->
               </div>
             </div>
             <!-- End Speakers List Panel -->
 
 
 
               </div>

             

      </div>
    <!-- End body -->


 


{% endblock %}