{% extends "2019/base19.html" %}
{% load i18n static %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Home | PyCon Africa 2019" %}{% endif %}{% endblock %}





{% block content %}
  
  <main class="flex-grow-1">
    <div class="container">
        
  

<div class="row">
    
        

<div class="col col-12 col-md-8">
    
        

<div class="card bg-primary">
    
        

<div class="card-header">
    
        <h2 style="text-align: center;">6th-10th August 2019</h2>

<p style="text-align: center;">The first-ever pan-African meeting of the Python programming community</p>
    
</div>

    
</div>

    
</div>

    
        

<div class="col">
    
        <a href="https://www.gofundme.com/f/pycon-africa-financial-assistance" class="btn btn-danger btn-lg btn-block"><i class="far " aria-hidden="true" ></i>Support us via GoFundMe<i class="far " aria-hidden="true" ></i></a>
    
        <a href="travel/guidance-international-visitors/index.html" class="btn btn-success btn-lg btn-block"><i class="far " aria-hidden="true" ></i>Advice for international visitors<i class="far " aria-hidden="true" ></i></a>
    
</div>

    
</div>


<div class="my-1">
    
</div>


<div class="row">
    
        

<div class="col col-12 col-lg-4">
    
        

<div class="card bg-secondary">
    
        

<div class="card-header">
    
        <p style="text-align: center;"><strong>Accra, Ghana</strong></p>
    
</div>

    
        








<img src="{% static '2019/img/accra.jpg__700x400_q90_subsampling-2.jpg' %}"
    alt=""
    
    
    
    class="img-fluid"
>









    
        

<div class="card-footer">
    
        <p style="text-align: center;"><em>a major African technology hub</em></p>
    
</div>

    
</div>

    
</div>

    
        

<div class="col col-12 col-lg-4">
    
        

<div class="card bg-secondary">
    
        

<div class="card-header">
    
        <p style="text-align: center;"><strong>Five days</strong></p>
    
</div>

    
        








<img src="{% static '2019/img/collaboration.jpg__700x400_q90_subsampling-2.jpg' %}"
    alt=""
    
    
    
    class="img-fluid"
>









    
        

<div class="card-footer">
    
        <p style="text-align: center;"><em>talks, workshops, collaboration</em></p>
    
</div>

    
</div>

    
</div>

    
        

<div class="col col-12 col-lg-4">
    
        

<div class="card bg-secondary">
    
        

<div class="card-header">
    
        <p style="text-align: center;"><strong>Hundreds of programmers</strong></p>
    
</div>

    
        








<img src="{% static '2019/img/programmers.jpeg__700x400_q90_subsampling-2.jpg' %}"
    alt=""
    
    
    
    class="img-fluid"
>









    
        

<div class="card-footer">
    
        <p style="text-align: center;"><em>from around Africa and the world</em></p>
    
</div>

    
</div>

    
</div>

    
</div>


<div class="my-5">
    
</div>


<div class="card bg-primary">
    
        

<div class="card-header">
    
        <h2 style="text-align: center;">Our keynote speakers</h2>
    
</div>

    
</div>


<div class="row">
    
        

<div class="col col-12 col-md-6 col-lg-3">
    
        

<div class="card bg-secondary">
    
        

<div class="card-header">
    
        <h3><span style="color: #000000;">Anna Makarudze</span></h3>
    
</div>

    
        








<img src="{% static '2019/img/anna-makarudze.jpg__376x398_q90_subsampling-2.jpg' %}"
    alt=""
    
    
    
    class="img-fluid"
>









    
        

<div class="card-body">
    
        <p>Vice-President<br>
Django Software Foundation</p>
    
</div>

    
</div>

    
</div>

    
        

<div class="col col-12 col-md-6 col-lg-3">
    
        

<div class="card bg-secondary">
    
        

<div class="card-header">
    
        <h3><span style="color: #000000;">Ewa Jodlowska</span></h3>
    
</div>

    
        








<img src="{% static '2019/img/ewa.jpg__376x399_q90_subsampling-2.jpg' %}"
    alt=""
    
    
    
    class="img-fluid"
>









    
        

<div class="card-body">
    
        <p>Executive Director<br>
Python Software Foundation</p>
    
        
    
</div>

    
</div>

    
</div>

    
        

<div class="col col-12 col-md-6 col-lg-3">
    
        

<div class="card bg-secondary">
    
        

<div class="card-header">
    
        <h3><span style="color: #000000;">Kojo Idrissa</span></h3>
    
</div>

    
        








<img src="{% static '2019/img/koidrissa.jpeg__376x399_q90_subsampling-2.jpg' %}"
    alt=""
    
    
    
    class="img-fluid"
>









    
        

<div class="card-body">
    
        <p>Board member<br>
DEFNA</p>
    
</div>

    
</div>

    
</div>

    
        

<div class="col col-12 col-md-6 col-lg-3">
    
        

<div class="card bg-secondary">
    
        

<div class="card-header">
    
        <h3><span style="color: #000000;">Moustapha Cisse</span></h3>
    
</div>

    
        








<img src="{% static '2019/img/moucisse.jpg__376x399_q90_subsampling-2.jpg' %}"
    alt=""
    
    
    
    class="img-fluid"
>









    
        

<div class="card-body">
    
        <p>Head of AI Center, Accra<br>
Google</p>
    
        
    
</div>

    
</div>

    
</div>

    
</div>


<div class="my-5">
    
</div>


<div class="card bg-primary">
    
        

<div class="card-header">
    
        <h2 style="text-align: center;">Our programme</h2>
    
</div>

    
</div>


<div class="row">
    
        

<div class="col col-12 col-md-6 col-lg-3">
    
        

<div class="card bg-secondary">
    
        

<div class="card-header">
    
        <h2><span style="color: #000000;">Workshops</span></h2>
    
</div>

    
        








<img src="{% static '2019/img/djangular.jpg__500x312_q90_subsampling-2.jpg' %}"
    alt=""
    
    
    
    class="img-fluid"
>









    
        

<div class="card-body">
    
        <p>Hands-on workshops and tutorials to develop skills, led by experts in the field.</p>
    
</div>

    
</div>

    
</div>

    
        

<div class="col col-12 col-md-6 col-lg-3">
    
        

<div class="card bg-secondary">
    
        

<div class="card-header">
    
        <h2><span style="color: #000000;">Talks</span></h2>
    
</div>

    
        








<img src="{% static '2019/img/audience2.jpeg__500x312_q90_subsampling-2.jpg' %}"
    alt=""
    
    
    
    class="img-fluid"
>









    
        

<div class="card-body">
    
        <p>A full programme of talks relevant to Python programmers in Africa.</p>
    
        
    
</div>

    
</div>

    
</div>

    
        

<div class="col col-12 col-md-6 col-lg-3">
    
        

<div class="card bg-secondary">
    
        

<div class="card-header">
    
        <h2><span style="color: #000000;">Sprints</span></h2>
    
</div>

    
        








<img src="{% static '2019/img/sorints2.jpg__500x312_q90_subsampling-2.jpg' %}"
    alt=""
    
    
    
    class="img-fluid"
>









    
        

<div class="card-body">
    
        <p>Collaboration on new and established open-source Python projects.</p>
    
</div>

    
</div>

    
</div>

    
        

<div class="col col-12 col-md-6 col-lg-3">
    
        

<div class="card bg-secondary">
    
        

<div class="card-header">
    
        <h2><span style="color: #000000;">Community</span></h2>
    
</div>

    
        








<img src="{% static '2019/img/community.jpeg__500x312_q90_subsampling-2.jpg' %}"
    alt=""
    
    
    
    class="img-fluid"
>









    
        

<div class="card-body">
    
        <p>Events to develop national and pan-African Python software communities.</p>
    
        
    
</div>

    
</div>

    
</div>

    
</div>


    </div>
  </main>

  {% endblock %}
