{% extends "base.html" %}
{% load i18n static %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Our Sponsors | PyCon Africa 2020" %}{% endif %}{% endblock %}

 
{% block content %}
{% include 'navbar.html' %}

      <!-- Section Content -->
      <section class="g-bg-img-hero g-pos-rel u-bg-overlay g-bg-darkblue-opacity-0_6--after g-pt-150" style="background-image: url({% static '2020/img/body1.png' %});">
        <div class="container g-max-width-750 u-bg-overlay__inner g-color-white g-mb-60">
            <h3 class="text-center text-uppercase h3 g-font-weight-700 g-font-size-20 g-font-size-50--md g-color-primary g-mb-20 g-mb-50--md">Our Sponsors</h3>
            <br>
            <br>
        </div>

      </section>
      <!-- End Section Content -->
      

    <section>
        <div class="col-md-12">
            <div class="panel panel-danger wow fadeInLeft">
                    <div class="container">
                        <div class="row ">
                                            
                        {% if diamond %}
                        <div class="u-shadow-v1-5 g-line-height-2 g-pa-40 g-mb-30 align-self-lg-center text-center" style="width: 100%;" role="alert">
                            <ul class="list-unstyled align-self-lg-center">
                              <img class="g-height-30 " src="{% static '2020/img/sponsors/diamond.png' %}" alt="{{ sponsor.name }}">
                              <br>
                              <li class="media g-brd-around g-brd-gray-light-v4 g-brd-left-3 g-brd-blue-left rounded g-pa-20 g-mb-200">
                                <div class="row">
                                {% for sponsor in diamond %}
                                  <div class="col-md-6 g-mb-30">
                                    <a  href="#" >
                                    <img class='img-responsive' src="{{ sponsor.logo.url }}" alt="{{ sponsor.name }}">
                                    </a>
                                  </div>
                                {% endfor %}


                                <div class="col-md-4 g-mb-30">
                                    <a  href="#" >
                                      <img class="img-fluid" style="width: 100%;" src="{% static '2020/img/sponsors/blank.png' %}" alt="{{ sponsor.name }}">
                                    </a>
                                  </div>
              
                                </div>
                              </li>
                            </ul>
                        </div>
                        {% endif %}


                        {% if gold %}
                        <div class="u-shadow-v1-5 g-line-height-2 g-pa-40 g-mb-30 align-self-lg-center text-center" style="width: 100%;" role="alert">
                            <ul class="list-unstyled align-self-lg-center">
                              <img class="g-height-30 " src="{% static '2020/img/sponsors/gold.png' %}" alt="{{ sponsor.name }}">
                              <br>
                              <li class="media g-brd-around g-brd-gray-light-v4 g-brd-left-3 g-brd-yellow-left rounded g-pa-20 g-mb-200">
                               <div class="row">
                                {% for sponsor in gold %}
                                  <div class="col-md-4 g-mb-30">
                                    <a  href="#" >
                                      <img class='img-responsive' style="width: 100%;" src="{{ sponsor.logo.url }}" alt="{{ sponsor.name }}">
                                    </a>
                                  </div>
                                {% endfor %}

                                <div class="col-md-4 g-mb-30">
                                    <a  href="#" >
                                      <img class="img-fluid" style="width: 100%;" src="{% static '2020/img/sponsors/blank.png' %}" alt="{{ sponsor.name }}">
                                    </a>
                                  </div>
              
                                </div>
                              </li>
                            </ul>
                          
                        </div>
                        {% endif %}
            
                         
                        {% if silver%}
                        <div class="u-shadow-v1-5 g-line-height-2 g-pa-40 g-mb-30 align-self-lg-center text-center" style="width: 100%;" role="alert">
                            <ul class="list-unstyled align-self-lg-center">
                              <img class="g-height-30 " src="{% static '2020/img/sponsors/silver.png' %}" alt="{{ sponsor.name }}">
                              <br>
                              <li class="media g-brd-around g-brd-gray-light-v4 g-brd-left-3 g-brd-gray-left rounded g-pa-20 g-mb-200">
                               <div class="row">
                                {% for sponsor in silver %}
                                  <div class="col-md-4 g-mb-30">
                                    <a  href="#" >
                                      <img class='img-responsive' style="width: 100%;" src="{{ sponsor.logo.url }}" alt="{{ sponsor.name }}">
                                    </a>
                                  </div>
                                {% endfor %}

                                <div class="col-md-4 g-mb-30">
                                    <a  href="#" >
                                      <img class="img-fluid" style="width: 100%;" src="{% static '2020/img/sponsors/blank.png' %}" alt="{{ sponsor.name }}">
                                    </a>
                                  </div>
              
                                </div>
                              </li>
                            </ul>
                          
                        </div>
                        {% endif %}

                        
                        {% if bronze %}
                        <div class="u-shadow-v1-5 g-line-height-2 g-pa-40 g-mb-30 align-self-lg-center text-center" style="width: 100%;"  role="alert">
               
                            <ul class="list-unstyled align-self-lg-center">
                              <img class="g-height-30 " src="{% static '2020/img/sponsors/bronze.png' %}" alt="{{ sponsor.name }}">
                              <br>
                              <li class="media g-brd-around g-brd-gray-light-v4 g-brd-left-3 g-brd-brown-left rounded g-pa-20 g-mb-200">
                                <div class="row">

                                {% for sponsor in bronze %}
                                  <div class="col-md-3 g-mb-30">
                                    <a  href="#" >
                                      <img class='img-responsive'  style="width: 100%;" src="{{ sponsor.logo.url }}" alt="{{ sponsor.name }}">
                                    </a>
                                  </div>
                                  {% endfor %}


                                  <div class="col-md-3 g-mb-30">
                                    <a  href="#" >
                                      <img class="img-fluid" src="{% static '2020/img/sponsors/blank.png' %}" alt="{{ sponsor.name }}">
                                    </a>
                                  </div>
              
                                
                                </div>
                              </li>
                            </ul>
                        </div>
                        {% endif %}
              
    
                        {% if other %}
                        <div class="u-shadow-v1-5 g-line-height-2 g-pa-40 g-mb-30 align-self-lg-center text-center" style="width: 100%;"  role="alert">
               
                <ul class="list-unstyled align-self-lg-center">
                  <img class="g-height-30 " src="{% static '2020/img/sponsors/others.png' %}" alt="Image Description">
                  <br>
                  <li class="media g-brd-around  g-mb-200">
                    <br><br>
                    <div class="row">

                        {% for sponsor in other %}
                      <div class="col-md-2 g-mb-30">
                        <a  href="#" >
                          <img class="img-fluid" src="{{ sponsor.logo.url }}" alt="Image Description">
                        </a>
                      </div>
                      {% endfor %}
                    

                      <div class="col-md-2 g-mb-30">
                        <a  href="#" >
                          <img class="img-fluid" src="{% static '2020/img/sponsors/blank.png' %}" alt="{{ sponsor.name }}">
                        </a>
                      </div>
                      <div class="col-md-2 g-mb-30">
                        <a  href="#" >
                          <img class="img-fluid" src="{% static '2020/img/sponsors/blank.png' %}" alt="{{ sponsor.name }}">
                        </a>
                      </div>
                      <div class="col-md-2 g-mb-30">
                        <a  href="#" >
                          <img class="img-fluid" src="{% static '2020/img/sponsors/blank.png' %}" alt="{{ sponsor.name }}">
                        </a>
                      </div>
  
                    </div>
                  </li>
                  {% if individual %}
                  <br><br>
                        <div class="container-fluid">
                            <div class="row">
                                    {% for sponsor in individual %}
                                    <div class="col-md-2">
                                        <h6><a href="{{ sponsor.url }}" target="_blank">{{ sponsor.name }}</a></h6>
                                    </div>
                                    {% endfor %}
    
                            </div>
                        </div>
                        {% endif %}
                </ul>
                        </div>
                        {% endif %}
    

                        </div>
                    </div>
            </div>
        </div>
    </section>



    {% include 'footer.html' %}

{% endblock %}